Repository formancehq/stack, changes with the labels that .github/labeler.yml gives for each.
All labels: libs, openapi, sdks, github, components/auth, components/fctl, components/ledger, components/machine, components/operator, components/orchestration, components/payments, components/search, components/wallets, components/webhooks

.github/labeler.yml:

libs:
  - libs/*
openapi:
  - openapi/*
sdks:
  - sdks/*
github:
  - .github/*

# Components
'components/auth':
  - components/auth/*
'components/fctl':
  - components/fctl/*
'components/ledger':
  - components/ledger/*
'components/machine':
  - components/machine/*
'components/operator':
  - components/operator/*
'components/orchestration':
  - components/orchestration/*
'components/payments':
  - components/payments/*
'components/search':
  - components/search/*
'components/wallets':
  - components/wallets/*
'components/webhooks':
  - components/webhooks/*

feat(fctl): Update
  components/fctl/cmd/cloud/billing/setup.go
  components/fctl/go.sum
  go.work.sum
Labels: components/fctl

feat(ledger): Update
  components/ledger/.goreleaser.yml
  components/ledger/Dockerfile
Labels: components/ledger

feat: remove .devcontainer
  components/ledger/.devcontainer/Dockerfile
  components/ledger/.devcontainer/devcontainer.json
Labels: none

fix: approval on organizations accesses
  components/fctl/pkg/approval.go
Labels: none

fix: approval on organizations accesses (#31)
  components/fctl/pkg/approval.go
Labels: none

ci: Add tagname for Docker
  .github/workflows/release.yml
  go.work.sum
Labels: none

ci: Add tagname for Docker
  .github/actions/extract-in-tag/service.js
  .github/actions/extract-in-tag/version.js
  .github/workflows/release.yml
Labels: none

feat: Add Licence & Update .goreleaser.yml
  LICENSE
  components/auth/.goreleaser.yml
  components/fctl/.goreleaser.yml
  components/ledger/.goreleaser.yml
  components/operator/.goreleaser.yml
  components/orchestration/.goreleaser.yml
  components/search/.goreleaser.yml
  components/wallets/.goreleaser.yml
  components/webhooks/.goreleaser.yml
Labels: components/auth, components/fctl, components/ledger, components/operator, components/orchestration, components/search, components/wallets, components/webhooks

feat: Fix dockerfile for Wallets & Webhooks
  components/wallets/build.Dockerfile
  components/webhooks/build.Dockerfile
Labels: components/wallets, components/webhooks

feat: Upgrade CI
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  components/operator/Dockerfile
  components/operator/build.Dockerfile
  components/operator/config/manager/manager.yaml
  libs/go-project-template/.github/workflows/build_branch.yml
  libs/go-project-template/.github/workflows/main.yml
Labels: components/operator

fix: payments build
  components/payments/Dockerfile
Labels: components/payments

fix: json key
  components/orchestration/internal/workflow/manager.go
Labels: none

wip
  components/fctl/cmd/orchestration/instances/describe.go
Labels: none

fix: stage history response format
  components/orchestration/internal/workflow/manager.go
  components/orchestration/openapi.yml
Labels: components/orchestration

fix: stage history response format
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/docs/WorkflowInstanceHistoryStageOutput.md
  sdks/go/model_workflow_instance_history_stage_output.go
Labels: none

fix: compilation errors
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/go.mod
Labels: components/fctl

fix: operator build
  components/operator/Dockerfile
Labels: components/operator

fix: histories
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/go.mod
  components/orchestration/internal/workflow/manager.go
  components/orchestration/internal/workflow/stages/send/run.go
Labels: components/fctl

fix: panic
  components/fctl/cmd/orchestration/instances/describe.go
  components/orchestration/examples/ledger-to-ledger.yaml
  components/orchestration/examples/ledger-to-wallet.yaml
  components/orchestration/examples/payin-to-wallet.yaml
  components/orchestration/examples/wallet-to-payout.yaml
  components/orchestration/internal/workflow/manager.go
Labels: none

fix: some fix
  components/fctl/cmd/orchestration/instances/describe.go
Labels: none

fix: json typo
  components/fctl/cmd/orchestration/instances/describe.go
  components/orchestration/internal/workflow/activities/activity_wallet_debit.go
Labels: none

feat: add some information on histories
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/cmd/root.go
  components/fctl/pkg/print.go
  components/fctl/pkg/theme.go
  components/orchestration/internal/workflow/manager.go
  components/orchestration/openapi.yml
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/docs/WorkflowInstanceHistory.md
  sdks/go/docs/WorkflowInstanceHistoryStage.md
  sdks/go/model_workflow_instance_history.go
  sdks/go/model_workflow_instance_history_stage.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/WorkflowInstanceHistory.md
  sdks/java/docs/WorkflowInstanceHistoryStage.md
  sdks/java/src/main/java/com/formance/formance/model/WorkflowInstanceHistory.java
  sdks/java/src/main/java/com/formance/formance/model/WorkflowInstanceHistoryStage.java
  sdks/php/docs/Model/WorkflowInstanceHistory.md
  sdks/php/docs/Model/WorkflowInstanceHistoryStage.md
  sdks/php/lib/Model/WorkflowInstanceHistory.php
  sdks/php/lib/Model/WorkflowInstanceHistoryStage.php
  sdks/python/Formance/model/workflow_instance_history.py
  sdks/python/Formance/model/workflow_instance_history.pyi
  sdks/python/Formance/model/workflow_instance_history_stage.py
  sdks/python/Formance/model/workflow_instance_history_stage.pyi
  sdks/python/docs/models/WorkflowInstanceHistory.md
  sdks/python/docs/models/WorkflowInstanceHistoryStage.md
  sdks/typescript-node/models/WorkflowInstanceHistory.ts
  sdks/typescript-node/models/WorkflowInstanceHistoryStage.ts
Labels: components/orchestration

feat: add wait_event and refactor tests
  components/orchestration/internal/api/handler_post_event.go
  components/orchestration/internal/workflow/event.go
  components/orchestration/internal/workflow/manager.go
  components/orchestration/internal/workflow/stages/all/all.go
  components/orchestration/internal/workflow/stages/delay/run_test.go
  components/orchestration/internal/workflow/stages/internal/stagestesting/schema.go
  components/orchestration/internal/workflow/stages/internal/stagestesting/workflow.go
  components/orchestration/internal/workflow/stages/send/run_test.go
  components/orchestration/internal/workflow/stages/wait_event/run.go
  components/orchestration/internal/workflow/stages/wait_event/wait_event.go
  components/orchestration/internal/workflow/stages/wait_event/wait_event_test.go
Labels: none

feat: add wait_event on fctl
  components/fctl/cmd/orchestration/instances/describe.go
Labels: none

refactor: split send process in functions
  components/orchestration/internal/workflow/stages/send/run.go
Labels: none

feat: add account to account mixed ledger
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
Labels: none

feat: add account to wallet mixed ledger
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
Labels: none

feat: add wallet to account mixed ledger
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
Labels: none

feat: add wallet to wallet mixed ledger
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
Labels: none

feat: add metadata print on fctl
  components/fctl/cmd/orchestration/instances/describe.go
Labels: none

feat: add capability to specify metadata key to search stripeConnectID
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
  components/orchestration/internal/workflow/stages/send/send.go
Labels: none

fix(fctl): default membership uri
  components/fctl/pkg/config.go
Labels: none

feat: print some info
  components/fctl/cmd/orchestration/instances/describe.go
Labels: none

fix(fctl): default membership uri
  components/fctl/pkg/config.go
Labels: none

feat(wallet): add ledger on transactions list
  components/wallets/openapi.yml
  components/wallets/pkg/manager.go
  components/wallets/pkg/transaction.go
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/docs/WalletsTransaction.md
  sdks/go/model_wallets_transaction.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/WalletsTransaction.md
  sdks/java/src/main/java/com/formance/formance/model/WalletsTransaction.java
  sdks/php/docs/Model/WalletsTransaction.md
  sdks/php/lib/Model/WalletsTransaction.php
  sdks/python/Formance/model/wallets_transaction.py
  sdks/python/Formance/model/wallets_transaction.pyi
  sdks/python/docs/models/WalletsTransaction.md
  sdks/typescript-node/models/WalletsTransaction.ts
Labels: components/wallets

fix: json marshalling
  components/wallets/pkg/transaction.go
Labels: none

fix: json marshalling
  components/wallets/pkg/transaction.go
Labels: none

feat(wallet): add ledger on transactions list
  components/wallets/openapi.yml
  components/wallets/pkg/manager.go
  components/wallets/pkg/transaction.go
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/docs/WalletsTransaction.md
  sdks/go/model_wallets_transaction.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/WalletsTransaction.md
  sdks/java/src/main/java/com/formance/formance/model/WalletsTransaction.java
  sdks/php/docs/Model/WalletsTransaction.md
  sdks/php/lib/Model/WalletsTransaction.php
  sdks/python/Formance/model/wallets_transaction.py
  sdks/python/Formance/model/wallets_transaction.pyi
  sdks/python/docs/models/WalletsTransaction.md
  sdks/typescript-node/models/WalletsTransaction.ts
Labels: components/wallets

feat: add capability to list only running instances
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/cmd/orchestration/instances/list.go
  components/fctl/cmd/orchestration/instances/show.go
  components/orchestration/internal/api/handler_list_instances.go
  components/orchestration/internal/api/handler_list_instances_test.go
  components/orchestration/internal/storage/migrations/00003_add_error_on_instances.go
  components/orchestration/internal/workflow/config.go
  components/orchestration/internal/workflow/input.go
  components/orchestration/internal/workflow/instance.go
  components/orchestration/internal/workflow/manager.go
  components/orchestration/internal/workflow/stages/wait_event/run.go
  components/orchestration/openapi.yml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/api_orchestration.go
  sdks/go/docs/OrchestrationApi.md
  sdks/go/docs/WorkflowInstance.md
  sdks/go/model_workflow_instance.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/OrchestrationApi.md
  sdks/java/docs/WorkflowInstance.md
  sdks/java/src/main/java/com/formance/formance/api/OrchestrationApi.java
  sdks/java/src/main/java/com/formance/formance/model/WorkflowInstance.java
  sdks/php/docs/Api/OrchestrationApi.md
  sdks/php/docs/Model/WorkflowInstance.md
  sdks/php/lib/Api/OrchestrationApi.php
  sdks/php/lib/Model/WorkflowInstance.php
  sdks/python/Formance/model/workflow_instance.py
  sdks/python/Formance/model/workflow_instance.pyi
  sdks/python/Formance/paths/api_orchestration_instances/get.py
  sdks/python/Formance/paths/api_orchestration_instances/get.pyi
  sdks/python/docs/apis/tags/OrchestrationApi.md
  sdks/python/docs/models/WorkflowInstance.md
  sdks/typescript-node/OrchestrationApi.md
  sdks/typescript-node/apis/OrchestrationApi.ts
  sdks/typescript-node/models/WorkflowInstance.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
Labels: components/orchestration

feat: add capability to list only running instances
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/cmd/orchestration/instances/list.go
  components/fctl/cmd/orchestration/instances/show.go
  components/orchestration/internal/api/handler_list_instances.go
  components/orchestration/internal/api/handler_list_instances_test.go
  components/orchestration/internal/storage/migrations/00003_add_error_on_instances.go
  components/orchestration/internal/workflow/config.go
  components/orchestration/internal/workflow/input.go
  components/orchestration/internal/workflow/instance.go
  components/orchestration/internal/workflow/manager.go
  components/orchestration/internal/workflow/stages/wait_event/run.go
  components/orchestration/openapi.yml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/api_orchestration.go
  sdks/go/docs/OrchestrationApi.md
  sdks/go/docs/WorkflowInstance.md
  sdks/go/model_workflow_instance.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/OrchestrationApi.md
  sdks/java/docs/WorkflowInstance.md
  sdks/java/src/main/java/com/formance/formance/api/OrchestrationApi.java
  sdks/java/src/main/java/com/formance/formance/model/WorkflowInstance.java
  sdks/php/docs/Api/OrchestrationApi.md
  sdks/php/docs/Model/WorkflowInstance.md
  sdks/php/lib/Api/OrchestrationApi.php
  sdks/php/lib/Model/WorkflowInstance.php
  sdks/python/Formance/model/workflow_instance.py
  sdks/python/Formance/model/workflow_instance.pyi
  sdks/python/Formance/paths/api_orchestration_instances/get.py
  sdks/python/Formance/paths/api_orchestration_instances/get.pyi
  sdks/python/docs/apis/tags/OrchestrationApi.md
  sdks/python/docs/models/WorkflowInstance.md
  sdks/typescript-node/OrchestrationApi.md
  sdks/typescript-node/apis/OrchestrationApi.ts
  sdks/typescript-node/models/WorkflowInstance.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
Labels: components/orchestration
