Repository formancehq/stack, changes with the labels that .github/labeler.yml gives for each.
All labels: libs, openapi, sdks, github, components/auth, components/fctl, components/ledger, components/machine, components/operator, components/orchestration, components/payments, components/search, components/wallets, components/webhooks

fix task files and lint go files
  Taskfile.yaml
  components/gateway/cmd/build.go
Labels: none

remove useless files
  components/gateway/docker-compose.yml
  components/gateway/reflex.Dockerfile
Labels: none

git subrepo pull --force components/ledger
  components/ledger/.gitrepo
  components/ledger/pkg/ledger/execute_script.go
Labels: components/ledger

change versions plugin implementation
  components/gateway/Caddyfile
  components/gateway/builder-config.json
  components/gateway/cmd/root.go
  components/gateway/go.mod
  components/gateway/go.sum
  components/gateway/pkg/plugins/versions.go
  config/gateway/Caddyfile
  go.work.sum
Labels: none

clean files and format caddyfiles
  components/gateway/Caddyfile
  components/gateway/builder-config.json
  components/gateway/pkg/plugins/versions.go
  config/gateway/Caddyfile
  docker-compose.yml
Labels: none

gateway/go.mod: remove old go-libs
  components/gateway/cmd/root.go
  components/gateway/go.mod
  components/gateway/go.sum
  go.work.sum
Labels: none

dockercompose: add missing env var
  docker-compose.yml
Labels: none

caddy: add tracing
  components/gateway/Caddyfile
  config/gateway/Caddyfile
  docker-compose.yml
Labels: none

feat: Add Bench for Ledger
  .github/workflows/pr_ledger.yml
  .github/workflows/pull_request.yml
Labels: none

feat: Add Bench for Ledger
  .github/workflows/labeler.yml
  .github/workflows/pull_request.yml
Labels: none

fix: cleanup
  .github/workflows/pr_ledger.yml
  .gitignore
  tests/loadtesting/.babelrc
  tests/loadtesting/.gitignore
  tests/loadtesting/.yarnclean
  tests/loadtesting/Dockerfile
  tests/loadtesting/README.md
  tests/loadtesting/Taskfile.yaml
  tests/loadtesting/docker-compose.ledger.yml
  tests/loadtesting/libs/client/1_3/client.ts
  tests/loadtesting/libs/client/1_3/index.ts
  tests/loadtesting/libs/client/1_4/client.ts
  tests/loadtesting/libs/client/1_4/index.ts
  tests/loadtesting/libs/client/1_5/client.ts
  tests/loadtesting/libs/client/1_5/index.ts
  tests/loadtesting/libs/client/1_7/client.ts
  tests/loadtesting/libs/client/1_7/index.ts
  tests/loadtesting/libs/client/base/index.ts
  tests/loadtesting/libs/client/index.ts
  tests/loadtesting/libs/config/index.ts
  tests/loadtesting/libs/core/expectations.ts
  tests/loadtesting/libs/core/index.ts
  tests/loadtesting/libs/core/versions.ts
  tests/loadtesting/package.json
  tests/loadtesting/src/ledger/accounts-test.ts
  tests/loadtesting/src/ledger/infos-test.ts
  tests/loadtesting/src/ledger/stats-test.ts
  tests/loadtesting/src/ledger/transactions-test.ts
  tests/loadtesting/src/ledger/write-transactions-test.ts
  tests/loadtesting/tests/ledger-all.ts
  tests/loadtesting/tsconfig.json
  tests/loadtesting/tslint.json
  tests/loadtesting/webpack.config.js
  tests/loadtesting/yarn.lock
Labels: none

fix: cleanup
  components/orchestration/go.sum
  go.work.sum
Labels: components/orchestration

git subrepo clone --force https://github.com/formancehq/machine components/machine
  components/machine/.gitrepo
  components/machine/go.mod
  components/machine/go.sum
Labels: components/machine

fix: cleanup
  components/machine/.github/workflows/main.yml
  components/machine/.github/workflows/pr_open.yml
Labels: none

fix: cleanup
  openapi/Taskfile.yaml
Labels: openapi

fix: cleanup
  components/operator/go.mod
  components/operator/go.sum
Labels: components/operator

fix: cleanup
  .gitignore
  Taskfile.yaml
  components/machine/.github/workflows/main.yml
  components/machine/.github/workflows/pr_open.yml
  components/machine/.gitrepo
  components/payments/go.mod
Labels: components/machine, components/payments

feat: cleanup
  openapi/package-lock.json
  tests/loadtesting/.eslintrc.js
  tests/loadtesting/package.json
  tests/loadtesting/tslint.json
  tests/loadtesting/yarn.lock
Labels: openapi

chore: cleanup
  go.work.sum
  tests/loadtesting/results/results.json
Labels: none

fix: cleanup
  components/ledger/pkg/machine/script/antlr-4.10.1-complete.jar
Labels: none

gateway: fix builder version and docker compose version
  components/gateway/builder-config.json
  docker-compose.yml
Labels: none

deps: upgrade all deps because of opentelemetry
  components/auth/go.mod
  components/auth/go.sum
  components/auth/pkg/storage/sqlstorage/database.go
  components/gateway/builder-config.json
  components/gateway/go.mod
  components/gateway/go.sum
  components/ledger/go.mod
  components/ledger/go.sum
  components/orchestration/go.mod
  components/orchestration/go.sum
  components/payments/go.mod
  components/payments/go.sum
  go.work.sum
Labels: components/auth, components/ledger, components/orchestration, components/payments

feat(local): Improve local env (#52)
  docker-compose.override.yml
  docker-compose.yml
  reflex.Dockerfile
Labels: none

fix: add proper version for gateway for local dev and bump deps (#55)
  components/auth/go.mod
  components/auth/go.sum
  components/auth/pkg/storage/sqlstorage/database.go
  components/gateway/builder-config.json
  components/gateway/go.mod
  components/gateway/go.sum
  components/ledger/go.mod
  components/ledger/go.sum
  components/orchestration/go.mod
  components/orchestration/go.sum
  components/payments/go.mod
  components/payments/go.sum
  docker-compose.yml
  go.work.sum
Labels: components/auth, components/ledger, components/orchestration, components/payments

chore: Quote all value in docker-compose.yml #54
  docker-compose.yml
Labels: none

chore: Quote all value in docker-compose.yml #54
  docker-compose.yml
Labels: none

chore: Quote all value in docker-compose.yml #54 (#57)
  docker-compose.yml
Labels: none

.github/labeler.yml:

libs:
  - libs/*
openapi:
  - openapi/*
sdks:
  - sdks/*
github:
  - .github/*

# Components
'components/auth':
  - components/auth/*
'components/fctl':
  - components/fctl/*
'components/ledger':
  - components/ledger/*
'components/machine':
  - components/machine/*
'components/operator':
  - components/operator/*
'components/orchestration':
  - components/orchestration/*
'components/payments':
  - components/payments/*
'components/search':
  - components/search/*
'components/wallets':
  - components/wallets/*
'components/webhooks':
  - components/webhooks/*
