Repository formancehq/stack, changes with the labels that .github/labeler.yml gives for each.
All labels: libs, openapi, sdks, github, components/auth, components/fctl, components/ledger, components/machine, components/operator, components/orchestration, components/payments, components/search, components/wallets, components/webhooks

feat: add a dedicated account on a dedicated ledger for incoming payment (to prevent overflows)
  components/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
  go.work.sum
Labels: none

fix: reference conflict error handling
  components/orchestration/internal/workflow/stages/send/run.go
Labels: none

feat: handle errors
  components/orchestration/internal/workflow/stages/send/run.go
Labels: none

fix: payment to wallet
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
Labels: none

feat: add a dedicated account on a dedicated ledger for incoming payment (to prevent overflows) (#35)
  components/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
  go.work.sum
Labels: none

feat(fctl): display
  components/fctl/cmd/orchestration/instances/describe.go
Labels: none

feat(fctl): display
  components/fctl/cmd/orchestration/instances/describe.go
Labels: none

fix: add non retryable errors
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/workflow.yaml
  components/orchestration/examples/workflow.yaml
  components/orchestration/internal/workflow/activities/activity.go
  components/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  components/orchestration/internal/workflow/stages/internal/context.go
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
Labels: components/fctl

fix(orchestration): error handling using temporal.ApplicationError{}
  components/orchestration/internal/workflow/activities/activity.go
  components/orchestration/internal/workflow/activities/activity_account_get.go
  components/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  components/orchestration/internal/workflow/activities/activity_ledger_revert_transaction.go
  components/orchestration/internal/workflow/activities/activity_payment_stripe_transfer.go
  components/orchestration/internal/workflow/activities/activity_payments_get.go
  components/orchestration/internal/workflow/activities/activity_wallet_confirm_hold.go
  components/orchestration/internal/workflow/activities/activity_wallet_credit.go
  components/orchestration/internal/workflow/activities/activity_wallet_debit.go
  components/orchestration/internal/workflow/activities/activity_wallet_get.go
  components/orchestration/internal/workflow/activities/activity_wallet_void_hold.go
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
Labels: none

fix: add non retryable errors (#39)
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/workflow.yaml
  components/orchestration/examples/workflow.yaml
  components/orchestration/internal/workflow/activities/activity.go
  components/orchestration/internal/workflow/activities/activity_account_get.go
  components/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  components/orchestration/internal/workflow/activities/activity_ledger_revert_transaction.go
  components/orchestration/internal/workflow/activities/activity_payment_stripe_transfer.go
  components/orchestration/internal/workflow/activities/activity_payments_get.go
  components/orchestration/internal/workflow/activities/activity_wallet_confirm_hold.go
  components/orchestration/internal/workflow/activities/activity_wallet_credit.go
  components/orchestration/internal/workflow/activities/activity_wallet_debit.go
  components/orchestration/internal/workflow/activities/activity_wallet_get.go
  components/orchestration/internal/workflow/activities/activity_wallet_void_hold.go
  components/orchestration/internal/workflow/stages/internal/context.go
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
Labels: components/fctl

feat(orchestration): add some information on stage histories
  components/orchestration/docker-compose.yml
  components/orchestration/internal/workflow/activities/activity.go
  components/orchestration/internal/workflow/manager.go
  components/orchestration/internal/workflow/stages/internal/context.go
  components/orchestration/internal/workflow/stages/send/run.go
Labels: components/orchestration

fix: duplicated histories
  components/orchestration/internal/workflow/manager.go
Labels: none

feat: add view on retries on describe
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/pkg/theme.go
  components/orchestration/examples/failing-workflow.yaml
  components/orchestration/examples/workflow.yaml
  components/orchestration/internal/workflow/manager.go
  components/orchestration/openapi.yml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/docs/WorkflowInstanceHistoryStage.md
  sdks/go/model_workflow_instance_history_stage.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/WorkflowInstanceHistoryStage.md
  sdks/java/src/main/java/com/formance/formance/model/WorkflowInstanceHistoryStage.java
  sdks/php/docs/Model/WorkflowInstanceHistoryStage.md
  sdks/php/lib/Model/WorkflowInstanceHistoryStage.php
  sdks/python/Formance/model/workflow_instance_history_stage.py
  sdks/python/Formance/model/workflow_instance_history_stage.pyi
  sdks/python/docs/models/WorkflowInstanceHistoryStage.md
  sdks/typescript-node/models/WorkflowInstanceHistoryStage.ts
Labels: components/orchestration

feat: add some information on stage histories (#40)
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/pkg/theme.go
  components/orchestration/docker-compose.yml
  components/orchestration/examples/failing-workflow.yaml
  components/orchestration/examples/workflow.yaml
  components/orchestration/internal/workflow/activities/activity.go
  components/orchestration/internal/workflow/manager.go
  components/orchestration/internal/workflow/stages/internal/context.go
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/openapi.yml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/docs/WorkflowInstanceHistoryStage.md
  sdks/go/model_workflow_instance_history_stage.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/WorkflowInstanceHistoryStage.md
  sdks/java/src/main/java/com/formance/formance/model/WorkflowInstanceHistoryStage.java
  sdks/php/docs/Model/WorkflowInstanceHistoryStage.md
  sdks/php/lib/Model/WorkflowInstanceHistoryStage.php
  sdks/python/Formance/model/workflow_instance_history_stage.py
  sdks/python/Formance/model/workflow_instance_history_stage.pyi
  sdks/python/docs/models/WorkflowInstanceHistoryStage.md
  sdks/typescript-node/models/WorkflowInstanceHistoryStage.ts
Labels: components/orchestration

feat(fctl): Update .goreleaser.yml
  components/fctl/.goreleaser.yml
Labels: components/fctl

feat: Remove draft in GoReleaser
  components/auth/.goreleaser.yml
  components/fctl/.goreleaser.yml
  components/operator/.goreleaser.yml
  components/orchestration/.goreleaser.yml
  components/search/.goreleaser.yml
  components/wallets/.goreleaser.yml
  components/webhooks/.goreleaser.yml
Labels: components/auth, components/fctl, components/operator, components/orchestration, components/search, components/wallets, components/webhooks

feat: update ledger
  components/ledger/.gitrepo
  components/ledger/.golangci.yml
  components/ledger/.pre-commit-config.yaml
  components/ledger/Taskfile.yaml
  components/ledger/go.sum
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/core/asset.go
  components/ledger/pkg/core/numscript.go
  components/ledger/pkg/core/numscript_test.go
  components/ledger/pkg/ledger/benchmarks_test.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/execute_script_test.go
  components/ledger/pkg/ledger/execute_txsdata.go
  components/ledger/pkg/ledger/execute_txsdata_test.go
  components/ledger/pkg/ledger/executor.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  go.work.sum
Labels: components/ledger

feat: update ledger
  components/ledger/.gitrepo
  components/ledger/.golangci.yml
  components/ledger/.pre-commit-config.yaml
  components/ledger/Taskfile.yaml
  components/ledger/go.sum
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/core/asset.go
  components/ledger/pkg/core/numscript.go
  components/ledger/pkg/core/numscript_test.go
  components/ledger/pkg/ledger/benchmarks_test.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/execute_script_test.go
  components/ledger/pkg/ledger/execute_txsdata.go
  components/ledger/pkg/ledger/execute_txsdata_test.go
  components/ledger/pkg/ledger/executor.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/ledger_test.go
  go.work.sum
Labels: components/ledger

fix(payments): build
  components/payments/Dockerfile
  components/payments/build.Dockerfile
Labels: components/payments

fix(payments): build (#46)
  components/payments/Dockerfile
  components/payments/build.Dockerfile
Labels: components/payments

fix: first
  components/ledger/pkg/api/controllers/pagination_test.go
  components/ledger/pkg/storage/sqlstorage/accounts.go
  components/ledger/pkg/storage/sqlstorage/aggregations.go
  components/ledger/pkg/storage/sqlstorage/balances.go
  components/ledger/pkg/storage/sqlstorage/store_system.go
  components/ledger/pkg/storage/sqlstorage/transactions.go
Labels: none

feat(fctl): Add Telemetry
  .github/workflows/release.yml
  components/fctl/.goreleaser.yml
  components/fctl/cmd/root.go
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/pkg/command.go
  components/fctl/pkg/config.go
  components/fctl/pkg/flags.go
Labels: components/fctl

feat(fctl): Update Telemetry
  components/fctl/go.mod
  components/fctl/pkg/command.go
Labels: components/fctl

chore: Update go.work.sum
  go.work.sum
Labels: none

chore(payments): Update .goreleaser.yml
  components/payments/.goreleaser.yml
Labels: components/payments

feat(local): Improve local env
  docker-compose.override.yml
  docker-compose.yml
  reflex.Dockerfile
Labels: none

go-libs: change module import
  libs/go-libs/analytics/cli.go
  libs/go-libs/analytics/segment.go
  libs/go-libs/api/apitesting/utils.go
  libs/go-libs/api/utils.go
  libs/go-libs/auth/bearer.go
  libs/go-libs/auth/bearer_test.go
  libs/go-libs/auth/middleware.go
  libs/go-libs/go.mod
  libs/go-libs/health/controller_test.go
  libs/go-libs/logging/logginglogrus/logrus.go
  libs/go-libs/otlp/otlptraces/traces.go
  libs/go-libs/otlp/otlptraces/traces_test.go
  libs/go-libs/publish/publisher.go
  libs/go-libs/publish/publishhttp/httpbus_test.go
  libs/go-libs/publish/publishkafka/kafkabus_test.go
Labels: none

*: add replace instead of branch commit
  components/auth/go.mod
  components/auth/go.sum
  components/fctl/go.mod
  components/fctl/go.sum
  components/ledger/go.mod
  components/ledger/go.sum
  components/orchestration/go.mod
  components/orchestration/go.sum
  components/payments/go.mod
  components/payments/go.sum
  components/search/go.mod
  components/search/go.sum
  components/wallets/go.mod
  components/wallets/go.sum
  components/webhooks/go.mod
  components/webhooks/go.sum
  libs/go-project-template/go.mod
  libs/go-project-template/go.sum
Labels: components/auth, components/fctl, components/ledger, components/orchestration, components/payments, components/search, components/wallets, components/webhooks

components: add gateway components default files
  components/gateway/.gitignore
  components/gateway/.golangci.yml
  components/gateway/.goreleaser.yml
  components/gateway/.pre-commit-config.yaml
  components/gateway/LICENSE
  components/gateway/Taskfile.yaml
  components/gateway/commitlint.config.js
  components/gateway/docker-compose.yml
  components/gateway/reflex.Dockerfile
  go.work
  go.work.sum
Labels: none

localenv: replace traefik with caddy
  config/gateway/Caddyfile
  config/traefik/traefik.yaml
  docker-compose.yml
Labels: none

gateway: add Dockerfile for bulding caddy with plugins
  components/gateway/Dockerfile
Labels: none

components: add versions plugin
  components/gateway/go.mod
  components/gateway/go.sum
  components/gateway/pkg/plugins/versions.go
Labels: none

gateway: add caddy binary build from cmd
  components/gateway/cmd/build.go
  components/gateway/cmd/root.go
  components/gateway/cmd/viper.go
  components/gateway/go.mod
  components/gateway/go.sum
  components/gateway/main.go
  components/gateway/pkg/builder/builder.go
  go.work.sum
Labels: none

minor improvments to dockerfile
  components/gateway/Dockerfile
Labels: none

gateway: add builder config & update dockerfile
  components/gateway/Dockerfile
  components/gateway/build.Dockerfile
  config/gateway/builder-config.json
Labels: none

fix Dockerfile
  components/gateway/Dockerfile
Labels: none

update goreleaser
  components/gateway/.goreleaser.yml
  components/gateway/build.Dockerfile
Labels: none

chore: Upgrade GoReleaser & build.Dockerfile
  components/gateway/.goreleaser.yml
  components/gateway/Caddyfile
  components/gateway/build.Dockerfile
  components/gateway/builder-config.json
Labels: none

gateway: remove deprecated linters
  components/gateway/.golangci.yml
Labels: none

taskfile: update to add gateway
  Taskfile.yaml
Labels: none

.github/labeler.yml:

libs:
  - libs/*
openapi:
  - openapi/*
sdks:
  - sdks/*
github:
  - .github/*

# Components
'components/auth':
  - components/auth/*
'components/fctl':
  - components/fctl/*
'components/ledger':
  - components/ledger/*
'components/machine':
  - components/machine/*
'components/operator':
  - components/operator/*
'components/orchestration':
  - components/orchestration/*
'components/payments':
  - components/payments/*
'components/search':
  - components/search/*
'components/wallets':
  - components/wallets/*
'components/webhooks':
  - components/webhooks/*
