Repository formancehq/stack, pull requests merged in 2023-03, with the labels that each got.

#92 feat(ledger): replace gin by chi and remove authorization options
  components/ledger/cmd/container.go
  components/ledger/cmd/internal/http_basic.go
  components/ledger/cmd/internal/http_basic_test.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/api.go
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/balance_controller.go
  components/ledger/pkg/api/controllers/base_controller.go
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/controllers/context.go
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/mapping_controller.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/idempotency/middleware.go
  components/ledger/pkg/api/idempotency/middleware_test.go
  components/ledger/pkg/api/idempotency/response.go
  components/ledger/pkg/api/idempotency/response_writer.go
  components/ledger/pkg/api/internal/testing.go
  components/ledger/pkg/api/middlewares/ledger_middleware.go
  components/ledger/pkg/api/middlewares/log_middleware.go
  components/ledger/pkg/api/middlewares/module_test.go
  components/ledger/pkg/api/middlewares/transaction.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/contextlogger/contextlogger.go
  components/ledger/pkg/opentelemetry/tracer.go
  components/payments/cmd/root.go
  components/payments/cmd/server.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/api/module.go
  components/payments/internal/app/api/router.go
  components/search/cmd/server.go
  components/search/go.mod
  components/search/go.sum
  libs/go-libs/api/utils.go
  libs/go-libs/auth/auth.go
  libs/go-libs/auth/auth_test.go
  libs/go-libs/auth/authjwt/checks.go
  libs/go-libs/auth/authjwt/claims.go
  libs/go-libs/auth/basic.go
  libs/go-libs/auth/basic_test.go
  libs/go-libs/auth/bearer.go
  libs/go-libs/auth/bearer_test.go
  libs/go-libs/auth/context.go
  libs/go-libs/auth/middleware.go
  libs/go-libs/auth/middleware_test.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments, components/search, components/ledger

#94 feat: Remove NUMARY_ prefix on ledger and update operator
  components/ledger/Taskfile.yaml
  components/ledger/app.json
  components/ledger/cmd/internal/env.go
  components/ledger/cmd/internal/utils.go
  components/ledger/cmd/root_test.go
  components/ledger/docker-compose.override.yml
  components/ledger/docker-compose.yml
  components/ledger/examples/basic-auth/docker-compose.yml
  components/ledger/examples/jaeger-exporter/docker-compose.yml
  components/ledger/examples/multi-node/docker-compose.yml
  components/ledger/examples/otlp-exporter/docker-compose.yml
  components/ledger/examples/publisher-http/docker-compose.yml
  components/ledger/examples/publisher-kafka/docker-compose.yml
  components/ledger/internal/pgtesting/testing.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/storage/sqlstorage/store_ledger_test.go
  components/ledger/sdk/templates/go/Taskfile.yml.mustache
  components/ledger/sdk/templates/php/Taskfile.yml.mustache
  components/ledger/sdk/templates/python/Taskfile.yml.mustache
  components/ledger/sdk/templates/typescript/Taskfile.yml.mustache
  components/operator/config/crd/bases/benthos.components.formance.com_servers.yaml
  components/operator/config/crd/bases/components.formance.com_auths.yaml
  components/operator/config/crd/bases/components.formance.com_controls.yaml
  components/operator/config/crd/bases/components.formance.com_ledgers.yaml
  components/operator/config/crd/bases/components.formance.com_orchestrations.yaml
  components/operator/config/crd/bases/components.formance.com_searches.yaml
  components/operator/config/crd/bases/stack.formance.com_configurations.yaml
  components/operator/config/crd/bases/stack.formance.com_stacks.yaml
  components/operator/internal/common/broker.go
  components/operator/internal/common/image.go
  components/operator/internal/common/labels.go
  components/operator/internal/common/postgres.go
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_ledger.go
  components/operator/internal/modules/monitoring.go
  components/operator/internal/modules/service.go
  components/orchestration/docker-compose.yml
  components/wallets/docker-compose.yml
  docker-compose.yml
  tests/loadtesting/docker-compose.ledger.yml
Labels: components/orchestration, components/wallets, components/ledger

#95 feat: move openapi files to root
  components/auth/openapi.yaml
  components/ledger/go.mod
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/config_controller.go
  components/ledger/pkg/api/routes/routes.go
  components/orchestration/openapi.yaml
  components/search/openapi.yaml
  components/wallets/openapi.yaml
  components/webhooks/openapi.yaml
  openapi/openapi-merge.json
Labels: components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger, openapi

#96 feat: remove ledger config file
  components/ledger/cmd/root.go
Labels: components/orchestration, components/payments, components/wallets, components/search, components/ledger

#97 feat: remove deprecated flags and add --bind flag on ledger (replace --server.http.bind_address)"
  components/ledger/cmd/root.go
  components/ledger/cmd/script_exec.go
  components/ledger/cmd/script_test.go
  components/ledger/cmd/server_start.go
  components/ledger/docker-compose.yml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/resources/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_ledger.go
  tests/integration/internal/bootstrap.go
Labels: components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger, openapi

#100 feat: remove deprecated json fields and query params
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/balance_controller.go
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/script_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/storage/sqlstorage/accounts.go
  components/ledger/pkg/storage/sqlstorage/balances.go
  components/ledger/pkg/storage/sqlstorage/logs.go
  components/ledger/pkg/storage/sqlstorage/transactions.go
  libs/go-libs/api/response.go
  libs/go-libs/api/response_test.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
Labels: components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger

#101 feat/num 1546 ledger replace server start by serve
  components/ledger/Dockerfile
  components/ledger/cmd/root.go
  components/ledger/cmd/root_test.go
  components/ledger/cmd/serve.go
  components/ledger/cmd/server.go
  components/ledger/docker-compose.override.yml
  components/ledger/main.go
  components/payments/Dockerfile
  components/payments/cmd/serve.go
  components/payments/docker-compose.yml
  components/wallets/Dockerfile
  components/wallets/cmd/serve.go
  components/wallets/docker-compose.yml
  components/webhooks/Dockerfile
  components/webhooks/cmd/serve.go
  tests/integration/internal/bootstrap.go
Labels: components/payments, components/wallets, components/webhooks, components/ledger

#99 feat: add environment to versions endpoint
  components/gateway/Caddyfile
  components/gateway/pkg/plugins/versions.go
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/internal/controllers/stack/suite_test.go
  components/operator/internal/controllers/stack/testdata/resources/configmaps--v1/gateway-config.yaml
  components/operator/internal/handlers/handler_gateway.go
  components/operator/internal/modules/service.go
  components/operator/main.go
  config/gateway/Caddyfile
Labels: components/operator

#102 feat: remove /script endpoint
  components/ledger/cmd/root.go
  components/ledger/cmd/script_check.go
  components/ledger/cmd/script_exec.go
  components/ledger/cmd/script_test.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/controllers/controllers.go
  components/ledger/pkg/api/controllers/script_controller.go
  components/ledger/pkg/api/controllers/script_controller_test.go
  components/ledger/pkg/api/routes/routes.go
Labels: components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger, openapi

#116 fix: local testing
  components/ledger/docker-compose.yml
Labels: components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger, openapi

#118 fix: docker-compose entrypoints
  docker-compose.override.yml
Labels: components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger, openapi

#120 feat(orchestration): add --worker flag to embed worker on main service
  components/orchestration/cmd/root.go
  components/orchestration/cmd/serve.go
  components/orchestration/cmd/version.go
  components/orchestration/cmd/worker.go
  components/orchestration/docker-compose.yml
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/api/router.go
  tests/integration/internal/bootstrap.go
Labels: components/orchestration

#121 feat: replace goose by handcradfted library
  components/operator/internal/controllers/stack/testdata/resources/deployments-apps-v1/payments.yaml
  components/operator/internal/handlers/handler_payments.go
  components/orchestration/cmd/root.go
  components/orchestration/cmd/serve.go
  components/orchestration/cmd/worker.go
  components/orchestration/internal/api/main_test.go
  components/orchestration/internal/storage/migrations.go
  components/orchestration/internal/storage/module.go
  components/orchestration/internal/workflow/manager_test.go
  components/payments/cmd/migrate.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/migrations/001_initiate_schemas.go
  components/payments/internal/app/migrations/002_connectors.go
  components/payments/internal/app/migrations/003_tasks.go
  components/payments/internal/app/migrations/004_accounts.go
  components/payments/internal/app/migrations/005_payments.go
  components/payments/internal/app/migrations/006_conifg_encryption.go
  components/payments/internal/app/migrations/007_transfers.go
  components/payments/internal/app/storage/migrations.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/migrations/migration.go
  libs/go-libs/migrations/migrator.go
  libs/go-libs/migrations/migrator_test.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/benthos.go
  tests/integration/internal/bootstrap.go
  tests/integration/internal/externals.go
  tests/integration/internal/helpers.go
  tests/integration/internal/opensearch.go
  tests/integration/internal/postgres.go
  tests/integration/internal/utils.go
Labels: components/payments

#129 feat: move ledger lock inside core ledger
  components/ledger/cmd/container.go
  components/ledger/cmd/container_test.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/idempotency/hash.go
  components/ledger/pkg/api/idempotency/middleware.go
  components/ledger/pkg/api/idempotency/middleware_test.go
  components/ledger/pkg/api/idempotency/response.go
  components/ledger/pkg/api/idempotency/response_writer.go
  components/ledger/pkg/api/idempotency/store.go
  components/ledger/pkg/api/middlewares/module.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/ledger/execute_script.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/ledgertesting/storage.go
  components/ledger/pkg/redis/lock.go
  components/ledger/pkg/redis/lock_test.go
  components/ledger/pkg/redis/module.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/idempotency.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/module.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/ledger

#130 feat: add owner information on organization list
  components/fctl/cmd/cloud/organizations/list.go
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/.openapi-generator/VERSION
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/client.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInner.md
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInnerAllOf.md
  components/fctl/membershipclient/go.mod
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_billing_portal_response.go
  components/fctl/membershipclient/model_billing_setup_response.go
  components/fctl/membershipclient/model_create_invitation_response.go
  components/fctl/membershipclient/model_create_organization_response.go
  components/fctl/membershipclient/model_create_stack_response.go
  components/fctl/membershipclient/model_error.go
  components/fctl/membershipclient/model_invitation.go
  components/fctl/membershipclient/model_list_invitations_response.go
  components/fctl/membershipclient/model_list_organization_expanded_response.go
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner.go
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner_all_of.go
  components/fctl/membershipclient/model_list_organization_response.go
  components/fctl/membershipclient/model_list_regions_response.go
  components/fctl/membershipclient/model_list_stacks_response.go
  components/fctl/membershipclient/model_list_users_response.go
  components/fctl/membershipclient/model_read_user_response.go
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_all_of.go
  components/fctl/membershipclient/utils.go
  components/fctl/pkg/profile.go
  components/fctl/pkg/ptr.go
Labels: components/fctl

#157 docs: add installation guide for creating a stack
  docs/docs/ledger/get-started/installation.mdx
Labels: documentation

#148 fix(wallet): openapi spec
  components/wallets/openapi.yml
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/api_wallets.go
  sdks/go/docs/WalletsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/WalletsApi.md
  sdks/java/src/main/java/com/formance/formance/api/WalletsApi.java
  sdks/php/lib/Api/WalletsApi.php
  sdks/python/Formance/paths/api_wallets_transactions/get.py
  sdks/python/Formance/paths/api_wallets_transactions/get.pyi
  sdks/python/docs/apis/tags/WalletsApi.md
  sdks/typescript-node/WalletsApi.md
  sdks/typescript-node/apis/WalletsApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
Labels: components/wallets

#168 feat: fix from review
  components/ledger/pkg/ledger/cache/cache.go
  components/ledger/pkg/ledger/lock/lock.go
  components/ledger/pkg/ledger/resolver.go
Labels: components/fctl, components/auth, components/ledger

#169 feat: simplify model
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/core/account.go
  components/ledger/pkg/core/volumes.go
  components/ledger/pkg/ledger/cache/cache.go
  components/ledger/pkg/ledger/cache/cache_test.go
  components/ledger/pkg/ledger/ledger_test.go
  components/ledger/pkg/ledger/query/worker_test.go
  components/ledger/pkg/ledger/runner/runner_test.go
  components/ledger/pkg/machine/machine.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
Labels: components/fctl, components/auth, components/ledger

#167 feat: extract sources from machine
  components/ledger/pkg/core/address.go
  components/ledger/pkg/machine/machine_test.go
  components/ledger/pkg/machine/script/compiler/compiler.go
  components/ledger/pkg/machine/script/compiler/source.go
  components/ledger/pkg/machine/vm/program/program.go
Labels: components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger, openapi

#195 chore: Orchestration integration tests
  components/auth/cmd/serve.go
  components/auth/pkg/storage/sqlstorage/database.go
  components/ledger/pkg/core/script.go
  components/ledger/pkg/ledger/runner/runner.go
  components/ledger/pkg/ledger/state/state.go
  components/ledger/pkg/ledger/state/state_test.go
  components/orchestration/internal/api/handler_read_stage_history.go
  components/orchestration/internal/api/router.go
  components/orchestration/internal/storage/module.go
  components/orchestration/internal/temporal/client_module.go
  components/orchestration/internal/temporal/logger.go
  components/orchestration/internal/workflow/instance.go
  components/orchestration/internal/workflow/manager.go
  components/orchestration/openapi.yaml
  components/payments/internal/app/storage/module.go
  components/webhooks/Taskfile.yml
  components/webhooks/pkg/server/handler.go
  libs/go-libs/api/utils.go
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/java/api/openapi.yaml
  sdks/java/docs/Error.md
  sdks/java/src/main/java/com/formance/formance/model/Error.java
  sdks/php/lib/Model/Error.php
  sdks/python/Formance/model/error.py
  sdks/python/Formance/model/error.pyi
  sdks/python/Formance/model/workflow_instance.py
  sdks/python/Formance/model/workflow_instance.pyi
  sdks/python/docs/models/Error.md
  sdks/python/docs/models/WorkflowInstance.md
  sdks/typescript-node/models/ModelError.ts
  tests/integration/docker-compose.yml
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/bootstrap.go
  tests/integration/internal/externals.go
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/orchestration-workflows-create.go
  tests/integration/suite/orchestration-workflows-execute-with-error.go
  tests/integration/suite/orchestration-workflows-execute.go
  tests/integration/suite/orchestration-workflows-list.go
  tests/integration/temporalite.Dockerfile
Labels: components/orchestration, components/webhooks
