Repository formancehq/stack, pull requests merged in 2023-04, with the labels that each got.

#203 fix: integration tests fix
  components/ledger/openapi.yaml
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
  components/wallets/openapi.yaml
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/api_transactions.go
  sdks/go/docs/TransactionsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/php/docs/Api/AccountsApi.md
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/python/Formance/paths/api_ledger_ledger_transactions/head.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/head.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/ledger-set-metadata-on-transaction.go
  tests/integration/suite/orchestration-workflows-execute-with-error.go
  tests/integration/suite/orchestration-workflows-execute.go
  tests/integration/suite/wallets-create.go
  tests/integration/suite/webhooks-ledger-committed-transaction.go
  tests/integration/suite/webhooks-retries.go
Labels: components/wallets, components/ledger

#200 chore: update dependencies and configurations for ledger service
  components/ledger/Dockerfile
  docker-compose.yml
Labels: components/ledger

#205 feat: add otel metrics everywhere in ledger
  components/auth/go.mod
  components/auth/go.sum
  components/fctl/go.mod
  components/fctl/go.sum
  components/ledger/cmd/container.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/api.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/balance_controller_test.go
  components/ledger/pkg/api/controllers/config_controller_test.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/api/middlewares/ledger_middleware.go
  components/ledger/pkg/api/middlewares/metrics_middleware.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/ledger/cache/cache.go
  components/ledger/pkg/ledger/cache/cache_test.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/module.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/ledger/query/worker_test.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/opentelemetry/metrics/metrics.go
  components/ledger/pkg/opentelemetry/tracer/tracer.go
  components/ledger/pkg/storage/sqlstorage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/balances.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/store.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/ledger/volumes.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations.go
  components/ledger/pkg/storage/sqlstorage/opentelemetry/metrics/metrics.go
  components/operator/go.mod
  components/operator/go.sum
  components/orchestration/go.mod
  components/orchestration/go.sum
  components/payments/go.mod
  components/payments/go.sum
  components/search/go.mod
  components/search/go.sum
  components/wallets/go.mod
  components/wallets/go.sum
  components/webhooks/go.mod
  components/webhooks/go.sum
  docker-compose.yml
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/otlp/cli.go
  libs/go-libs/otlp/otlpmetrics/cli.go
  libs/go-libs/otlp/otlpmetrics/module.go
  libs/go-libs/otlp/otlpmetrics/oltpexporter.go
  libs/go-libs/otlp/otlpmetrics/stdoutexporter.go
  libs/go-libs/otlp/otlptraces/cli.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/fctl, components/operator, components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger

#208 feat: ensure all ledgers are closed when closing the app
  components/ledger/Dockerfile
  components/ledger/pkg/api/api.go
  components/ledger/pkg/api/controllers/api.go
  components/ledger/pkg/api/controllers/api_test.go
  components/ledger/pkg/ledger/resolver.go
  libs/go-libs/service/app.go
Labels: components/ledger

#207 feat: factorize pagination
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/openapi.yaml
  components/ledger/pkg/analytics/backend.go
  components/ledger/pkg/api/apierrors/errors.go
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/api.go
  components/ledger/pkg/api/controllers/api_test.go
  components/ledger/pkg/api/controllers/balance_controller.go
  components/ledger/pkg/api/controllers/balance_controller_test.go
  components/ledger/pkg/api/controllers/ledger_controller.go
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/storage/accounts.go
  components/ledger/pkg/storage/balances.go
  components/ledger/pkg/storage/driver.go
  components/ledger/pkg/storage/logs.go
  components/ledger/pkg/storage/pagination.go
  components/ledger/pkg/storage/sqlstorage/cli.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts.go
  components/ledger/pkg/storage/sqlstorage/ledger/accounts_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/balances.go
  components/ledger/pkg/storage/sqlstorage/ledger/balances_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/main_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/9-add-pre-post-volumes/any_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/pagination.go
  components/ledger/pkg/storage/sqlstorage/ledger/store_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/main_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_column.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_column_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_offset.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_offset_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/utils.go
  components/ledger/pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  components/ledger/pkg/storage/sqlstorage/utils/utils.go
  components/ledger/pkg/storage/storage.go
  components/ledger/pkg/storage/transactions.go
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/docs/TransactionsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/typescript-node/TransactionsApi.md
  tests/integration/suite/ledger-list-transactions.go
Labels: components/ledger

#211 test: remove health check
  components/auth/Dockerfile
  components/auth/pkg/api/health.go
  components/auth/pkg/api/module.go
Labels: components/auth

#240 feat: clean openapi
  components/fctl/cmd/ledger/transactions/list.go
  components/ledger/openapi.yaml
  components/wallets/pkg/api/handler_wallets_debit_test.go
  openapi/build/generate.json
  sdks/go/api/openapi.yaml
  sdks/go/api_transactions.go
  sdks/go/docs/Account.md
  sdks/go/docs/TransactionsApi.md
  sdks/go/model_account.go
  sdks/java/api/openapi.yaml
  sdks/java/docs/Account.md
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/java/src/main/java/com/formance/formance/model/Account.java
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/docs/Model/Account.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/php/lib/Model/Account.php
  sdks/python/Formance/model/account.py
  sdks/python/Formance/model/account.pyi
  sdks/python/Formance/paths/api_ledger_ledger_transactions/get.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/get.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/python/docs/models/Account.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
  sdks/typescript-node/models/Account.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
  tests/integration/suite/ledger-list-count-accounts.go
Labels: components/ledger

#241 feat: remove redundant postings denormalization
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  components/ledger/cmd/storage.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/storage/pagination.go
  components/ledger/pkg/storage/sqlstorage/cli.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/main_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/sqlstorage/ledger/transactions.go
  components/ledger/pkg/storage/sqlstorage/ledger/transactions_test.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_column.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_column_test.go
  components/ledger/pkg/storage/sqlstorage/pagination/pagination_offset_test.go
  components/ledger/pkg/storage/sqlstorage/sqlstoragetesting/storage.go
  components/ledger/pkg/storage/sqlstorage/utils/utils.go
  libs/go-libs/api/response.go
  libs/go-libs/collectionutils/slice.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/suite/ledger-list-transactions.go
Labels: components/ledger

#256 feat: change status code to 204 on HEAD /transactions and /accounts
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/java/api/openapi.yaml
  sdks/java/docs/AccountsApi.md
  sdks/java/docs/TransactionsApi.md
  sdks/python/Formance/paths/api_ledger_ledger_accounts/head.py
  sdks/python/Formance/paths/api_ledger_ledger_accounts/head.pyi
  sdks/python/Formance/paths/api_ledger_ledger_transactions/head.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/head.pyi
  sdks/python/docs/apis/tags/AccountsApi.md
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/python/test/test_paths/test_api_ledger_ledger_accounts/test_head.py
  sdks/python/test/test_paths/test_api_ledger_ledger_transactions/test_head.py
  sdks/typescript-node/AccountsApi.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/AccountsApi.ts
  sdks/typescript-node/apis/TransactionsApi.ts
Labels: components/ledger

#259 feat: rename preview to dry run
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/api_transactions.go
  sdks/go/docs/TransactionsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/python/Formance/paths/api_ledger_ledger_transactions/post.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/post.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
Labels: components/ledger

#261 feat: change status code from 200 to 201 on revert transactions
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/java/api/openapi.yaml
  sdks/java/docs/TransactionsApi.md
  sdks/php/lib/Api/TransactionsApi.php
  sdks/python/Formance/paths/api_ledger_ledger_transactions_txid_revert/post.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions_txid_revert/post.pyi
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/python/test/test_paths/test_api_ledger_ledger_transactions_txid_revert/test_post.py
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/TransactionsApi.ts
Labels: components/ledger

#251 feat: add idempotency at log level
  components/ledger/openapi.yaml
  components/ledger/pkg/api/controllers/account_controller.go
  components/ledger/pkg/api/controllers/account_controller_test.go
  components/ledger/pkg/api/controllers/api.go
  components/ledger/pkg/api/controllers/api_test.go
  components/ledger/pkg/api/controllers/query.go
  components/ledger/pkg/api/controllers/transaction_controller.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/core/log.go
  components/ledger/pkg/core/numscript.go
  components/ledger/pkg/core/script.go
  components/ledger/pkg/core/transaction.go
  components/ledger/pkg/core/transaction_test.go
  components/ledger/pkg/ledger/command/commander.go
  components/ledger/pkg/ledger/command/commander_test.go
  components/ledger/pkg/ledger/command/lock.go
  components/ledger/pkg/ledger/command/store.go
  components/ledger/pkg/storage/driver.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs.go
  components/ledger/pkg/storage/sqlstorage/ledger/logs_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  libs/go-libs/api/utils.go
  openapi/build/generate.json
  openapi/build/generate.json-e
  sdks/go/api/openapi.yaml
  sdks/go/api_accounts.go
  sdks/go/api_transactions.go
  sdks/go/docs/AccountsApi.md
  sdks/go/docs/TransactionsApi.md
  sdks/java/api/openapi.yaml
  sdks/java/docs/AccountsApi.md
  sdks/java/docs/TransactionsApi.md
  sdks/java/src/main/java/com/formance/formance/api/AccountsApi.java
  sdks/java/src/main/java/com/formance/formance/api/TransactionsApi.java
  sdks/php/README.md
  sdks/php/docs/Api/AccountsApi.md
  sdks/php/docs/Api/TransactionsApi.md
  sdks/php/lib/Api/AccountsApi.php
  sdks/php/lib/Api/TransactionsApi.php
  sdks/python/Formance/paths/api_ledger_ledger_accounts_address_metadata/post.py
  sdks/python/Formance/paths/api_ledger_ledger_accounts_address_metadata/post.pyi
  sdks/python/Formance/paths/api_ledger_ledger_transactions/post.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions/post.pyi
  sdks/python/Formance/paths/api_ledger_ledger_transactions_txid_metadata/post.py
  sdks/python/Formance/paths/api_ledger_ledger_transactions_txid_metadata/post.pyi
  sdks/python/README.md
  sdks/python/docs/apis/tags/AccountsApi.md
  sdks/python/docs/apis/tags/TransactionsApi.md
  sdks/typescript-node/AccountsApi.md
  sdks/typescript-node/TransactionsApi.md
  sdks/typescript-node/apis/AccountsApi.ts
  sdks/typescript-node/apis/TransactionsApi.ts
  sdks/typescript-node/types/ObjectParamAPI.ts
  sdks/typescript-node/types/ObservableAPI.ts
  sdks/typescript-node/types/PromiseAPI.ts
  tests/integration/suite/ledger-create-transaction.go
Labels: components/ledger

#266 feat: add migrations from v1.9.x to v2.x
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/pkg/core/log.go
  components/ledger/pkg/storage/sqlstorage/ledger/main_test.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/any.go
  components/ledger/pkg/storage/sqlstorage/ledger/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/sqlstorage/migrations/migrations.go
  components/ledger/pkg/storage/sqlstorage/migrations/migrations_test.go
Labels: components/ledger

#274 feat: remove tracer from health road
  components/ledger/Dockerfile
  components/payments/internal/app/api/router.go
Labels: components/ledger

#280 feat: make bench at api level
  .github/workflows/_v2_ledger_benchmark.yml
  .github/workflows/_v2_ledger_benchmark_report.yml
  components/ledger/Taskfile.yaml
  components/ledger/benchmarks/ledger_test.go
  components/ledger/benchmarks/main_test.go
  components/ledger/cmd/serve.go
  components/ledger/go.mod
  components/ledger/pkg/api/api.go
  components/ledger/pkg/api/routes/routes.go
  components/ledger/pkg/ledger/ledger_test.go
  libs/go-libs/pgtesting/postgres.go
Labels: components/ledger
