Repository formancehq/stack, pull requests merged in 2023-07, with the labels that each got.

#409 feat: add moneycorp connector for payments
  components/fctl/cmd/payments/connectors/getconfig.go
  components/fctl/cmd/payments/connectors/install/moneycorp.go
  components/fctl/cmd/payments/connectors/install/root.go
  components/fctl/cmd/payments/connectors/internal/connectors.go
  components/payments/internal/app/api/connectorconfigs.go
  components/payments/internal/app/api/module.go
  components/payments/internal/app/connectors/currency/currency.go
  components/payments/internal/app/connectors/moneycorp/client/accounts.go
  components/payments/internal/app/connectors/moneycorp/client/auth.go
  components/payments/internal/app/connectors/moneycorp/client/client.go
  components/payments/internal/app/connectors/moneycorp/client/transactions.go
  components/payments/internal/app/connectors/moneycorp/config.go
  components/payments/internal/app/connectors/moneycorp/connector.go
  components/payments/internal/app/connectors/moneycorp/errors.go
  components/payments/internal/app/connectors/moneycorp/loader.go
  components/payments/internal/app/connectors/moneycorp/task_fetch_accounts.go
  components/payments/internal/app/connectors/moneycorp/task_fetch_transactions.go
  components/payments/internal/app/connectors/moneycorp/task_resolve.go
  components/payments/internal/app/models/connector.go
  components/payments/internal/app/storage/migrations.go
  components/payments/openapi.yaml
  openapi/build/generate.json
  sdks/go/docs/payments/README.md
  sdks/go/files.gen
  sdks/go/pkg/models/shared/connector.go
  sdks/go/pkg/models/shared/moneycorpconfig.go
  sdks/go/pkg/models/shared/taskmoneycorp.go
  sdks/go/pkg/models/shared/taskresponse.go
  sdks/go/pkg/models/shared/taskscursor.go
  sdks/java/docs/payments/README.md
  sdks/java/files.gen
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/Connector.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/MoneycorpConfig.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/TaskMoneycorp.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/TaskMoneycorpDescriptor.java
  sdks/php/docs/payments/README.md
  sdks/php/files.gen
  sdks/php/src/Models/Shared/Connector.php
  sdks/php/src/Models/Shared/MoneycorpConfig.php
  sdks/php/src/Models/Shared/TaskMoneycorp.php
  sdks/php/src/Models/Shared/TaskMoneycorpDescriptor.php
  sdks/python/docs/payments/README.md
  sdks/python/files.gen
  sdks/python/src/sdk/models/shared/__init__.py
  sdks/python/src/sdk/models/shared/connector.py
  sdks/python/src/sdk/models/shared/moneycorpconfig.py
  sdks/python/src/sdk/models/shared/taskmoneycorp.py
  sdks/typescript/docs/payments/README.md
  sdks/typescript/files.gen
  sdks/typescript/src/sdk/models/shared/connector.ts
  sdks/typescript/src/sdk/models/shared/index.ts
  sdks/typescript/src/sdk/models/shared/moneycorpconfig.ts
  sdks/typescript/src/sdk/models/shared/taskmoneycorp.ts
Labels: components/payments

#429 feat(fctl): remove-cobra-controller-dep
  components/fctl/.goreleaser.yml
  components/fctl/Dockerfile
  components/fctl/cmd/login/login.go
  components/fctl/cmd/prompt.go
  components/fctl/cmd/root.go
  components/fctl/cmd/stack/controller.go
  components/fctl/cmd/stack/create.go
  components/fctl/cmd/stack/delete.go
  components/fctl/cmd/stack/internal/global.go
  components/fctl/cmd/stack/list.go
  components/fctl/cmd/stack/restore.go
  components/fctl/cmd/stack/root.go
  components/fctl/cmd/stack/show.go
  components/fctl/cmd/webhooks/secret.go
  components/fctl/pkg/approval.go
  components/fctl/pkg/clients.go
  components/fctl/pkg/command.go
  components/fctl/pkg/config.go
  components/fctl/pkg/controller.go
  components/fctl/pkg/file.go
  components/fctl/pkg/flags.go
  components/fctl/pkg/global.go
  components/fctl/pkg/http.go
  components/fctl/pkg/manager.go
  components/fctl/pkg/profile.go
Labels: components/fctl

#431 chore: update inc legal name
  LICENSE
  components/ledger/LICENSE
  docs/docusaurus.config.js
Labels: components/ledger

#437 feat: upgrade sdk to use bigints
  components/fctl/cmd/ledger/internal/print.go
  components/fctl/cmd/ledger/send.go
  components/fctl/cmd/wallets/credit.go
  components/fctl/cmd/wallets/debit.go
  components/fctl/cmd/wallets/holds/confirm.go
  components/ledger/openapi.yaml
  components/orchestration/internal/schema/map.go
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
  components/wallets/openapi.yaml
  openapi/build/generate.json
  sdks/go/.gitignore
  sdks/go/docs/ledger/README.md
  sdks/go/docs/wallets/README.md
  sdks/go/pkg/models/operations/listaccounts.go
  sdks/go/pkg/models/shared/accountwithvolumesandbalances.go
  sdks/go/pkg/models/shared/aggregatebalancesresponse.go
  sdks/go/pkg/models/shared/assetholder.go
  sdks/go/pkg/models/shared/balance.go
  sdks/go/pkg/models/shared/balancescursorresponse.go
  sdks/go/pkg/models/shared/balancewithassets.go
  sdks/go/pkg/models/shared/confirmholdrequest.go
  sdks/go/pkg/models/shared/createbalancerequest.go
  sdks/go/pkg/models/shared/expandeddebithold.go
  sdks/go/pkg/models/shared/getwalletsummaryresponse.go
  sdks/go/pkg/models/shared/monetary.go
  sdks/go/pkg/models/shared/posting.go
  sdks/go/pkg/models/shared/volume.go
  sdks/go/pkg/models/shared/walletsvolume.go
  tests/integration/suite/ledger-balances.go
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-list-count-accounts.go
  tests/integration/suite/ledger-list-logs.go
  tests/integration/suite/ledger-list-transactions.go
  tests/integration/suite/ledger-revert-transaction.go
  tests/integration/suite/ledger-set-metadata-on-account.go
  tests/integration/suite/ledger-set-metadata-on-transaction.go
  tests/integration/suite/orchestration-workflows-execute-with-error.go
  tests/integration/suite/orchestration-workflows-execute.go
  tests/integration/suite/webhooks-ledger-committed-transaction.go
  tests/integration/suite/webhooks-retries.go
Labels: components/wallets, components/ledger

#446 fix: operator tests with benthos and go mod
  components/operator/go.mod
  components/operator/go.sum
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/configmaps--v1/search-benthos-streams.yaml
Labels: components/operator

#430 chore: Upgrade all deps for dev
  .github/actions/env/action.yml
  .moon/hooks/pre-commit.sh
  .moon/tasks/go-application.yml
  .moon/tasks/go.yml
  .moon/workspace.yml
  .pre-commit-config.yaml
  components/agent/moon.yml
  components/auth/moon.yml
  components/fctl/.goreleaser.yml
  components/fctl/Taskfile.yaml
  components/fctl/membershipclient/go.sum
  components/gateway/moon.yml
  components/ledger/moon.yml
  components/operator/moon.yml
  components/orchestration/moon.yml
  components/payments/moon.yml
  components/search/moon.yml
  components/stargate/moon.yml
  components/wallets/moon.yml
  components/webhooks/moon.yml
  devbox.json
  devbox.lock
  helm/regions/README.md
  libs/go-project-template/.github/ISSUE_TEMPLATE/bug_report.md
  libs/go-project-template/.github/ISSUE_TEMPLATE/feature_request.md
  libs/go-project-template/.github/dependabot.yml
  libs/go-project-template/.github/pull_request_template.md
  libs/go-project-template/.github/workflows/build_branch.yml
  libs/go-project-template/.github/workflows/codeql.yml
  libs/go-project-template/.github/workflows/main.yml
  libs/go-project-template/.gitignore
  libs/go-project-template/.goreleaser.yml
  libs/go-project-template/.pre-commit-config.yaml
  libs/go-project-template/Dockerfile
  libs/go-project-template/LICENSE
  libs/go-project-template/Taskfile.yaml
  libs/go-project-template/cmd/root.go
  libs/go-project-template/cmd/serve.go
  libs/go-project-template/cmd/version.go
  libs/go-project-template/cmd/viper.go
  libs/go-project-template/commitlint.config.js
  libs/go-project-template/docker-compose.yml
  libs/go-project-template/go.mod
  libs/go-project-template/go.sum
  libs/go-project-template/main.go
  libs/go-project-template/pkg/.gitkeep
  libs/go-project-template/reflex.Dockerfile
  nix/moon/default.nix
  nix/moon/flake.lock
  nix/moon/flake.nix
  nix/moon/pkgs/moon/default.nix
  openapi/build/generate.json
  tests/loadtesting/moon.yml
Labels: components/fctl, components/operator, components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger

#458 feat: add payments connector metrics
  components/operator/go.mod
  components/operator/go.sum
  components/payments/cmd/root.go
  components/payments/cmd/serve.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/api/connector.go
  components/payments/internal/app/api/connectormodule.go
  components/payments/internal/app/connectors/bankingcircle/connector.go
  components/payments/internal/app/connectors/bankingcircle/task_fetch_accounts.go
  components/payments/internal/app/connectors/bankingcircle/task_fetch_payments.go
  components/payments/internal/app/connectors/currencycloud/connector.go
  components/payments/internal/app/connectors/currencycloud/task_fetch_accounts.go
  components/payments/internal/app/connectors/currencycloud/task_fetch_balances.go
  components/payments/internal/app/connectors/currencycloud/task_fetch_transactions.go
  components/payments/internal/app/connectors/dummypay/connector.go
  components/payments/internal/app/connectors/dummypay/task_ingest.go
  components/payments/internal/app/connectors/mangopay/connector.go
  components/payments/internal/app/connectors/mangopay/task_fetch_transactions.go
  components/payments/internal/app/connectors/mangopay/task_fetch_users.go
  components/payments/internal/app/connectors/mangopay/task_fetch_wallets.go
  components/payments/internal/app/connectors/modulr/connector.go
  components/payments/internal/app/connectors/modulr/task_fetch_accounts.go
  components/payments/internal/app/connectors/modulr/task_fetch_transactions.go
  components/payments/internal/app/connectors/moneycorp/connector.go
  components/payments/internal/app/connectors/moneycorp/task_fetch_accounts.go
  components/payments/internal/app/connectors/moneycorp/task_fetch_balances.go
  components/payments/internal/app/connectors/moneycorp/task_fetch_transactions.go
  components/payments/internal/app/connectors/stripe/connector.go
  components/payments/internal/app/connectors/stripe/task_fetch_accounts.go
  components/payments/internal/app/connectors/stripe/task_fetch_balances.go
  components/payments/internal/app/connectors/stripe/task_fetch_payments.go
  components/payments/internal/app/connectors/stripe/task_fetch_payments_for_connected_account.go
  components/payments/internal/app/connectors/wise/connector.go
  components/payments/internal/app/connectors/wise/task_fetch_profiles.go
  components/payments/internal/app/connectors/wise/task_fetch_transfers.go
  components/payments/internal/app/integration/manager_test.go
  components/payments/internal/app/metrics/metrics.go
  components/payments/internal/app/task/scheduler.go
  components/payments/internal/app/task/scheduler_test.go
Labels: components/operator, components/payments
