Repository formancehq/stack, pull requests merged in 2023-10, with the labels that each got.

#555 fix: comparable need go 1.20
  components/agent/Dockerfile
  components/agent/go.mod
  components/auth/Dockerfile
  components/auth/go.mod
  components/fctl/Dockerfile
  components/fctl/go.mod
  components/fctl/go.sum
  components/gateway/Dockerfile
  components/ledger/go.mod
  components/operator/Dockerfile
  components/orchestration/Dockerfile
  components/orchestration/go.mod
  components/payments/Dockerfile
  components/payments/go.mod
  components/search/Dockerfile
  components/search/go.mod
  components/stargate/Dockerfile
  components/stargate/go.mod
  components/wallets/Dockerfile
  components/wallets/go.mod
  components/webhooks/Dockerfile
  components/webhooks/go.mod
  go.mod
Labels: components/fctl, components/operator, components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger

#559 feat: agent version on connection metadata
  components/agent/Dockerfile
  components/agent/cmd/root.go
  components/agent/internal/grpc/client.go
  components/agent/internal/grpc/module.go
  components/agent/internal/grpc/module_test.go
  components/fctl/go.sum
  components/ledger/libs/.github/dependabot.yml
  components/ledger/libs/.github/workflows/codeql.yml
  components/ledger/libs/.github/workflows/main.yml
  components/ledger/libs/.github/workflows/pr-open.yml
  components/ledger/libs/.gitignore
  components/ledger/libs/.golangci.yml
  components/ledger/libs/.pre-commit-config.yaml
  components/ledger/libs/collectionutils/slice.go
  components/ledger/libs/contextutil/contextutil.go
  components/ledger/libs/pgtesting/postgres.go
  components/payments/go.mod
  components/payments/go.sum
  libs/go-libs/pgtesting/postgres.go
Labels: components/fctl, components/payments

#566 feat(ledger): auto upgrade on startup
  components/ledger/cmd/serve.go
  components/ledger/cmd/storage.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/internal/api/backend/backend.go
  components/ledger/internal/api/backend/backend_generated.go
  components/ledger/internal/api/shared/context.go
  components/ledger/internal/api/shared/errors.go
  components/ledger/internal/api/shared/resolver.go
  components/ledger/internal/api/v1/api_utils_test.go
  components/ledger/internal/api/v1/controllers_accounts.go
  components/ledger/internal/api/v1/controllers_accounts_test.go
  components/ledger/internal/api/v1/controllers_balances.go
  components/ledger/internal/api/v1/controllers_balances_test.go
  components/ledger/internal/api/v1/controllers_config_test.go
  components/ledger/internal/api/v1/controllers_info.go
  components/ledger/internal/api/v1/controllers_info_test.go
  components/ledger/internal/api/v1/controllers_transactions.go
  components/ledger/internal/api/v1/controllers_transactions_test.go
  components/ledger/internal/api/v1/routes.go
  components/ledger/internal/api/v2/api_utils_test.go
  components/ledger/internal/api/v2/context.go
  components/ledger/internal/api/v2/controllers_accounts.go
  components/ledger/internal/api/v2/controllers_accounts_test.go
  components/ledger/internal/api/v2/controllers_balances.go
  components/ledger/internal/api/v2/controllers_balances_test.go
  components/ledger/internal/api/v2/controllers_config_test.go
  components/ledger/internal/api/v2/controllers_info.go
  components/ledger/internal/api/v2/controllers_info_test.go
  components/ledger/internal/api/v2/controllers_transactions.go
  components/ledger/internal/api/v2/controllers_transactions_test.go
  components/ledger/internal/api/v2/middlewares_resolver.go
  components/ledger/internal/api/v2/routes.go
  components/ledger/internal/engine/ledger.go
  components/ledger/internal/engine/resolver.go
  components/ledger/internal/storage/driver/driver.go
  components/ledger/internal/storage/driver/driver_test.go
  components/ledger/internal/storage/driver/main_test.go
  components/ledger/internal/storage/ledgerstore/store.go
  components/ledger/internal/storage/storagetesting/storage.go
  components/ledger/internal/storage/systemstore/configuration.go
  components/ledger/internal/storage/systemstore/ledgers.go
  components/ledger/internal/storage/systemstore/migrations.go
  components/ledger/internal/storage/systemstore/store.go
  components/ledger/libs/migrations/migrator.go
  components/operator/go.mod
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/internal/controllers/stack/stack_reconciler_test.go
  components/operator/internal/controllers/stack/suite_test.go
  components/operator/internal/modules/ledger/handler.go
  components/operator/internal/modules/module.go
  components/operator/internal/modules/pod.go
  libs/go-libs/migrations/migrator.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/operator, components/ledger

#568 feat(operator): create databases in some dedicated jobs
  components/operator/apis/stack/v1beta3/postgres.go
  components/operator/apis/stack/v1beta3/zz_generated.deepcopy.go
  components/operator/go.mod
  components/operator/go.sum
  components/operator/internal/controllers/stack/stack_reconciler_test.go
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/jobs-batch-v1/ledger-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/jobs-batch-v1/orchestration-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/jobs-batch-v1/ledger-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/jobs-batch-v1/orchestration-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/jobs-batch-v1/ledger-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/jobs-batch-v1/orchestration-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/jobs-batch-v1/ledger-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/jobs-batch-v1/orchestration-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/jobs-batch-v1/ledger-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/jobs-batch-v1/ledger-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/jobs-batch-v1/orchestration-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/jobs-batch-v1/ledger-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/jobs-batch-v1/orchestration-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/jobs-batch-v1/auth-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/jobs-batch-v1/ledger-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/jobs-batch-v1/orchestration-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/jobs-batch-v1/payments-create-database.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/jobs-batch-v1/webhooks-create-database.yaml
  components/operator/internal/modules/module.go
  components/operator/internal/modules/postgres.go
Labels: components/operator

#572 fix(payments): fix open api transfer initiation request
  components/orchestration/internal/workflow/activities/activity_payment_stripe_transfer.go
  components/payments/internal/app/api/transfer_initiation.go
  components/payments/openapi.yaml
  docs/openapi/v2.json
  openapi/build/generate.json
Labels: components/payments

#585 feat: add flag --disable-stack-finalizer default true in code and helm chart
  components/operator/helm/templates/deployment.yaml
  components/operator/helm/values.yaml
  components/operator/internal/controllers/stack/stack_finalizer.go
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/main.go
Labels: components/operator

#471 feat(operator): delete, enable, disable, backups
  components/agent/Taskfile.yaml
  components/agent/internal/grpc/client.go
  components/agent/internal/grpc/generated/server.pb.go
  components/agent/internal/grpc/generated/server_grpc.pb.go
  components/agent/server.proto
  components/operator/.gitignore
  components/operator/Makefile
  components/operator/README.md
  components/operator/apis/stack/v1beta3/configuration_types.go
  components/operator/apis/stack/v1beta3/postgres.go
  components/operator/config/crd/bases/stack.formance.com_configurations.yaml
  components/operator/garden.yml
  components/operator/go.mod
  components/operator/go.sum
  components/operator/helm/templates/deployment.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_configurations.stack.formance.com.yaml
  components/operator/helm/values.yaml
  components/operator/internal/controllers/stack/stack_finalizer.go
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/internal/modules/stack.go
  components/operator/internal/storage/es/client.go
  components/operator/internal/storage/nats/client.go
  components/operator/internal/storage/pg/client.go
  components/operator/main.go
Labels: components/operator

#592 fix: change wording !disable -> enable
  components/operator/helm/templates/deployment.yaml
  components/operator/helm/values.yaml
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/main.go
Labels: components/operator

#573 feat(operator): use dedicated jobs for all related search stuff
  components/operator/apis/stack/v1beta3/migration_types.go
  components/operator/go.mod
  components/operator/go.sum
  components/operator/internal/controllers/stack/migration_reconciler.go
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/deployments-apps-v1/monopod-search-before-v0-7-0.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/cronjobs-batch-v1/reindex-ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/migrations-stack.formance.com-v1beta3/search-v0.0.0-pre-upgrade.yaml
  components/operator/internal/modules/deployer.go
  components/operator/internal/modules/image.go
  components/operator/internal/modules/job.go
  components/operator/internal/modules/module.go
  components/operator/internal/modules/payments/handler.go
  components/operator/internal/modules/pod.go
  components/operator/internal/modules/search/handler.go
  components/operator/internal/modules/service.go
  components/operator/internal/modules/shell.go
  components/operator/internal/modules/stack.go
  components/operator/internal/modules/wallets/handler.go
Labels: components/operator

#584 feat(payments): add filters for transfer-initiation
  components/ledger/internal/api/v1/controllers_accounts.go
  components/ledger/internal/api/v1/controllers_accounts_test.go
  components/ledger/internal/api/v1/controllers_balances.go
  components/ledger/internal/api/v1/controllers_balances_test.go
  components/ledger/internal/api/v1/controllers_info.go
  components/ledger/internal/api/v1/controllers_info_test.go
  components/ledger/internal/api/v1/controllers_transactions.go
  components/ledger/internal/api/v1/controllers_transactions_test.go
  components/ledger/internal/api/v1/utils.go
  components/ledger/internal/api/v2/controllers_accounts_test.go
  components/ledger/internal/api/v2/controllers_balances_test.go
  components/ledger/internal/api/v2/controllers_info_test.go
  components/ledger/internal/api/v2/controllers_transactions_test.go
  components/ledger/internal/api/v2/utils.go
  components/ledger/internal/storage/ledgerstore/accounts.go
  components/ledger/internal/storage/ledgerstore/accounts_test.go
  components/ledger/internal/storage/ledgerstore/balances.go
  components/ledger/internal/storage/ledgerstore/balances_test.go
  components/ledger/internal/storage/ledgerstore/logs.go
  components/ledger/internal/storage/ledgerstore/logs_test.go
  components/ledger/internal/storage/ledgerstore/transactions.go
  components/ledger/internal/storage/ledgerstore/transactions_test.go
  components/ledger/internal/storage/ledgerstore/utils.go
  components/ledger/libs/query/expression.go
  components/ledger/libs/query/expression_test.go
  components/ledger/libs/query/mapping.go
  components/payments/internal/app/api/accounts.go
  components/payments/internal/app/api/balances.go
  components/payments/internal/app/api/bank_account.go
  components/payments/internal/app/api/connector.go
  components/payments/internal/app/api/payments.go
  components/payments/internal/app/api/transfer_initiation.go
  components/payments/internal/app/api/utils.go
  components/payments/internal/app/integration/manager.go
  components/payments/internal/app/storage/accounts.go
  components/payments/internal/app/storage/balances.go
  components/payments/internal/app/storage/bank_accounts.go
  components/payments/internal/app/storage/paginate.go
  components/payments/internal/app/storage/paginate_test.go
  components/payments/internal/app/storage/payments.go
  components/payments/internal/app/storage/task.go
  components/payments/internal/app/storage/transfer_initiation.go
  components/payments/internal/app/task/scheduler.go
  components/payments/internal/app/task/store.go
  components/payments/internal/app/task/storememory.go
  components/payments/openapi.yaml
  docs/openapi/v2.json
  libs/go-libs/query/expression.go
  libs/go-libs/query/expression_test.go
  libs/go-libs/query/mapping.go
  openapi/build/generate.json
Labels: components/payments

#626 feat(payments): link bank accounts to payment accounts
  components/payments/internal/app/api/bank_account.go
  components/payments/internal/app/api/router.go
  components/payments/internal/app/models/account.go
  components/payments/internal/app/models/bank_account.go
  components/payments/internal/app/storage/bank_accounts.go
  components/payments/internal/app/storage/migrations.go
  components/payments/openapi.yaml
  docs/openapi/v2.json
  openapi/build/generate.json
Labels: components/payments

#636 feat(operator): modify how database migration is done
  components/operator/garden.yml
  components/operator/garden/example-v1beta3.yaml
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/jobs-batch-v1/payments-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/versions.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/jobs-batch-v1/ledger-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/jobs-batch-v1/payments-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/versions.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/jobs-batch-v1/payments--database-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/jobs-batch-v1/ledger--database-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/jobs-batch-v1/payments--database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/jobs-batch-v1/ledger-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/jobs-batch-v1/payments-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/versions.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/jobs-batch-v1/ledger-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/jobs-batch-v1/payments-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/versions.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/jobs-batch-v1/ledger-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/jobs-batch-v1/payments-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/versions.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/jobs-batch-v1/ledger-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/jobs-batch-v1/payments-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/versions.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/jobs-batch-v1/ledger-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/jobs-batch-v1/payments-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/versions.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/jobs-batch-v1/ledger-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/jobs-batch-v1/payments-latest-database-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/versions.yaml
  components/operator/internal/modules/module.go
Labels: components/operator

#640 feat(payments): add scheduled at for transfer initiations
  components/fctl/cmd/payments/transferinitiation/list.go
  components/fctl/cmd/payments/transferinitiation/show.go
  components/orchestration/internal/workflow/activities/activity_payment_stripe_transfer.go
  components/payments/internal/app/api/transfer_initiation.go
  components/payments/internal/app/connectors/currencycloud/connector.go
  components/payments/internal/app/connectors/mangopay/connector.go
  components/payments/internal/app/connectors/modulr/connector.go
  components/payments/internal/app/connectors/moneycorp/connector.go
  components/payments/internal/app/connectors/stripe/connector.go
  components/payments/internal/app/connectors/wise/connector.go
  components/payments/internal/app/models/task.go
  components/payments/internal/app/models/transfer_initiation.go
  components/payments/internal/app/storage/migrations.go
  components/payments/internal/app/storage/transfer_initiation.go
  components/payments/internal/app/task/scheduler.go
  components/payments/openapi.yaml
  docs/openapi/v2.json
  openapi/build/generate.json
Labels: components/payments

#637 feat: add a sql connection pool by ledger
  components/ledger/cmd/container.go
  components/ledger/cmd/storage.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/internal/analytics/analytics_test.go
  components/ledger/internal/analytics/backend.go
  components/ledger/internal/analytics/backend_test.go
  components/ledger/internal/api/backend/backend.go
  components/ledger/internal/api/backend/backend_generated.go
  components/ledger/internal/api/v1/controllers_accounts_test.go
  components/ledger/internal/api/v1/controllers_balances_test.go
  components/ledger/internal/api/v1/controllers_config_test.go
  components/ledger/internal/api/v1/controllers_info_test.go
  components/ledger/internal/api/v1/controllers_transactions_test.go
  components/ledger/internal/api/v2/controllers_accounts_test.go
  components/ledger/internal/api/v2/controllers_balances_test.go
  components/ledger/internal/api/v2/controllers_config_test.go
  components/ledger/internal/api/v2/controllers_info_test.go
  components/ledger/internal/api/v2/controllers_transactions_test.go
  components/ledger/internal/engine/ledger.go
  components/ledger/internal/engine/stats.go
  components/ledger/internal/machine/script/parser/NumScript.interp
  components/ledger/internal/machine/script/parser/NumScriptLexer.interp
  components/ledger/internal/storage/driver/cli.go
  components/ledger/internal/storage/driver/driver.go
  components/ledger/internal/storage/ledgerstore/accounts.go
  components/ledger/internal/storage/ledgerstore/logs.go
  components/ledger/internal/storage/ledgerstore/main_test.go
  components/ledger/internal/storage/ledgerstore/transactions.go
  components/ledger/internal/storage/ledgerstore/transactions_test.go
  components/ledger/internal/storage/ledgerstore/utils.go
  components/ledger/internal/storage/storagetesting/storage.go
  components/ledger/libs/go.mod
  components/ledger/libs/go.sum
  components/ledger/libs/query/expression.go
  libs/go-libs/query/expression.go
Labels: components/ledger

#656 fix: stack-finalizer-enabling
  .gitignore
  components/operator/garden.yml
  components/operator/garden/nats/garden.yaml
  components/operator/garden/otel-collector/garden.yaml
  components/operator/internal/controllers/stack/stack_finalizer.go
  components/operator/internal/controllers/stack/stack_reconciler.go
  components/operator/internal/storage/es/client.go
  components/operator/internal/storage/nats/client.go
Labels: components/operator

#777 feat(payments): add storage tests
  components/payments/cmd/connectors/internal/storage/accounts_test.go
  components/payments/cmd/connectors/internal/storage/balance_test.go
  components/payments/cmd/connectors/internal/storage/bank_accounts.go
  components/payments/cmd/connectors/internal/storage/bank_accounts_test.go
  components/payments/cmd/connectors/internal/storage/connectors.go
  components/payments/cmd/connectors/internal/storage/connectors_test.go
  components/payments/cmd/connectors/internal/storage/main_test.go
  components/payments/cmd/connectors/internal/storage/module.go
  components/payments/cmd/connectors/internal/storage/payments_test.go
  components/payments/cmd/connectors/internal/storage/repository.go
  components/payments/cmd/connectors/internal/storage/transfer_initiation.go
  components/payments/cmd/connectors/internal/storage/transfer_initiation_test.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/models/bank_account.go
  components/payments/internal/storage/migrations.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments

#689 feat: display effective status, and state in 'status'
  components/fctl/cmd/stack/internal/print.go
  components/fctl/cmd/stack/list.go
  components/fctl/cmd/stack/show.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/Stack.md
  components/fctl/membershipclient/docs/StackAllOf.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_all_of.go
  components/fctl/pkg/command.go
Labels: components/fctl

#780 feat: upgrade speakeasy
  Earthfile
  components/fctl/Earthfile
  components/fctl/cmd/auth/clients/create.go
  components/fctl/cmd/ledger/internal/list.go
  components/fctl/cmd/ledger/internal/revert.go
  components/fctl/cmd/ledger/internal/transaction.go
  components/fctl/cmd/ledger/transactions/revert.go
  components/fctl/cmd/orchestration/instances/describe.go
  components/fctl/cmd/orchestration/workflows/create.go
  components/fctl/cmd/orchestration/workflows/run.go
  components/fctl/cmd/payments/connectors/install/bankingcircle.go
  components/fctl/cmd/payments/connectors/install/currencycloud.go
  components/fctl/cmd/payments/connectors/install/mangopay.go
  components/fctl/cmd/payments/connectors/install/modulr.go
  components/fctl/cmd/payments/connectors/install/moneycorp.go
  components/fctl/cmd/payments/connectors/install/stripe.go
  components/fctl/cmd/payments/connectors/install/wise.go
  components/fctl/cmd/payments/connectors/views/banking.go
  components/fctl/cmd/payments/connectors/views/currency.go
  components/fctl/cmd/payments/connectors/views/modulr.go
  components/fctl/cmd/payments/connectors/views/stripe.go
  components/fctl/cmd/payments/connectors/views/wise.go
  components/fctl/cmd/wallets/create.go
  components/fctl/cmd/wallets/credit.go
  components/fctl/cmd/wallets/internal/command.go
  components/fctl/cmd/wallets/internal/subject.go
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/pkg/clients.go
  components/orchestration/go.mod
  components/orchestration/go.sum
  components/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  components/wallets/go.mod
  components/wallets/go.sum
  tests/integration/Earthfile
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/init.go
  tests/integration/internal/openapi.go
  tests/integration/internal/test.go
  tests/integration/suite/orchestration-workflows-create.go
  tests/integration/suite/orchestration-workflows-execute-with-error.go
  tests/integration/suite/orchestration-workflows-execute.go
  tests/integration/suite/orchestration-workflows-list.go
  tests/integration/suite/orchestration-workflows-soft-delete.go
  tests/integration/suite/payments-connectors-dummy-pay.go
  tests/integration/suite/payments-connectors-reset.go
  tests/integration/suite/payments-connectors-stripe.go
  tests/integration/suite/wallets-create.go
Labels: components/fctl, components/orchestration, components/wallets
