Repository formancehq/stack, pull requests merged in 2023-11, with the labels that each got.

#778 chore: Remove Garden
  components/operator/.gardenignore
  components/operator/README.md
  components/operator/commands.garden.yaml
  components/operator/garden.yml
  components/operator/garden/cert-manager/garden.yaml
  components/operator/garden/dex/garden.yaml
  components/operator/garden/elasticsearch/garden.yaml
  components/operator/garden/example-v1beta1.yaml
  components/operator/garden/example-v1beta2.yaml
  components/operator/garden/example-v1beta3.yaml
  components/operator/garden/garden.Dockerfile
  components/operator/garden/jaeger/garden.yaml
  components/operator/garden/k3d.yaml
  components/operator/garden/minio/garden.yaml
  components/operator/garden/nats/garden.yaml
  components/operator/garden/otel-collector/garden.yaml
  components/operator/garden/postgres/garden.yaml
  components/operator/garden/reloader/garden.yaml
  components/operator/garden/traefik/garden.yaml
  components/operator/project.garden.yaml
  components/operator/workflows.garden.yaml
Labels: components/operator

#787 fix: nillable object should not be initialized in empty struct
  Earthfile
  components/fctl/cmd/stack/show.go
  components/fctl/go.mod
Labels: components/fctl

#784 ci: change dirty state
  .dockerignore
  .earthlyignore
  .github/workflows/main.yml
  .github/workflows/pr.yml
  Earthfile
  components/stargate/build.Dockerfile
Labels: build-images

#827 feat(ledger): add tests on big int support
  components/ledger/internal/storage/ledgerstore/accounts_test.go
  components/ledger/internal/storage/ledgerstore/balances_test.go
  components/ledger/libs/pgtesting/postgres.go
  components/orchestration/go.mod
  components/orchestration/go.sum
  libs/go-libs/migrations/migrator_test.go
Labels: components/orchestration

#829 feat: add 'force' query param to force reverts even if the source accounts does not have enough funds
  components/fctl/cmd/ledger/transactions/revert.go
  components/ledger/internal/api/backend/backend.go
  components/ledger/internal/api/backend/backend_generated.go
  components/ledger/internal/api/bulk/bulk.go
  components/ledger/internal/api/v1/controllers_transactions.go
  components/ledger/internal/api/v1/controllers_transactions_test.go
  components/ledger/internal/api/v2/controllers_bulk_test.go
  components/ledger/internal/api/v2/controllers_transactions.go
  components/ledger/internal/api/v2/controllers_transactions_test.go
  components/ledger/internal/engine/command/commander.go
  components/ledger/internal/engine/command/commander_test.go
  components/ledger/internal/engine/ledger.go
  components/ledger/internal/errors.go
  components/ledger/internal/machine/internal/funding.go
  components/ledger/internal/machine/machine.go
  components/ledger/internal/machine/machine_test.go
  components/ledger/internal/machine/vm/errors.go
  components/ledger/internal/machine/vm/machine.go
  components/ledger/internal/machine/vm/machine_overdraft_test.go
  components/ledger/internal/machine/vm/machine_test.go
  components/ledger/internal/numscript.go
  components/ledger/internal/storage/inmemory.go
  components/ledger/internal/storage/ledgerstore/balances_test.go
  components/ledger/internal/transaction.go
  components/ledger/openapi.yaml
  components/orchestration/internal/workflow/activities/activity_ledger_revert_transaction.go
  openapi/build/generate.json
  tests/integration/internal/service.go
  tests/integration/suite/ledger-revert-transaction.go
Labels: components/ledger

#830 fix: missing big ints un openapispec / sdk
  components/fctl/cmd/ledger/internal/print.go
  components/fctl/cmd/ledger/internal/transaction.go
  components/fctl/cmd/ledger/transactions/revert.go
  components/ledger/internal/machine/vm/machine_overdraft_test.go
  components/ledger/openapi.yaml
  openapi/build/generate.json
  tests/integration/suite/ledger-create-bulk.go
  tests/integration/suite/ledger-create-transaction.go
  tests/integration/suite/ledger-list-logs.go
  tests/integration/suite/ledger-list-transactions.go
  tests/integration/suite/ledger-revert-transaction.go
  tests/integration/suite/ledger-set-metadata-on-transaction.go
  tests/integration/suite/orchestration-workflows-execute.go
Labels: components/ledger

#835 feat: add plugin audit
  Earthfile
  components/agent/go.mod
  components/agent/go.sum
  components/auth/go.mod
  components/auth/go.sum
  components/fctl/go.mod
  components/fctl/go.sum
  components/gateway/Caddyfile
  components/gateway/Earthfile
  components/gateway/go.mod
  components/gateway/go.sum
  components/gateway/internal/audit/messages/audit.go
  components/gateway/pkg/plugins/audit.go
  components/operator/go.mod
  components/operator/go.sum
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/deployments-apps-v1/monopod-disabled-one-service.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/deployments-apps-v1/monopod-latest.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/deployments-apps-v1/monopod-ledgerv1.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/deployments-apps-v1/monopod-search-before-v0-7-0.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/deployments-apps-v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/deployments-apps-v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/deployments-apps-v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-custom-registry/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-custom-registry/results/deployments-apps-v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/deployments-apps-v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/deployments-apps-v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/configmaps--v1/gateway-config.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/deployments-apps-v1/gateway.yaml
  components/operator/internal/modules/gateway/handler.go
  components/orchestration/go.mod
  components/orchestration/go.sum
  components/search/go.mod
  components/search/go.sum
  components/wallets/go.mod
  components/wallets/go.sum
  libs/go-libs/Earthfile
  libs/go-libs/go.mod
  libs/go-libs/logging/zapadapter.go
  libs/go-libs/publish/kafka.go
  libs/go-libs/publish/logging.go
  libs/go-libs/publish/nats.go
Labels: components/fctl, components/operator, components/orchestration, components/wallets, components/search, components/auth, components/gateway

#838 feat: build on main
  .github/workflows/main.yml
Labels: build-images

#839 feat: allow digits in first segment of account addresses
  components/gateway/go.mod
  components/ledger/Earthfile
  components/ledger/internal/account.go
  components/ledger/internal/account_test.go
  components/ledger/internal/machine/script/NumScript.g4
  components/ledger/internal/machine/script/parser/NumScriptLexer.interp
  components/ledger/internal/machine/script/parser/numscript_lexer.go
  components/ledger/internal/machine/vm/machine_test.go
  components/ledger/internal/machine/vm/run_test.go
  components/ledger/internal/posting.go
  components/ledger/libs/Earthfile
  components/ledger/libs/go.mod
  components/ledger/libs/logging/zapadapter.go
  components/ledger/libs/publish/kafka.go
  components/ledger/libs/publish/logging.go
  components/ledger/libs/publish/nats.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
Labels: components/ledger

#872 feat: benchmarks store
  components/ledger/Earthfile
  components/ledger/internal/api/backend/backend.go
  components/ledger/internal/api/backend/backend_generated.go
  components/ledger/internal/api/v1/controllers_accounts.go
  components/ledger/internal/api/v1/controllers_balances.go
  components/ledger/internal/api/v1/controllers_info.go
  components/ledger/internal/api/v1/controllers_transactions.go
  components/ledger/internal/api/v2/controllers_accounts.go
  components/ledger/internal/api/v2/controllers_info.go
  components/ledger/internal/api/v2/controllers_transactions.go
  components/ledger/internal/engine/ledger.go
  components/ledger/internal/storage/ledgerstore/accounts.go
  components/ledger/internal/storage/ledgerstore/balances.go
  components/ledger/internal/storage/ledgerstore/logs.go
  components/ledger/internal/storage/ledgerstore/logs_test.go
  components/ledger/internal/storage/ledgerstore/main_test.go
  components/ledger/internal/storage/ledgerstore/store_benchmarks_test.go
  components/ledger/internal/storage/ledgerstore/transactions.go
  components/ledger/internal/storage/sqlutils/utils.go
  components/ledger/libs/bun/bunexplain/explain_hook.go
  libs/go-libs/bun/bunexplain/explain_hook.go
  tests/benchmarks/Earthfile
Labels: components/ledger

#873 feat(ledger): add earthfile target to compare benchmarks
  components/ledger/Earthfile
Labels: components/ledger

#874 feat(ledger): add some parameters to benchmarks
  components/ledger/Earthfile
Labels: components/ledger

#878 feat(openapi): add oidc discovery
  components/auth/openapi.yaml
Labels: components/auth

#876 feat(otlp): add bodies on http requests if status code >= 400
  components/agent/internal/k8s/k8s.go
  components/auth/cmd/serve.go
  components/ledger/libs/otlp/http_client.go
  components/orchestration/cmd/worker.go
  components/search/cmd/serve.go
  components/search/go.mod
  components/wallets/cmd/serve.go
  libs/go-libs/otlp/http_client.go
Labels: components/search

#880 fix(payments): fix docker compose to test it locally
  components/payments/docker-compose.yml
  components/payments/local_env/postgres/init.sql
Labels: components/payments

#882 fix(payments): fix postgres healthcheck in compose
  components/payments/docker-compose.yml
Labels: components/payments

#886 fix: duplicate components definition for orchestration
  components/orchestration/openapi.yaml
  components/wallets/openapi.yaml
  openapi/build/generate.json
Labels: components/orchestration, components/wallets

#887 feat: various bench improvements
  components/ledger/Earthfile
  components/ledger/internal/storage/ledgerstore/store_benchmarks_test.go
  components/ledger/libs/bun/bunexplain/explain_hook.go
  libs/go-libs/bun/bunexplain/explain_hook.go
Labels: components/ledger

#933 feat(fctl): check payments server versions
  components/fctl/cmd/payments/bankaccounts/create.go
  components/fctl/cmd/payments/bankaccounts/list.go
  components/fctl/cmd/payments/bankaccounts/show.go
  components/fctl/cmd/payments/connectors/getconfig.go
  components/fctl/cmd/payments/connectors/install/bankingcircle.go
  components/fctl/cmd/payments/connectors/install/currencycloud.go
  components/fctl/cmd/payments/connectors/install/mangopay.go
  components/fctl/cmd/payments/connectors/install/modulr.go
  components/fctl/cmd/payments/connectors/install/moneycorp.go
  components/fctl/cmd/payments/connectors/install/stripe.go
  components/fctl/cmd/payments/connectors/install/wise.go
  components/fctl/cmd/payments/connectors/list.go
  components/fctl/cmd/payments/connectors/uninstall.go
  components/fctl/cmd/payments/transferinitiation/create.go
  components/fctl/cmd/payments/transferinitiation/delete.go
  components/fctl/cmd/payments/transferinitiation/list.go
  components/fctl/cmd/payments/transferinitiation/retry.go
  components/fctl/cmd/payments/transferinitiation/show.go
  components/fctl/cmd/payments/transferinitiation/update_status.go
  components/fctl/cmd/payments/versions/versions.go
  components/fctl/go.mod
  components/fctl/go.sum
Labels: components/fctl
