Repository formancehq/stack, pull requests merged in 2023-05, with the labels that each got.

#289 feat: add otel metrics lib in go libs
  components/auth/go.mod
  components/auth/go.sum
  components/fctl/go.mod
  components/fctl/go.sum
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/libs/go.mod
  components/ledger/libs/go.sum
  components/ledger/libs/otlp/cli.go
  components/ledger/libs/otlp/otlpmetrics/cli.go
  components/ledger/libs/otlp/otlpmetrics/module.go
  components/ledger/libs/otlp/otlpmetrics/otlpexporter.go
  components/ledger/libs/otlp/otlpmetrics/stdoutexporter.go
  components/ledger/libs/otlp/otlptraces/cli.go
  components/operator/go.mod
  components/operator/go.sum
  components/orchestration/go.mod
  components/orchestration/go.sum
  components/payments/go.mod
  components/payments/go.sum
  components/search/go.mod
  components/search/go.sum
  components/wallets/go.mod
  components/wallets/go.sum
  components/webhooks/go.mod
  components/webhooks/go.sum
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/otlp/cli.go
  libs/go-libs/otlp/otlpmetrics/cli.go
  libs/go-libs/otlp/otlpmetrics/module.go
  libs/go-libs/otlp/otlpmetrics/otlpexporter.go
  libs/go-libs/otlp/otlpmetrics/stdoutexporter.go
  libs/go-libs/otlp/otlptraces/cli.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/fctl, components/operator, components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger

#291 feat(operator): Change API_URL vars
  components/operator/go.mod
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/stack2.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/webhooks.yaml
  components/operator/internal/handlers/handler_control.go
Labels: components/operator

#295 feat: add membership-agent
  .pre-commit-config.yaml
  Taskfile.yaml
  components/membership-agent/.golangci.yml
  components/membership-agent/.goreleaser.yml
  components/membership-agent/Dockerfile
  components/membership-agent/Taskfile.yaml
  components/membership-agent/build.Dockerfile
  components/membership-agent/chart/.gitignore
  components/membership-agent/chart/.helmignore
  components/membership-agent/chart/Chart.yaml
  components/membership-agent/chart/templates/_helpers.tpl
  components/membership-agent/chart/templates/clusterrole.yaml
  components/membership-agent/chart/templates/clusterrolebinding.yaml
  components/membership-agent/chart/templates/deployment.yaml
  components/membership-agent/chart/templates/serviceaccount.yaml
  components/membership-agent/chart/values.yaml
  components/membership-agent/cmd/root.go
  components/membership-agent/cmd/version.go
  components/membership-agent/cmd/viper.go
  components/membership-agent/go.mod
  components/membership-agent/go.sum
  components/membership-agent/internal/grpc/billing.go
  components/membership-agent/internal/grpc/client.go
  components/membership-agent/internal/grpc/connect.go
  components/membership-agent/internal/grpc/generated/README.md
  components/membership-agent/internal/grpc/generated/server.pb.go
  components/membership-agent/internal/grpc/generated/server_grpc.pb.go
  components/membership-agent/internal/grpc/module.go
  components/membership-agent/internal/grpc/module_test.go
  components/membership-agent/internal/k8s/k8s.go
  components/membership-agent/internal/k8s/module.go
  components/membership-agent/main.go
  components/membership-agent/server.proto
Labels: ready to merge

#303 refactor: cqrs/memory management
  components/ledger/.gitignore
  components/ledger/cmd/container.go
  components/ledger/cmd/root.go
  components/ledger/cmd/serve.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/pkg/api/controllers/ledger_controller_test.go
  components/ledger/pkg/api/controllers/transaction_controller_test.go
  components/ledger/pkg/core/account.go
  components/ledger/pkg/core/log.go
  components/ledger/pkg/core/transaction.go
  components/ledger/pkg/ledger/cache/cache.go
  components/ledger/pkg/ledger/cache/cache_test.go
  components/ledger/pkg/ledger/command/commander.go
  components/ledger/pkg/ledger/command/commander_test.go
  components/ledger/pkg/ledger/command/context.go
  components/ledger/pkg/ledger/command/errors.go
  components/ledger/pkg/ledger/command/inflight.go
  components/ledger/pkg/ledger/command/reference.go
  components/ledger/pkg/ledger/command/reserve.go
  components/ledger/pkg/ledger/command/state.go
  components/ledger/pkg/ledger/command/state_test.go
  components/ledger/pkg/ledger/command/store.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/module.go
  components/ledger/pkg/ledger/query/worker.go
  components/ledger/pkg/ledger/query/worker_test.go
  components/ledger/pkg/ledger/resolver.go
  components/ledger/pkg/machine/examples/basic.go
  components/ledger/pkg/machine/machine.go
  components/ledger/pkg/machine/machine_test.go
  components/ledger/pkg/machine/vm/machine.go
  components/ledger/pkg/machine/vm/machine_test.go
  components/ledger/pkg/machine/vm/store.go
  components/ledger/pkg/storage/ledgerstore/accounts.go
  components/ledger/pkg/storage/ledgerstore/accounts_test.go
  components/ledger/pkg/storage/ledgerstore/logs.go
  components/ledger/pkg/storage/ledgerstore/logs_test.go
  components/ledger/pkg/storage/ledgerstore/logs_worker.go
  components/ledger/pkg/storage/ledgerstore/migrates/0-init-schema/any.go
  components/ledger/pkg/storage/ledgerstore/migrates/0-init-schema/postgres.sql
  components/ledger/pkg/storage/schema/schema.go
Labels: components/ledger

#306 feat: change implementation of accounts lock
  components/ledger/Taskfile.yaml
  components/ledger/pkg/ledger/command/lock.go
  components/ledger/pkg/ledger/ledger.go
  components/ledger/pkg/ledger/resolver.go
Labels: components/ledger

#313 fix(wallet): keep compatibility with ledger v1
  components/wallets/go.mod
  components/wallets/pkg/account.go
  components/wallets/pkg/account_test.go
Labels: components/wallets

#288 chore: OSS Roadmap numary -> formance
  components/payments/README.md
Labels: components/payments

#320 fix(operator): backward compatibility with ledger v1
  components/operator/Dockerfile
  components/operator/go.mod
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_configurations.stack.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_stacks.stack.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_stargates.components.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_versions.stack.formance.com.yaml
  components/operator/internal/common/liveness.go
  components/operator/internal/controllers/stack/testdata/monopod/deployments-apps-v1/orga2-stack2.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/monopod/services--v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks-worker.yaml
  components/operator/internal/controllers/stack/testdata/multipod/deployments-apps-v1/webhooks.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/auth.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/control.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/gateway.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/ledger.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/orchestration.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/search.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/wallets.yaml
  components/operator/internal/controllers/stack/testdata/multipod/services--v1/webhooks.yaml
  components/operator/internal/controllerutils/env.go
  components/operator/internal/handlers/handler_ledger.go
  components/operator/internal/handlers/handler_payments.go
  components/operator/internal/modules/broker.go
  components/operator/internal/modules/image.go
  components/operator/internal/modules/monitoring.go
  components/operator/internal/modules/service.go
Labels: components/operator

#335 fix(doc): operator readme
  components/operator/README.md
Labels: components/operator
