Repository formancehq/stack, pull requests merged in 2023-06, with the labels that each got.

#368 fix: search of ingestion of ASSET/0
  components/search/Dockerfile
  components/search/benthos/streams/ledger_ingestion.yaml
Labels: components/search

#340 feat: fctl autocomplete organizations stacks
  components/fctl/cmd/cloud/me/info.go
  components/fctl/cmd/login.go
  components/fctl/cmd/prompt.go
  components/fctl/cmd/root.go
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/pkg/claims.go
  components/fctl/pkg/command.go
  components/fctl/pkg/profile.go
  components/fctl/pkg/relyingparty.go
Labels: components/fctl

#381 feat: add invitations deletion
  components/fctl/cmd/cloud/organizations/invitations/delete.go
  components/fctl/cmd/cloud/organizations/invitations/root.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
Labels: components/fctl

#361 ci: Improvement docker build
  .github/workflows/cron.yml
  base.Dockerfile
  components/agent/build.Dockerfile
  components/auth/build.Dockerfile
  components/fctl/build.Dockerfile
  components/gateway/build.Dockerfile
  components/ledger/build.Dockerfile
  components/operator/build.Dockerfile
  components/orchestration/build.Dockerfile
  components/payments/build.Dockerfile
  components/search/build.Dockerfile
  components/wallets/build.Dockerfile
  components/webhooks/build.Dockerfile
Labels: components/fctl, components/operator, components/orchestration, components/payments, components/wallets, components/search, components/webhooks, components/auth, components/ledger

#362 fix: payments bugs
  components/operator/apis/stack/v1beta3/stack_types.go
  components/operator/apis/stack/v1beta3/zz_generated.deepcopy.go
  components/operator/config/crd/bases/stack.formance.com_stacks.yaml
  components/operator/go.mod
  components/operator/go.sum
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_stacks.stack.formance.com.yaml
  components/operator/internal/controllers/stack/migration_reconciler.go
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/deployments-apps-v1/payments.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/migrations-stack.formance.com-v1beta3/payments-v0.6.5-post-upgrade.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/migrations-stack.formance.com-v1beta3/payments-v0.6.5-pre-upgrade.yaml
  components/operator/internal/handlers/handler_payments.go
  components/operator/internal/handlers/handler_search.go
  components/operator/internal/modules/module.go
  components/operator/internal/modules/service.go
  components/payments/cmd/migrate.go
  components/payments/cmd/serve.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/app/api/metadata.go
  components/payments/internal/app/connectors/bankingcircle/task_fetch_payments.go
  components/payments/internal/app/connectors/currencycloud/task_fetch_transactions.go
  components/payments/internal/app/connectors/dummypay/task_ingest.go
  components/payments/internal/app/connectors/modulr/task_fetch_transactions.go
  components/payments/internal/app/connectors/stripe/config.go
  components/payments/internal/app/connectors/stripe/timeline.go
  components/payments/internal/app/connectors/stripe/translate.go
  components/payments/internal/app/connectors/wise/task_fetch_transfers.go
  components/payments/internal/app/ingestion/payments.go
  components/payments/internal/app/models/adjustment.go
  components/payments/internal/app/models/metadata.go
  components/payments/internal/app/models/payment.go
  components/payments/internal/app/models/transfer.go
  components/payments/internal/app/storage/metadata.go
  components/payments/internal/app/storage/migrations.go
  components/payments/internal/app/storage/transfer.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/gateway.go
Labels: components/operator, components/payments

#402 fix: operator payments migration
  components/operator/go.mod
  components/operator/go.sum
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/migrations-stack.formance.com-v1beta3/payments-v0.6.7-pre-upgrade.yaml
  components/operator/internal/handlers/handler_payments.go
Labels: components/operator
