Repository formancehq/stack, pull requests merged in 2023-09, with the labels that each got.

#514 fix: wrong flows product link & updated logo images
  docs/docs/index.mdx
  docs/src/components/DocCard.js
  docs/static/img/flows.svg
  docs/static/img/ledger.svg
  docs/static/img/numscript.svg
  docs/static/img/payments.svg
  docs/static/img/wallets.svg
Labels: documentation

#532 feat(fctl): delete metadata
  components/fctl/cmd/ledger/accounts/delete_metadata.go
  components/fctl/cmd/ledger/accounts/root.go
  components/fctl/cmd/ledger/list.go
  components/fctl/cmd/ledger/serverinfo.go
  components/fctl/cmd/ledger/transactions/delete_metadata.go
  components/fctl/cmd/ledger/transactions/root.go
  components/fctl/go.mod
  components/fctl/go.sum
  components/ledger/internal/api/v1/controllers_info_test.go
  components/ledger/internal/api/v2/controllers_transactions.go
  components/ledger/internal/bus/message.go
  components/ledger/internal/engine/command/commander.go
  components/ledger/openapi.yaml
  components/orchestration/go.sum
  components/search/benthos/streams/ledger_ingestion.yaml
  components/wallets/go.sum
  openapi/templates/go/gen.yaml
  openapi/templates/typescript/gen.yaml
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/fctl, components/orchestration, components/wallets, components/ledger

#539 fix: tests
  components/fctl/cmd/ledger/list.go
  components/fctl/go.mod
  components/fctl/go.sum
  components/ledger/go.mod
  components/ledger/internal/api/v2/controllers_info_test.go
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/configmaps--v1/search-benthos-streams.yaml
  components/orchestration/go.sum
  components/wallets/go.sum
Labels: components/fctl, components/orchestration, components/wallets, components/ledger

#544 feat(payments): add transfer initiation retries
  components/payments/internal/app/api/router.go
  components/payments/internal/app/api/transfer_initiation.go
  components/payments/internal/app/connectors/currencycloud/task_payments.go
  components/payments/internal/app/connectors/currencycloud/task_resolve.go
  components/payments/internal/app/connectors/mangopay/task_payments.go
  components/payments/internal/app/connectors/mangopay/task_resolve.go
  components/payments/internal/app/connectors/modulr/task_payments.go
  components/payments/internal/app/connectors/modulr/task_resolve.go
  components/payments/internal/app/connectors/moneycorp/task_payments.go
  components/payments/internal/app/connectors/moneycorp/task_resolve.go
  components/payments/internal/app/connectors/stripe/client/payouts.go
  components/payments/internal/app/connectors/stripe/client/transfers.go
  components/payments/internal/app/connectors/stripe/task_payments.go
  components/payments/internal/app/connectors/stripe/task_resolve.go
  components/payments/internal/app/connectors/wise/task_payments.go
  components/payments/internal/app/connectors/wise/task_resolve.go
  components/payments/internal/app/ingestion/ingester.go
  components/payments/internal/app/ingestion/transfer_initiation.go
  components/payments/internal/app/models/payment.go
  components/payments/internal/app/models/transfer_initiation.go
  components/payments/internal/app/storage/migrations.go
  components/payments/internal/app/storage/transfer_initiation.go
  components/payments/openapi.yaml
  openapi/build/generate.json
Labels: components/payments
