Repository formancehq/stack, pull requests merged in 2023-12, with the labels that each got.

#934 feat(payments): link bank account creation with connectors
  components/payments/cmd/connectors/internal/api/connectormodule.go
  components/payments/cmd/connectors/internal/api/connectors_manager/connector_test.go
  components/payments/cmd/connectors/internal/api/connectors_manager/manager.go
  components/payments/cmd/connectors/internal/api/module.go
  components/payments/cmd/connectors/internal/api/service/bank_account.go
  components/payments/cmd/connectors/internal/api/service/bank_account_test.go
  components/payments/cmd/connectors/internal/api/service/service.go
  components/payments/cmd/connectors/internal/api/service/transfer_initiation.go
  components/payments/cmd/connectors/internal/api/service/transfer_initiation_test.go
  components/payments/cmd/connectors/internal/connectors/bankingcircle/connector.go
  components/payments/cmd/connectors/internal/connectors/bankingcircle/task_create_external_account.go
  components/payments/cmd/connectors/internal/connectors/bankingcircle/task_fetch_accounts.go
  components/payments/cmd/connectors/internal/connectors/bankingcircle/task_resolve.go
  components/payments/cmd/connectors/internal/connectors/connector.go
  components/payments/cmd/connectors/internal/connectors/currencycloud/connector.go
  components/payments/cmd/connectors/internal/connectors/dummypay/connector.go
  components/payments/cmd/connectors/internal/connectors/errors.go
  components/payments/cmd/connectors/internal/connectors/mangopay/connector.go
  components/payments/cmd/connectors/internal/connectors/modulr/connector.go
  components/payments/cmd/connectors/internal/connectors/moneycorp/connector.go
  components/payments/cmd/connectors/internal/connectors/stripe/connector.go
  components/payments/cmd/connectors/internal/connectors/wise/connector.go
  components/payments/cmd/connectors/internal/ingestion/bank_account.go
  components/payments/cmd/connectors/internal/ingestion/ingester.go
  components/payments/cmd/connectors/internal/storage/repository.go
Labels: build-images

#935 feat(fctl): add fixes with payments 1.0.0
  components/fctl/cmd/payments/accounts/list.go
  components/fctl/cmd/payments/bankaccounts/create.go
  components/fctl/cmd/payments/bankaccounts/list.go
  components/fctl/cmd/payments/bankaccounts/show.go
  components/fctl/cmd/payments/connectors/getconfig.go
  components/fctl/cmd/payments/connectors/install/bankingcircle.go
  components/fctl/cmd/payments/connectors/install/currencycloud.go
  components/fctl/cmd/payments/connectors/install/mangopay.go
  components/fctl/cmd/payments/connectors/install/modulr.go
  components/fctl/cmd/payments/connectors/install/moneycorp.go
  components/fctl/cmd/payments/connectors/install/stripe.go
  components/fctl/cmd/payments/connectors/install/wise.go
  components/fctl/cmd/payments/connectors/internal/connectors.go
  components/fctl/cmd/payments/connectors/list.go
  components/fctl/cmd/payments/connectors/uninstall.go
  components/fctl/cmd/payments/connectors/views/banking.go
  components/fctl/cmd/payments/connectors/views/banking_circle.go
  components/fctl/cmd/payments/connectors/views/currency.go
  components/fctl/cmd/payments/connectors/views/currency_cloud.go
  components/fctl/cmd/payments/connectors/views/mangopay.go
  components/fctl/cmd/payments/connectors/views/moneycorp.go
  components/fctl/cmd/payments/connectors/views/stripe.go
  components/fctl/cmd/payments/connectors/views/wise.go
  components/fctl/cmd/payments/payments/list.go
  components/fctl/cmd/payments/transferinitiation/create.go
  components/fctl/cmd/payments/transferinitiation/delete.go
  components/fctl/cmd/payments/transferinitiation/list.go
  components/fctl/cmd/payments/transferinitiation/retry.go
  components/fctl/cmd/payments/transferinitiation/show.go
  components/fctl/cmd/payments/transferinitiation/update_status.go
  components/fctl/cmd/payments/versions/versions.go
  components/payments/openapi.yaml
  openapi/build/generate.json
  sdks/go/pkg/models/shared/connectorsresponse.go
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/ConnectorsResponseData.java
  sdks/php/src/Models/Shared/ConnectorsResponseData.php
  sdks/python/src/sdk/models/shared/connectorsresponse.py
  sdks/typescript/src/sdk/models/shared/connectorsresponse.ts
Labels: components/payments

#936 feat(payments): add provider in bank account response and search
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-payments-after-v1.0.0-alpha.6/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-payments-before-v1.0.0-alpha.6/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-custom-registry/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-custom-registry/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-gateway-fallback/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-gateway-fallback/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log-unvalid-tag/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log-unvalid-tag/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-without-audit-log/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-without-audit-log/results/deployments-apps-v1/search-benthos.yaml
  components/payments/cmd/api/internal/api/bank_accounts.go
  components/payments/cmd/api/internal/api/bank_accounts_test.go
  components/payments/cmd/connectors/internal/api/bank_account.go
  components/payments/cmd/connectors/internal/api/bank_account_test.go
  components/payments/cmd/connectors/internal/messages/bank_account.go
  components/payments/openapi.yaml
  components/search/benthos/streams/payments/v0.0.0/payments_ingestion.yaml
Labels: components/payments

#938 feat: regenerate openapi spec with membership fixes
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInner.md
  components/fctl/membershipclient/docs/Organization.md
  components/fctl/membershipclient/docs/OrganizationAllOf.md
  components/fctl/membershipclient/docs/PrivateRegion.md
  components/fctl/membershipclient/docs/PrivateRegionAllOf.md
  components/fctl/membershipclient/docs/Stack.md
  components/fctl/membershipclient/docs/StackAllOf.md
  components/fctl/membershipclient/docs/StackLifeCycle.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_error.go
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner.go
  components/fctl/membershipclient/model_organization.go
  components/fctl/membershipclient/model_organization_all_of.go
  components/fctl/membershipclient/model_private_region.go
  components/fctl/membershipclient/model_private_region_all_of.go
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_all_of.go
  components/fctl/membershipclient/model_stack_life_cycle.go
Labels: components/fctl

#939 feat(payments): add payments accounts pool system
  components/payments/cmd/api/internal/api/backend/backend.go
  components/payments/cmd/api/internal/api/backend/backend_generated.go
  components/payments/cmd/api/internal/api/metadata.go
  components/payments/cmd/api/internal/api/metadata_test.go
  components/payments/cmd/api/internal/api/module.go
  components/payments/cmd/api/internal/api/pools.go
  components/payments/cmd/api/internal/api/pools_test.go
  components/payments/cmd/api/internal/api/router.go
  components/payments/cmd/api/internal/api/service/accounts_test.go
  components/payments/cmd/api/internal/api/service/payments_test.go
  components/payments/cmd/api/internal/api/service/pools.go
  components/payments/cmd/api/internal/api/service/pools_test.go
  components/payments/cmd/api/internal/api/service/service.go
  components/payments/cmd/api/internal/api/service/service_test.go
  components/payments/cmd/api/internal/storage/balances.go
  components/payments/cmd/api/internal/storage/balances_test.go
  components/payments/cmd/api/internal/storage/pools.go
  components/payments/internal/models/pools.go
  components/payments/internal/storage/migrations_v1.x.go
  components/payments/openapi.yaml
Labels: components/payments

#940 fix(orchestration): fix stripe transfer
  components/orchestration/internal/workflow/activities/activity_payment_stripe_transfer.go
  components/orchestration/internal/workflow/stages/send/run.go
  components/orchestration/internal/workflow/stages/send/run_test.go
  components/orchestration/internal/workflow/stages/send/send.go
  components/orchestration/openapi.yaml
  openapi/build/generate.json
  sdks/go/pkg/models/shared/activitystripetransfer.go
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/ActivityStripeTransfer.java
  sdks/php/src/Models/Shared/ActivityStripeTransfer.php
  sdks/python/src/sdk/models/shared/activitystripetransfer.py
  sdks/typescript/src/sdk/models/shared/activitystripetransfer.ts
Labels: components/orchestration, build-images

#943 feat(payments): add Adyen connector skeleton
  components/payments/cmd/connectors/internal/api/connectorconfigs.go
  components/payments/cmd/connectors/internal/api/module.go
  components/payments/cmd/connectors/internal/connectors/adyen/client/client.go
  components/payments/cmd/connectors/internal/connectors/adyen/config.go
  components/payments/cmd/connectors/internal/connectors/adyen/connector.go
  components/payments/cmd/connectors/internal/connectors/adyen/currencies.go
  components/payments/cmd/connectors/internal/connectors/adyen/errors.go
  components/payments/cmd/connectors/internal/connectors/adyen/loader.go
  components/payments/cmd/connectors/internal/connectors/adyen/task_main.go
  components/payments/cmd/connectors/internal/connectors/adyen/task_resolve.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/models/connector.go
  components/payments/internal/storage/migrations_v1.x.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments

#945 feat(payments): add payments creation endpoint
  components/payments/cmd/api/internal/api/backend/backend.go
  components/payments/cmd/api/internal/api/backend/backend_generated.go
  components/payments/cmd/api/internal/api/payments.go
  components/payments/cmd/api/internal/api/payments_test.go
  components/payments/cmd/api/internal/api/router.go
  components/payments/cmd/api/internal/api/service/accounts_test.go
  components/payments/cmd/api/internal/api/service/payments.go
  components/payments/cmd/api/internal/api/service/payments_test.go
  components/payments/cmd/api/internal/api/service/pools_test.go
  components/payments/cmd/api/internal/api/service/service.go
  components/payments/cmd/api/internal/api/service/service_test.go
  components/payments/cmd/api/internal/storage/connectors.go
  components/payments/cmd/connectors/internal/api/connectors_manager/manager.go
  components/payments/cmd/connectors/internal/api/service/transfer_initiation.go
  components/payments/cmd/connectors/internal/ingestion/accounts.go
  components/payments/cmd/connectors/internal/ingestion/balances.go
  components/payments/cmd/connectors/internal/ingestion/bank_account.go
  components/payments/cmd/connectors/internal/ingestion/payments.go
  components/payments/cmd/connectors/internal/ingestion/transfer_initiation.go
  components/payments/internal/messages/accounts.go
  components/payments/internal/messages/balances.go
  components/payments/internal/messages/bank_account.go
  components/payments/internal/messages/connectors.go
  components/payments/internal/messages/payments.go
  components/payments/internal/messages/transfer_initiations.go
  components/payments/internal/models/payment.go
  components/payments/openapi.yaml
Labels: components/payments

#953 fix: benthos not sending request to ES
  components/operator/.earthly/configuration/templates/configuration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log-unvalid-tag/results/configmaps--v1/search-benthos-audit.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log-unvalid-tag/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log/results/configmaps--v1/search-benthos-audit.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/modules/search/benthos/audit/gateway_audit.yaml
Labels: build-images

#973 ci: Use matrix
  .github/actions/find-directory/index.js
  .github/workflows/main.yml
  ee/gateway/build.Dockerfile
Labels: build-images

#967 fix(ledger): reindex
  components/ledger/libs/go.mod
  components/ledger/libs/go.sum
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_configurations.stack.formance.com.yaml
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-payments-after-v1.0.0-alpha.6/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-payments-before-v1.0.0-alpha.6/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-check-scopes/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-check-scopes/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-custom-registry/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-custom-registry/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-gateway-fallback/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-gateway-fallback/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-orchestration-v0.2.0/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-orchestration-v0.2.0/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log-unvalid-tag/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log-unvalid-tag/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log/results/deployments-apps-v1/search-benthos.yaml
  components/operator/internal/controllers/stack/testdata/multipod-without-audit-log/results/configmaps--v1/search-benthos-streams.yaml
  components/operator/internal/controllers/stack/testdata/multipod-without-audit-log/results/deployments-apps-v1/search-benthos.yaml
  ee/search/benthos/streams/ledger/v1.0.0/ledger_reindex_accounts.yaml
  ee/search/benthos/streams/ledger/v1.0.0/ledger_reindex_transactions.yaml
  ee/search/benthos/streams/ledger/v1.0.0/ledger_reindex_volumes.yaml
  ee/search/benthos/streams/ledger/v2.0.0/ledger_ingestion.yaml
  ee/search/benthos/streams/ledger/v2.0.0/ledger_reindex_accounts.yaml
  ee/search/benthos/streams/ledger/v2.0.0/ledger_reindex_transactions.yaml
  openapi/build/generate.json
Labels: build-images

#978 fix: ledger v2 migration
  components/ledger/internal/storage/driver/driver.go
  components/ledger/internal/storage/ledgerstore/bucket.go
  components/ledger/internal/storage/systemstore/migrations.go
Labels: build-images

#982 fix(reconciliation): fix json tags
  ee/reconciliation/internal/models/policy.go
  ee/reconciliation/internal/models/reconciliation.go
Labels: build-images

#968 feat: add command update users
  components/fctl/cmd/cloud/organizations/root.go
  components/fctl/cmd/cloud/organizations/users/delete.go
  components/fctl/cmd/cloud/organizations/users/list.go
  components/fctl/cmd/cloud/organizations/users/root.go
  components/fctl/cmd/cloud/organizations/users/show.go
  components/fctl/cmd/cloud/organizations/users/update.go
  components/fctl/cmd/cloud/root.go
  components/fctl/cmd/cloud/users/unlink.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/UpdateUserAccessData.md
  components/fctl/membershipclient/docs/User.md
  components/fctl/membershipclient/docs/UserAllOf.md
  components/fctl/membershipclient/docs/UserAllOf1.md
  components/fctl/membershipclient/docs/UserDataAllOf.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_update_user_access_data.go
  components/fctl/membershipclient/model_user.go
  components/fctl/membershipclient/model_user_all_of.go
  components/fctl/membershipclient/model_user_all_of_1.go
  components/fctl/membershipclient/model_user_data.go
  components/fctl/membershipclient/model_user_data_all_of.go
Labels: components/fctl

#986 feat(reconciliation): different time for payments and ledger
  .gitignore
  components/ledger/libs/otlp/http_client.go
  components/operator/internal/modules/module.go
  components/operator/internal/modules/reconciliation/handler.go
  ee/reconciliation/internal/api/reconciliation.go
  ee/reconciliation/internal/api/reconciliation_test.go
  ee/reconciliation/internal/api/service/reconciliation.go
  ee/reconciliation/internal/models/reconciliation.go
  ee/reconciliation/internal/storage/migrations/migrations.go
  ee/reconciliation/openapi.yaml
  libs/clients/go/README.md
  libs/clients/go/docs/models/shared/reconciliation.md
  libs/clients/go/docs/models/shared/reconciliationrequest.md
  libs/clients/go/pkg/models/shared/reconciliation.go
  libs/clients/go/pkg/models/shared/reconciliationrequest.go
  libs/go-libs/otlp/http_client.go
  openapi/build/generate.json
Labels: ee/reconciliation

#979 feat(reconciliation): check versions
  ee/reconciliation/go.mod
  ee/reconciliation/go.sum
  ee/reconciliation/internal/api/service/reconciliation.go
  ee/reconciliation/internal/api/service/utils.go
  ee/reconciliation/internal/api/service/utils_test.go
Labels: ee/reconciliation

#995 feat: Add release flows for stack
  .gitignore
  .goreleaser.default.yaml
  Earthfile
  components/fctl/Earthfile
  components/ledger/.goreleaser.ledger.yml
  components/ledger/Earthfile
  components/ledger/openapi.yaml
  components/ledger/openapi/openapi-merge.json
  components/ledger/openapi/v1.yaml
  components/ledger/openapi/v2.yaml
  components/operator/Earthfile
  components/payments/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/orchestration/openapi.yaml
  ee/orchestration/openapi/openapi-merge.json
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  helm/regions/templates/versions/v1.0.yaml
  libs/clients/openapi-merge.json
  openapi/build/generate.json
  releases/.gitignore
  releases/Earthfile
  releases/LICENSE
  releases/README.md
  releases/main.js
  releases/package-lock.json
  releases/package.json
  releases/templates/openapi/base.yaml
  releases/templates/openapi/openapi-merge.json
  releases/templates/sdk/go/.github/workflows/speakeasy_sdk_publish.yml
  releases/templates/sdk/go/LICENSE
  releases/templates/sdk/go/gen.yaml
  releases/templates/sdk/java/.github/workflows/speakeasy_sdk_publish.yml
  releases/templates/sdk/java/LICENSE
  releases/templates/sdk/java/gen.yaml
  releases/templates/sdk/php/.github/workflows/speakeasy_sdk_publish.yml
  releases/templates/sdk/php/LICENSE
  releases/templates/sdk/php/gen.yaml
  releases/templates/sdk/python/.github/workflows/speakeasy_sdk_publish.yml
  releases/templates/sdk/python/LICENSE
  releases/templates/sdk/python/gen.yaml
  releases/templates/sdk/typescript/.github/workflows/speakeasy_sdk_publish.yml
  releases/templates/sdk/typescript/LICENSE
  releases/templates/sdk/typescript/gen.yaml
  releases/versions/v1.0/main.yaml
  releases/versions/v1.0/openapi.json
  releases/versions/v1.0/operator.yaml
Labels: components/fctl, components/operator, components/payments, components/ledger, build-images, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#944 feat(payments): Add initiating payments to Atlar connector
  components/payments/cmd/connectors/internal/api/service/bank_account.go
  components/payments/cmd/connectors/internal/api/service/bank_account_test.go
  components/payments/cmd/connectors/internal/api/service/transfer_initiation.go
  components/payments/cmd/connectors/internal/connectors/atlar/account_utils.go
  components/payments/cmd/connectors/internal/connectors/atlar/atlar_client.go
  components/payments/cmd/connectors/internal/connectors/atlar/connector.go
  components/payments/cmd/connectors/internal/connectors/atlar/metadata.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_create_external_bank_account.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_create_external_bank_account_test.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_fetch_accounts.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_fetch_payments.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_initiate_payment.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_initiate_payment_test.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_resolve.go
  components/payments/cmd/connectors/internal/connectors/atlar/time.go
  components/payments/internal/models/bank_account.go
  components/payments/internal/storage/migrations_v1.x.go
  components/payments/openapi.yaml
  libs/clients/go/docs/models/shared/bankaccount.md
  libs/clients/go/docs/models/shared/bankaccountrequest.md
  libs/clients/go/pkg/models/shared/bankaccount.go
  libs/clients/go/pkg/models/shared/bankaccountrequest.go
Labels: components/payments

#1003 feat(flows): compat with ledger v1
  Earthfile
  components/ledger/openapi.yaml
  components/ledger/openapi/v1.yaml
  ee/orchestration/internal/workflow/activities/activity_account_get.go
  ee/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  ee/orchestration/internal/workflow/activities/activity_ledger_revert_transaction.go
  ee/orchestration/internal/workflow/stages/send/run.go
  ee/orchestration/internal/workflow/stages/send/run_test.go
  ee/orchestration/openapi.yaml
  ee/orchestration/openapi/v2.yaml
  libs/clients/go/README.md
  libs/clients/go/accounts.go
  libs/clients/go/docs/models/errors/errorresponse.md
  libs/clients/go/docs/models/errors/errorsenum.md
  libs/clients/go/docs/models/operations/listaccountsmetadata.md
  libs/clients/go/docs/models/operations/listaccountsrequest.md
  libs/clients/go/docs/models/operations/listtransactionsmetadata.md
  libs/clients/go/docs/models/operations/listtransactionsrequest.md
  libs/clients/go/docs/models/shared/account.md
  libs/clients/go/docs/models/shared/accountmetadata.md
  libs/clients/go/docs/models/shared/accountwithvolumesandbalances.md
  libs/clients/go/docs/models/shared/accountwithvolumesandbalancesmetadata.md
  libs/clients/go/docs/models/shared/orchestrationaccount.md
  libs/clients/go/docs/models/shared/orchestrationv2transaction.md
  libs/clients/go/docs/models/shared/orchestrationvolume.md
  libs/clients/go/docs/models/shared/posttransactionscript.md
  libs/clients/go/docs/models/shared/posttransactionscriptvars.md
  libs/clients/go/docs/models/shared/script.md
  libs/clients/go/docs/models/shared/scriptvars.md
  libs/clients/go/docs/models/shared/v2activitycreatetransactionoutput.md
  libs/clients/go/docs/models/shared/v2activityreverttransaction.md
  libs/clients/go/docs/models/shared/v2activityreverttransactionoutput.md
  libs/clients/go/docs/models/shared/v2workflowinstancehistorystageinput.md
  libs/clients/go/docs/models/shared/v2workflowinstancehistorystageoutput.md
  libs/clients/go/docs/models/shared/volume.md
  libs/clients/go/files.gen
  libs/clients/go/pkg/models/operations/listaccounts.go
  libs/clients/go/pkg/models/operations/listtransactions.go
  libs/clients/go/pkg/models/sdkerrors/errorresponse.go
  libs/clients/go/pkg/models/sdkerrors/errorsenum.go
  libs/clients/go/pkg/models/shared/account.go
  libs/clients/go/pkg/models/shared/accountwithvolumesandbalances.go
  libs/clients/go/pkg/models/shared/orchestrationaccount.go
  libs/clients/go/pkg/models/shared/orchestrationv2transaction.go
  libs/clients/go/pkg/models/shared/orchestrationvolume.go
  libs/clients/go/pkg/models/shared/posttransaction.go
  libs/clients/go/pkg/models/shared/script.go
  libs/clients/go/pkg/models/shared/v2activitycreatetransactionoutput.go
  libs/clients/go/pkg/models/shared/v2activityreverttransaction.go
  libs/clients/go/pkg/models/shared/v2activityreverttransactionoutput.go
  libs/clients/go/pkg/models/shared/v2workflowinstancehistorystageinput.go
  libs/clients/go/pkg/models/shared/v2workflowinstancehistorystageoutput.go
  libs/clients/go/pkg/models/shared/volume.go
  libs/clients/go/transactions.go
  tests/integration/suite/orchestration-workflows-execute.go
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1006 feat(fctl): compat ledger v1
  components/fctl/cmd/ledger/accounts/delete_metadata.go
  components/fctl/cmd/ledger/accounts/list.go
  components/fctl/cmd/ledger/accounts/set_metadata.go
  components/fctl/cmd/ledger/accounts/show.go
  components/fctl/cmd/ledger/create.go
  components/fctl/cmd/ledger/internal/print.go
  components/fctl/cmd/ledger/internal/transaction.go
  components/fctl/cmd/ledger/list.go
  components/fctl/cmd/ledger/send.go
  components/fctl/cmd/ledger/serverinfo.go
  components/fctl/cmd/ledger/stats.go
  components/fctl/cmd/ledger/transactions/delete_metadata.go
  components/fctl/cmd/ledger/transactions/list.go
  components/fctl/cmd/ledger/transactions/num.go
  components/fctl/cmd/ledger/transactions/revert.go
  components/fctl/cmd/ledger/transactions/set_metadata.go
  components/fctl/cmd/ledger/transactions/show.go
  components/fctl/pkg/metadata.go
  components/ledger/libs/collectionutils/map.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v1.yaml
  ee/orchestration/internal/workflow/activities/activity_account_get.go
  ee/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  ee/wallets/pkg/api/handler_holds_confirm_test.go
  ee/wallets/pkg/api/handler_holds_get_test.go
  ee/wallets/pkg/api/handler_holds_void_test.go
  ee/wallets/pkg/api/handler_wallets_debit_test.go
  ee/wallets/pkg/hold.go
  ee/wallets/pkg/ledger_interface.go
  ee/wallets/pkg/manager.go
  libs/clients/go/docs/models/errors/errorresponse.md
  libs/clients/go/docs/models/operations/addmetadataontransactionrequest.md
  libs/clients/go/docs/models/shared/accountwithvolumesandbalances.md
  libs/clients/go/docs/models/shared/errorresponse.md
  libs/clients/go/pkg/models/operations/addmetadataontransaction.go
  libs/clients/go/pkg/models/sdkerrors/errorresponse.go
  libs/clients/go/pkg/models/shared/accountwithvolumesandbalances.go
  libs/clients/go/pkg/models/shared/errorresponse.go
  libs/go-libs/collectionutils/map.go
Labels: components/ledger

#1008 fix(payments): fix openapi with missing adyen
  components/payments/openapi.yaml
  libs/clients/go/docs/models/shared/adyenconfig.md
  libs/clients/go/docs/models/shared/connector.md
  libs/clients/go/docs/models/shared/connectorconfig.md
  libs/clients/go/files.gen
  libs/clients/go/pkg/models/shared/adyenconfig.go
  libs/clients/go/pkg/models/shared/connector.go
  libs/clients/go/pkg/models/shared/connectorconfig.go
Labels: components/payments

#1004 feat(reconciliation): new way to compare + store drift amounts
  ee/reconciliation/internal/api/module.go
  ee/reconciliation/internal/api/reconciliation.go
  ee/reconciliation/internal/api/service/reconciliation.go
  ee/reconciliation/internal/api/service/reconciliation_test.go
  ee/reconciliation/internal/api/service/service.go
  ee/reconciliation/internal/api/service/service_test.go
  ee/reconciliation/internal/api/service/utils.go
  ee/reconciliation/internal/models/reconciliation.go
  ee/reconciliation/internal/storage/migrations/migrations.go
  ee/reconciliation/openapi.yaml
  libs/clients/go/docs/models/shared/reconciliation.md
  libs/clients/go/docs/models/shared/reconciliationrequest.md
  libs/clients/go/pkg/models/shared/reconciliation.go
  libs/clients/go/pkg/models/shared/reconciliationrequest.go
Labels: ee/reconciliation

#1013 feat(payments): list linked pools in accounts
  components/payments/cmd/api/internal/api/accounts.go
  components/payments/cmd/api/internal/api/accounts_test.go
  components/payments/cmd/api/internal/storage/accounts.go
  components/payments/internal/models/account.go
  components/payments/openapi.yaml
  libs/clients/go/docs/models/shared/paymentsaccount.md
  libs/clients/go/pkg/models/shared/paymentsaccount.go
Labels: components/payments

#1022 feat(payments): Add transactions vIBAN information
  components/payments/cmd/connectors/internal/connectors/atlar/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_fetch_transactions_test.go
  components/payments/go.mod
  components/payments/go.sum
Labels: components/payments

#1021 feat(agent): add versions reporting
  ee/agent/Earthfile
  ee/agent/helm/templates/clusterrole.yaml
  ee/agent/internal/grpc/client.go
  ee/agent/internal/grpc/generated/README.md
  ee/agent/internal/grpc/generated/server.pb.go
  ee/agent/internal/grpc/generated/server_grpc.pb.go
  ee/agent/internal/grpc/module_test.go
  ee/agent/internal/k8s/module.go
  ee/agent/server.proto
  tests/integration/go.mod
  tests/integration/go.sum
Labels: ee/agent

#1026 feat(fctl): generate membership client from earthly
  components/fctl/Earthfile
  components/fctl/main.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/BillingPortal.md
  components/fctl/membershipclient/docs/BillingSetup.md
  components/fctl/membershipclient/docs/BillingSetupResponse.md
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/GetRegionVersionsResponse.md
  components/fctl/membershipclient/docs/StackUserAccess.md
  components/fctl/membershipclient/docs/StackUserAccessAllOf.md
  components/fctl/membershipclient/docs/StackUserAccessAllOf1.md
  components/fctl/membershipclient/docs/StackUserAccessResponse.md
  components/fctl/membershipclient/docs/UpdatableUserData.md
  components/fctl/membershipclient/docs/UpdateUserAccessData.md
  components/fctl/membershipclient/docs/Version.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_billing_portal.go
  components/fctl/membershipclient/model_billing_portal_response.go
  components/fctl/membershipclient/model_billing_setup.go
  components/fctl/membershipclient/model_billing_setup_response.go
  components/fctl/membershipclient/model_get_region_versions_response.go
  components/fctl/membershipclient/model_stack_user_access.go
  components/fctl/membershipclient/model_stack_user_access_all_of.go
  components/fctl/membershipclient/model_stack_user_access_all_of_1.go
  components/fctl/membershipclient/model_stack_user_access_response.go
  components/fctl/membershipclient/model_updatable_user_data.go
  components/fctl/membershipclient/model_update_user_access_data.go
  components/fctl/membershipclient/model_update_user_response.go
  components/fctl/membershipclient/model_version.go
  components/fctl/workflow.yaml
Labels: components/fctl

#1027 fix: fctl membership client
  components/fctl/cmd/cloud/organizations/users/update.go
Labels: components/fctl

#1025 fix(payments): fix stripe root account transfer initiation
  components/payments/cmd/api/internal/api/transfer_initiation.go
  components/payments/cmd/api/internal/api/transfer_initiation_test.go
  components/payments/cmd/connectors/internal/connectors/stripe/task_fetch_accounts.go
  components/payments/cmd/connectors/internal/connectors/stripe/task_fetch_balances.go
  components/payments/cmd/connectors/internal/connectors/stripe/task_fetch_payments.go
  components/payments/cmd/connectors/internal/connectors/stripe/task_payments.go
  components/payments/openapi.yaml
  libs/clients/go/docs/models/shared/transferinitiation.md
  libs/clients/go/pkg/models/shared/transferinitiation.go
Labels: components/payments

#1028 feat(agent): allow to specify stack versions over grpc
  ee/agent/internal/grpc/client.go
  ee/agent/internal/grpc/generated/server.pb.go
  ee/agent/server.proto
Labels: ee/agent

#1029 feat(membership): prepare openapispec for membership new feature
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/CreateStackRequest.md
  components/fctl/membershipclient/docs/Stack.md
  components/fctl/membershipclient/docs/StackData.md
  components/fctl/membershipclient/model_create_stack_request.go
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_data.go
Labels: components/fctl

#1030 feat: clean the mess
  components/fctl/.pre-commit-config.yaml
  components/fctl/Dockerfile
  components/fctl/Taskfile.yaml
  components/fctl/commitlint.config.js
  components/fctl/membershipclient/go.sum
  components/ledger/.pre-commit-config.yaml
  components/ledger/Dockerfile
  components/ledger/Procfile
  components/ledger/Taskfile.yaml
  components/operator/.pre-commit-config.yaml
  components/operator/Taskfile.yaml
  components/operator/commitlint.config.js
  components/payments/.pre-commit-config.yaml
  components/payments/Dockerfile
  components/payments/Makefile
  components/payments/Taskfile.yml
  components/payments/codecov.yml
  components/payments/commitlint.config.js
  ee/agent/Dockerfile
  ee/auth/Dockerfile
  ee/auth/commitlint.config.js
  ee/gateway/.pre-commit-config.yaml
  ee/gateway/Dockerfile
  ee/gateway/Taskfile.yaml
  ee/gateway/commitlint.config.js
  ee/orchestration/Dockerfile
  ee/orchestration/Taskfile.yaml
  ee/orchestration/reflex.Dockerfile
  ee/orchestration/temporalite.Dockerfile
  ee/reconciliation/.pre-commit-config.yaml
  ee/reconciliation/Dockerfile
  ee/reconciliation/Makefile
  ee/reconciliation/Taskfile.yml
  ee/reconciliation/codecov.yml
  ee/reconciliation/commitlint.config.js
  ee/search/.pre-commit-config.yaml
  ee/search/Dockerfile
  ee/search/Taskfile.yaml
  ee/search/commitlint.config.js
  ee/stargate/Dockerfile
  ee/stargate/Taskfile.yaml
  ee/wallets/.pre-commit-config.yaml
  ee/wallets/Dockerfile
  ee/wallets/Taskfile.yml
  ee/wallets/moon.yml
  ee/webhooks/.pre-commit-config.yaml
  ee/webhooks/Dockerfile
  ee/webhooks/Taskfile.yml
  ee/webhooks/commitlint.config.js
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1045 feat(payments): add endpoint to update config of connectors
  components/fctl/cmd/payments/connectors/configs/adyen.go
  components/fctl/cmd/payments/connectors/configs/atlar.go
  components/fctl/cmd/payments/connectors/configs/bankingcircle.go
  components/fctl/cmd/payments/connectors/configs/currencycloud.go
  components/fctl/cmd/payments/connectors/configs/getconfig.go
  components/fctl/cmd/payments/connectors/configs/mangopay.go
  components/fctl/cmd/payments/connectors/configs/modulr.go
  components/fctl/cmd/payments/connectors/configs/moneycorp.go
  components/fctl/cmd/payments/connectors/configs/root.go
  components/fctl/cmd/payments/connectors/configs/stripe.go
  components/fctl/cmd/payments/connectors/configs/wise.go
  components/fctl/cmd/payments/connectors/internal/connectors.go
  components/fctl/cmd/payments/connectors/root.go
  components/payments/cmd/connectors/internal/api/backend/backend.go
  components/payments/cmd/connectors/internal/api/backend/backend_generated.go
  components/payments/cmd/connectors/internal/api/connector.go
  components/payments/cmd/connectors/internal/api/connectors_manager/connector_test.go
  components/payments/cmd/connectors/internal/api/connectors_manager/manager.go
  components/payments/cmd/connectors/internal/api/router.go
  components/payments/cmd/connectors/internal/connectors/adyen/connector.go
  components/payments/cmd/connectors/internal/connectors/atlar/connector.go
  components/payments/cmd/connectors/internal/connectors/bankingcircle/connector.go
  components/payments/cmd/connectors/internal/connectors/connector.go
  components/payments/cmd/connectors/internal/connectors/currencycloud/connector.go
  components/payments/cmd/connectors/internal/connectors/dummypay/connector.go
  components/payments/cmd/connectors/internal/connectors/errors.go
  components/payments/cmd/connectors/internal/connectors/mangopay/connector.go
  components/payments/cmd/connectors/internal/connectors/modulr/connector.go
  components/payments/cmd/connectors/internal/connectors/moneycorp/connector.go
  components/payments/cmd/connectors/internal/connectors/stripe/connector.go
  components/payments/cmd/connectors/internal/connectors/wise/connector.go
  components/payments/openapi.yaml
  libs/clients/go/README.md
  libs/clients/go/docs/models/operations/updateconnectorconfigv1request.md
  libs/clients/go/docs/models/operations/updateconnectorconfigv1response.md
  libs/clients/go/files.gen
  libs/clients/go/payments.go
  libs/clients/go/pkg/models/operations/updateconnectorconfigv1.go
Labels: components/payments

#1046 chore: Update Earthly & Add deploy in staging
  .github/workflows/main.yml
  .gitignore
  Earthfile
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/ledger/libs/Earthfile
  components/operator/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  libs/go-libs/Earthfile
  releases/Earthfile
  tests/benchmarks/Earthfile
  tests/integration/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1051 feat(flows): add triggers testing
  components/fctl/cmd/orchestration/triggers/root.go
  components/fctl/cmd/orchestration/triggers/test.go
  ee/orchestration/internal/api/backend.go
  ee/orchestration/internal/api/backend_generated.go
  ee/orchestration/internal/api/v2/handler_test_trigger.go
  ee/orchestration/internal/api/v2/handler_test_trigger_test.go
  ee/orchestration/internal/api/v2/router.go
  ee/orchestration/internal/triggers/activity.go
  ee/orchestration/internal/triggers/manager.go
  ee/orchestration/internal/triggers/trigger.go
  ee/orchestration/openapi.yaml
  ee/orchestration/openapi/v2.yaml
  libs/clients/go/README.md
  libs/clients/go/docs/models/operations/testtriggerrequest.md
  libs/clients/go/docs/models/operations/testtriggerresponse.md
  libs/clients/go/docs/models/shared/v2testtriggerresponse.md
  libs/clients/go/docs/models/shared/v2triggertest.md
  libs/clients/go/docs/models/shared/v2triggertestfilter.md
  libs/clients/go/docs/models/shared/v2triggertestvariables.md
  libs/clients/go/files.gen
  libs/clients/go/orchestration.go
  libs/clients/go/pkg/models/operations/testtrigger.go
  libs/clients/go/pkg/models/shared/v2testtriggerresponse.go
  libs/clients/go/pkg/models/shared/v2triggertest.go
Labels: ee/orchestration

#1057 feat(payment): add linked account when creating a bank account
  components/payments/cmd/connectors/internal/api/bank_account.go
  components/payments/cmd/connectors/internal/api/service/bank_account.go
  components/payments/cmd/connectors/internal/api/service/service.go
  components/payments/cmd/connectors/internal/api/service/service_test.go
  components/payments/cmd/connectors/internal/connectors/atlar/connector.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_create_external_bank_account.go
  components/payments/cmd/connectors/internal/storage/bank_accounts.go
  components/payments/cmd/connectors/internal/storage/bank_accounts_test.go
  components/payments/openapi.yaml
  libs/clients/go/docs/models/shared/bankaccount.md
  libs/clients/go/pkg/models/shared/bankaccount.go
Labels: components/payments

#1058 feat(flows): add otlp at triggers level
  components/ledger/libs/publish/messages.go
  components/ledger/libs/publish/module_test.go
  components/operator/.earthly/configuration/templates/configuration.yaml
  components/operator/internal/modules/auth/handler.go
  components/operator/internal/modules/container.go
  components/operator/internal/modules/control/handler.go
  components/operator/internal/modules/gateway/handler.go
  components/operator/internal/modules/ledger/handler.go
  components/operator/internal/modules/orchestration/handler.go
  components/operator/internal/modules/payments/handler.go
  components/operator/internal/modules/reconciliation/handler.go
  components/operator/internal/modules/search.go
  components/operator/internal/modules/search/handler.go
  components/operator/internal/modules/service.go
  components/operator/internal/modules/stargate/handler.go
  components/operator/internal/modules/wallets/handler.go
  components/operator/internal/modules/webhooks/handler.go
  components/payments/internal/messages/accounts.go
  components/payments/internal/messages/balances.go
  components/payments/internal/messages/bank_account.go
  components/payments/internal/messages/connectors.go
  components/payments/internal/messages/payments.go
  components/payments/internal/messages/pools.go
  components/payments/internal/messages/transfer_initiations.go
  components/payments/pkg/events/event.go
  ee/orchestration/go.mod
  ee/orchestration/internal/triggers/activity.go
  ee/orchestration/internal/triggers/listener.go
  ee/orchestration/internal/triggers/module.go
  ee/orchestration/internal/triggers/trigger.go
  ee/orchestration/internal/workflow/tracer.go
  libs/go-libs/publish/messages.go
  libs/go-libs/publish/module_test.go
Labels: ee/orchestration

#1055 chore: Update Helm for regions
  components/operator/Earthfile
  components/operator/config/crd/kustomization.yaml
  components/operator/config/crd/patches/webhook_in_auth.components_clients.yaml
  components/operator/config/crd/patches/webhook_in_auth.components_scopes.yaml
  components/operator/config/crd/patches/webhook_in_benthos.components_servers.yaml
  components/operator/config/crd/patches/webhook_in_benthos.components_streams.yaml
  components/operator/config/crd/patches/webhook_in_components_auths.yaml
  components/operator/config/crd/patches/webhook_in_components_benthos.yaml
  components/operator/config/crd/patches/webhook_in_components_benthosstreams.yaml
  components/operator/config/crd/patches/webhook_in_components_controls.yaml
  components/operator/config/crd/patches/webhook_in_components_ledgers.yaml
  components/operator/config/crd/patches/webhook_in_components_orchestrations.yaml
  components/operator/config/crd/patches/webhook_in_components_payments.yaml
  components/operator/config/crd/patches/webhook_in_components_searches.yaml
  components/operator/config/crd/patches/webhook_in_components_webhooks.yaml
  components/operator/config/crd/patches/webhook_in_stack_configurations.yaml
  components/operator/config/crd/patches/webhook_in_stack_stacks.yaml
  components/operator/config/crd/patches/webhook_in_stack_versions.yaml
  components/operator/config/default/kustomization.yaml
  components/operator/helm/.helmignore
  components/operator/helm/Chart.yaml
  components/operator/helm/templates/crd/apiextensions.k8s.io_v1_customresourcedefinition_configurations.stack.formance.com.yaml
  components/operator/helm/templates/crd/apiextensions.k8s.io_v1_customresourcedefinition_migrations.stack.formance.com.yaml
  components/operator/helm/templates/crd/apiextensions.k8s.io_v1_customresourcedefinition_stacks.stack.formance.com.yaml
  components/operator/helm/templates/crd/apiextensions.k8s.io_v1_customresourcedefinition_versions.stack.formance.com.yaml
  components/operator/helm/templates/gen/v1_configmap_formance-system-manager-config.yaml
  components/operator/helm/values.yaml
  docs/docs/deployment/cloudprem/operator.mdx
  docs/docs/deployment/elements/operator.mdx
  docs/docs/operator/upgrade.mdx
  helm/Taskfile.yaml
  helm/agent
  helm/operator
  helm/regions/Chart.lock
  helm/regions/Chart.yaml
  helm/regions/templates/configuration.yaml
  helm/regions/templates/versions/v1.0.yaml
  helm/regions/templates/versions/v2.0.yaml
  helm/regions/values.yaml
Labels: components/operator

#1064 chore(webhook): remove docker compose config
  ee/webhooks/README.md
  ee/webhooks/docker-compose.yml
Labels: ee/webhooks

#1065 feat: Update Helm for regions & Add docs for CRD
  components/operator/Earthfile
  components/operator/config/crd/kustomization.yaml
  components/operator/docs.config.yaml
  components/operator/docs/crd.md
  components/operator/helm/Chart.yaml
  docs/docs/deployment/cloudprem/operator.mdx
  docs/docs/deployment/elements/operator.mdx
  docs/docs/operator/crd.md
  docs/docs/operator/upgrade.mdx
  docs/package.json
  docs/sidebars.js
  helm/regions/Chart.lock
  helm/regions/Chart.yaml
  helm/regions/templates/versions/default.yaml
Labels: components/operator

#1061 feat(payments): improve dummypay connector
  components/payments/cmd/connectors/internal/api/connector_test.go
  components/payments/cmd/connectors/internal/connectors/dummypay/config.go
  components/payments/cmd/connectors/internal/connectors/dummypay/config_test.go
  components/payments/cmd/connectors/internal/connectors/dummypay/connector.go
  components/payments/cmd/connectors/internal/connectors/dummypay/connector_test.go
  components/payments/cmd/connectors/internal/connectors/dummypay/loader.go
  components/payments/cmd/connectors/internal/connectors/dummypay/loader_test.go
  components/payments/cmd/connectors/internal/connectors/dummypay/models.go
  components/payments/cmd/connectors/internal/connectors/dummypay/payment.go
  components/payments/cmd/connectors/internal/connectors/dummypay/remove_files.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_descriptor.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_generate_file.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_ingest.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_init_directory.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_read_files.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_test.go
  components/payments/internal/models/account.go
  components/payments/openapi.yaml
  libs/clients/go/docs/models/shared/dummypayconfig.md
  libs/clients/go/pkg/models/shared/connectorconfig.go
  libs/clients/go/pkg/models/shared/dummypayconfig.go
  tests/integration/suite/payments-connectors-dummy-pay.go
  tests/integration/suite/payments-connectors-reset.go
Labels: components/payments

#1067 feat(flows): allow to specify wallet by name on 'send'
  components/fctl/cmd/orchestration/instances/describe.go
  ee/orchestration/internal/schema/map.go
  ee/orchestration/internal/workflow/activities/activity_wallet_list.go
  ee/orchestration/internal/workflow/stages/send/run.go
  ee/orchestration/internal/workflow/stages/send/run_test.go
  ee/orchestration/internal/workflow/stages/send/send.go
  ee/orchestration/openapi.yaml
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  ee/wallets/openapi.yaml
  libs/clients/go/docs/models/operations/listwalletsresponse.md
  libs/clients/go/docs/models/shared/activitylistwallets.md
  libs/clients/go/docs/models/shared/orchestrationlistwalletsresponse.md
  libs/clients/go/docs/models/shared/orchestrationlistwalletsresponsecursor.md
  libs/clients/go/docs/models/shared/v2activitylistwallets.md
  libs/clients/go/docs/models/shared/v2listwalletsresponse.md
  libs/clients/go/docs/models/shared/v2listwalletsresponsecursor.md
  libs/clients/go/docs/models/shared/v2wallet.md
  libs/clients/go/docs/models/shared/v2workflowinstancehistorystageinput.md
  libs/clients/go/docs/models/shared/v2workflowinstancehistorystageoutput.md
  libs/clients/go/docs/models/shared/workflowinstancehistorystageinput.md
  libs/clients/go/docs/models/shared/workflowinstancehistorystageoutput.md
  libs/clients/go/files.gen
  libs/clients/go/pkg/models/operations/listwallets.go
  libs/clients/go/pkg/models/shared/activitylistwallets.go
  libs/clients/go/pkg/models/shared/orchestrationlistwalletsresponse.go
  libs/clients/go/pkg/models/shared/v2activitylistwallets.go
  libs/clients/go/pkg/models/shared/v2listwalletsresponse.go
  libs/clients/go/pkg/models/shared/v2wallet.go
  libs/clients/go/pkg/models/shared/v2workflowinstancehistorystageinput.go
  libs/clients/go/pkg/models/shared/v2workflowinstancehistorystageoutput.go
  libs/clients/go/pkg/models/shared/workflowinstancehistorystageinput.go
  libs/clients/go/pkg/models/shared/workflowinstancehistorystageoutput.go
  libs/clients/go/wallets.go
Labels: ee/orchestration, ee/wallets

#1068 feat(flows): add instance status on triggers
  components/fctl/cmd/orchestration/triggers/occurrences/list.go
  ee/orchestration/internal/triggers/manager.go
  ee/orchestration/internal/triggers/trigger.go
  ee/orchestration/internal/workflow/instance.go
  ee/orchestration/openapi.yaml
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  libs/clients/go/docs/models/errors/v2errorerrorcode.md
  libs/clients/go/docs/models/shared/errorerrorcode.md
  libs/clients/go/docs/models/shared/triggeroccurrence.md
  libs/clients/go/docs/models/shared/v2errorerrorcode.md
  libs/clients/go/docs/models/shared/v2triggeroccurrence.md
  libs/clients/go/pkg/models/sdkerrors/v2error.go
  libs/clients/go/pkg/models/shared/error.go
  libs/clients/go/pkg/models/shared/triggeroccurrence.go
  libs/clients/go/pkg/models/shared/v2error.go
  libs/clients/go/pkg/models/shared/v2triggeroccurrence.go
  tests/integration/internal/modules/orchestration.go
  tests/integration/suite/orchestration-triggers.go
Labels: ee/orchestration, ee/wallets

#1069 feat(payments): add metadata for transfer initiations
  components/payments/cmd/api/internal/api/transfer_initiation.go
  components/payments/cmd/api/internal/api/transfer_initiation_test.go
  components/payments/cmd/api/internal/storage/transfer_initiation.go
  components/payments/cmd/connectors/internal/api/service/transfer_initiation.go
  components/payments/cmd/connectors/internal/api/transfer_initiation.go
  components/payments/cmd/connectors/internal/api/transfer_initiation_test.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_init_directory.go
  components/payments/cmd/connectors/internal/storage/transfer_initiation.go
  components/payments/internal/models/transfer_initiation.go
  components/payments/internal/storage/migrations_v1.x.go
  components/payments/openapi.yaml
  ee/reconciliation/internal/storage/migrations/migrations.go
  libs/clients/go/docs/models/shared/transferinitiation.md
  libs/clients/go/docs/models/shared/transferinitiationrequest.md
  libs/clients/go/pkg/models/shared/transferinitiation.go
  libs/clients/go/pkg/models/shared/transferinitiationrequest.go
  tests/integration/suite/payments-connectors-dummy-pay.go
Labels: components/payments

#1071 feat(payments): Config polling rate for status of payment initiations
  components/payments/cmd/connectors/internal/connectors/atlar/config.go
  components/payments/cmd/connectors/internal/connectors/atlar/loader.go
  components/payments/cmd/connectors/internal/connectors/atlar/loader_test.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_payments.go
  components/payments/openapi.yaml
  libs/clients/go/docs/models/shared/atlarconfig.md
  libs/clients/go/pkg/models/shared/atlarconfig.go
Labels: components/payments

#1073 feat(webhook): add exponential backoff retry
  ee/webhooks/README.md
  ee/webhooks/cmd/flag/flags.go
  ee/webhooks/cmd/serve.go
  ee/webhooks/cmd/worker.go
  ee/webhooks/pkg/attempt.go
  ee/webhooks/pkg/backoff.go
  ee/webhooks/pkg/backoff/exponential.go
  ee/webhooks/pkg/backoff/exponential_test.go
  ee/webhooks/pkg/backoff/noretry.go
  ee/webhooks/pkg/backoff/noretry_test.go
  ee/webhooks/pkg/server/test.go
  ee/webhooks/pkg/worker/module.go
  ee/webhooks/pkg/worker/worker.go
  tests/integration/internal/modules/webhooks.go
  tests/integration/suite/webhooks-retries.go
Labels: ee/webhooks

#1077 feat(fctl): add reconciliation
  components/fctl/cmd/reconciliation/list.go
  components/fctl/cmd/reconciliation/policies/create.go
  components/fctl/cmd/reconciliation/policies/delete.go
  components/fctl/cmd/reconciliation/policies/list.go
  components/fctl/cmd/reconciliation/policies/reconciliation.go
  components/fctl/cmd/reconciliation/policies/root.go
  components/fctl/cmd/reconciliation/policies/show.go
  components/fctl/cmd/reconciliation/root.go
  components/fctl/cmd/reconciliation/show.go
  components/fctl/cmd/root.go
  components/fctl/pkg/utils.go
  ee/reconciliation/openapi.yaml
  releases/sdks/go/docs/models/shared/policy.md
  releases/sdks/go/docs/models/shared/policyrequest.md
  releases/sdks/go/docs/models/shared/policyresponse.md
  releases/sdks/go/docs/models/shared/reconciliationresponse.md
  releases/sdks/go/docs/sdks/reconciliation/README.md
  releases/sdks/go/pkg/models/shared/policy.go
  releases/sdks/go/pkg/models/shared/policyrequest.go
  releases/sdks/go/pkg/models/shared/policyresponse.go
  releases/sdks/go/pkg/models/shared/reconciliationresponse.go
Labels: ee/reconciliation

#1080 fix: wrong file name
  components/operator/Earthfile
Labels: components/operator

#1079 feat: eng-441-auth-migration-des-scopes-des-clients-actuelle
  components/fctl/cmd/auth/clients/create.go
  components/fctl/cmd/auth/clients/list.go
  components/fctl/cmd/auth/clients/update.go
  components/fctl/cmd/auth/clients/views/client.go
  ee/auth/go.mod
  ee/auth/go.sum
  ee/auth/pkg/api/clients.go
  ee/auth/pkg/api/clients_test.go
  ee/auth/pkg/client.go
  ee/auth/pkg/storage/sqlstorage/database.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: ee/auth

#1060 feat: add describe/update command, adapt create
  components/fctl/cmd/cloud/organizations/create.go
  components/fctl/cmd/cloud/organizations/describe.go
  components/fctl/cmd/cloud/organizations/internal/print.go
  components/fctl/cmd/cloud/organizations/root.go
  components/fctl/cmd/cloud/organizations/update.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInner.md
  components/fctl/membershipclient/docs/Organization.md
  components/fctl/membershipclient/docs/OrganizationAllOf.md
  components/fctl/membershipclient/docs/OrganizationData.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner.go
  components/fctl/membershipclient/model_organization.go
  components/fctl/membershipclient/model_organization_all_of.go
  components/fctl/membershipclient/model_organization_data.go
Labels: components/fctl
