Repository formancehq/stack, pull requests merged in 2023-08, with the labels that each got.

#464 fix: accounts balances improvements and fixes
  components/payments/internal/app/api/accounts.go
  components/payments/internal/app/api/balances.go
  components/payments/internal/app/connectors/bankingcircle/task_fetch_accounts.go
  components/payments/internal/app/connectors/bankingcircle/task_fetch_payments.go
  components/payments/internal/app/connectors/currency/currency.go
  components/payments/internal/app/connectors/currencycloud/task_fetch_balances.go
  components/payments/internal/app/connectors/currencycloud/task_fetch_transactions.go
  components/payments/internal/app/connectors/dummypay/payment.go
  components/payments/internal/app/connectors/mangopay/task_fetch_wallets.go
  components/payments/internal/app/connectors/modulr/task_fetch_accounts.go
  components/payments/internal/app/connectors/modulr/task_fetch_transactions.go
  components/payments/internal/app/connectors/moneycorp/task_fetch_balances.go
  components/payments/internal/app/connectors/stripe/task_fetch_accounts.go
  components/payments/internal/app/connectors/stripe/task_fetch_balances.go
  components/payments/internal/app/connectors/wise/task_fetch_profiles.go
  components/payments/internal/app/connectors/wise/task_fetch_transfers.go
  components/payments/internal/app/messages/accounts.go
  components/payments/internal/app/messages/balances.go
  components/payments/internal/app/messages/payments.go
  components/payments/internal/app/models/account.go
  components/payments/internal/app/models/balance.go
  components/payments/internal/app/models/payment.go
  components/payments/internal/app/storage/balances.go
  components/payments/openapi.yaml
  openapi/build/generate.json
  sdks/go/docs/payments/README.md
  sdks/go/pkg/models/operations/getaccountbalances.go
  sdks/go/pkg/models/shared/accountbalance.go
  sdks/go/pkg/models/shared/paymentsaccount.go
  sdks/java/docs/payments/README.md
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/operations/GetAccountBalancesRequest.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/AccountBalance.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/PaymentsAccount.java
  sdks/php/docs/payments/README.md
  sdks/php/src/Models/Operations/GetAccountBalancesRequest.php
  sdks/php/src/Models/Shared/AccountBalance.php
  sdks/php/src/Models/Shared/PaymentsAccount.php
  sdks/python/docs/payments/README.md
  sdks/python/src/sdk/models/operations/getaccountbalances.py
  sdks/python/src/sdk/models/shared/accountbalance.py
  sdks/python/src/sdk/models/shared/paymentsaccount.py
  sdks/typescript/docs/payments/README.md
  sdks/typescript/src/sdk/models/operations/getaccountbalances.ts
  sdks/typescript/src/sdk/models/shared/accountbalance.ts
  sdks/typescript/src/sdk/models/shared/paymentsaccount.ts
Labels: components/payments

#473 feat: add read account route for payments
  components/payments/internal/app/api/accounts.go
  components/payments/internal/app/api/router.go
  components/payments/internal/app/models/account.go
  components/payments/internal/app/storage/accounts.go
  components/payments/openapi.yaml
  openapi/build/generate.json
  sdks/go/README.md
  sdks/go/docs/payments/README.md
  sdks/go/docs/search/README.md
  sdks/go/docs/wallets/README.md
  sdks/go/files.gen
  sdks/go/payments.go
  sdks/go/pkg/models/operations/getaccountbalances.go
  sdks/go/pkg/models/operations/paymentsgetaccount.go
  sdks/go/pkg/models/shared/paymentsaccountresponse.go
  sdks/java/README.md
  sdks/java/docs/payments/README.md
  sdks/java/docs/search/README.md
  sdks/java/files.gen
  sdks/java/lib/src/main/java/com/formance/formance_sdk/Payments.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/operations/GetAccountBalancesRequest.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/operations/PaymentsgetAccountRequest.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/operations/PaymentsgetAccountResponse.java
  sdks/java/lib/src/main/java/com/formance/formance_sdk/models/shared/PaymentsAccountResponse.java
  sdks/php/README.md
  sdks/php/docs/payments/README.md
  sdks/php/docs/search/README.md
  sdks/php/docs/wallets/README.md
  sdks/php/docs/webhooks/README.md
  sdks/php/files.gen
  sdks/php/src/Models/Operations/GetAccountBalancesRequest.php
  sdks/php/src/Models/Operations/PaymentsgetAccountRequest.php
  sdks/php/src/Models/Operations/PaymentsgetAccountResponse.php
  sdks/php/src/Models/Shared/PaymentsAccountResponse.php
  sdks/php/src/Payments.php
  sdks/python/README.md
  sdks/python/docs/payments/README.md
  sdks/python/docs/search/README.md
  sdks/python/docs/wallets/README.md
  sdks/python/docs/webhooks/README.md
  sdks/python/files.gen
  sdks/python/src/sdk/models/operations/__init__.py
  sdks/python/src/sdk/models/operations/getaccountbalances.py
  sdks/python/src/sdk/models/operations/paymentsgetaccount.py
  sdks/python/src/sdk/models/shared/__init__.py
  sdks/python/src/sdk/models/shared/paymentsaccountresponse.py
  sdks/python/src/sdk/payments.py
  sdks/typescript/README.md
  sdks/typescript/docs/payments/README.md
  sdks/typescript/docs/search/README.md
  sdks/typescript/docs/wallets/README.md
  sdks/typescript/docs/webhooks/README.md
  sdks/typescript/files.gen
  sdks/typescript/src/sdk/models/operations/getaccountbalances.ts
  sdks/typescript/src/sdk/models/operations/index.ts
  sdks/typescript/src/sdk/models/operations/paymentsgetaccount.ts
  sdks/typescript/src/sdk/models/shared/index.ts
  sdks/typescript/src/sdk/models/shared/paymentsaccountresponse.ts
  sdks/typescript/src/sdk/payments.ts
Labels: components/payments

#481 feat: remove-open-api-latest
  DEVELOPERS.md
  components/auth/Taskfile.yaml
  components/fctl/main.go
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/.openapi-generator/VERSION
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/client.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/go.sum
  components/ledger/Taskfile.yaml
  components/payments/main.go
  components/search/main.go
  components/webhooks/main.go
Labels: components/fctl, components/payments, components/search, components/webhooks, components/auth, components/ledger

#484 feat: add worker pool
  components/webhooks/go.mod
  components/webhooks/go.sum
  components/webhooks/pkg/worker/module.go
Labels: components/webhooks

#483 feat: upgrade garden project
  components/operator/Makefile
  components/operator/README.md
  components/operator/commands.garden.yaml
  components/operator/garden.yml
  components/operator/garden/cert-manager/garden.yaml
  components/operator/garden/dex/garden.yaml
  components/operator/garden/elasticsearch/garden.yaml
  components/operator/garden/jaeger/garden.yaml
  components/operator/garden/k3d.yaml
  components/operator/garden/minio/garden.yaml
  components/operator/garden/nats/garden.yaml
  components/operator/garden/otel-collector/garden.yaml
  components/operator/garden/postgres/garden.yaml
  components/operator/garden/reloader/garden.yaml
  components/operator/garden/traefik/garden.yaml
  components/operator/project.garden.yaml
Labels: components/operator

#489 feat: add orchestration to docker compose
  Dockerfile
  components/orchestration/Dockerfile
  components/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
  config/auth/config.yaml
  docker-compose.yml
  process-compose.yaml
Labels: components/orchestration
