Repository formancehq/stack, pull requests merged in 2024-05, with the labels that each got.

#1470 feat(agent): discover module list, add capabilities moduleList and send it to membership
  components/operator/api/formance.com/v1beta1/auth_types.go
  components/operator/api/formance.com/v1beta1/gateway_types.go
  components/operator/api/formance.com/v1beta1/ledger_types.go
  components/operator/api/formance.com/v1beta1/orchestration_types.go
  components/operator/api/formance.com/v1beta1/payments_types.go
  components/operator/api/formance.com/v1beta1/reconciliation_types.go
  components/operator/api/formance.com/v1beta1/search_types.go
  components/operator/api/formance.com/v1beta1/stargate_types.go
  components/operator/api/formance.com/v1beta1/wallets_types.go
  components/operator/api/formance.com/v1beta1/webhooks_types.go
  components/operator/config/crd/bases/formance.com_auths.yaml
  components/operator/config/crd/bases/formance.com_gateways.yaml
  components/operator/config/crd/bases/formance.com_ledgers.yaml
  components/operator/config/crd/bases/formance.com_orchestrations.yaml
  components/operator/config/crd/bases/formance.com_payments.yaml
  components/operator/config/crd/bases/formance.com_reconciliations.yaml
  components/operator/config/crd/bases/formance.com_searches.yaml
  components/operator/config/crd/bases/formance.com_stargates.yaml
  components/operator/config/crd/bases/formance.com_wallets.yaml
  components/operator/config/crd/bases/formance.com_webhooks.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_auths.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_gateways.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_ledgers.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_orchestrations.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_payments.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_reconciliations.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_searches.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_stargates.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_wallets.formance.com.yaml
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_webhooks.formance.com.yaml
  ee/agent/cmd/root.go
  ee/agent/go.mod
  ee/agent/helm/templates/clusterrole.yaml
  ee/agent/internal/membership_client.go
  ee/agent/internal/membership_listener_test.go
  ee/agent/internal/module.go
Labels: ee/agent

#1467 feat(*): more integration tests for payments + reco and better handling of payments errors
  components/payments/cmd/api/internal/api/accounts.go
  components/payments/cmd/api/internal/api/accounts_test.go
  components/payments/cmd/api/internal/api/health.go
  components/payments/cmd/api/internal/api/recovery.go
  components/payments/internal/models/account.go
  components/payments/openapi.yaml
  ee/reconciliation/cmd/migrate.go
  ee/reconciliation/cmd/root.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/sdkerrors/paymentserrorresponse.md
  releases/sdks/go/docs/pkg/models/shared/paymentserrorsenum.md
  releases/sdks/go/docs/sdks/payments/README.md
  releases/sdks/go/payments.go
  releases/sdks/go/pkg/models/sdkerrors/paymentserrorresponse.go
  releases/sdks/go/pkg/models/shared/paymentserrorsenum.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/internal/modules/payments.go
  tests/integration/internal/modules/reconciliation.go
  tests/integration/suite/payments-connectors-generic.go
  tests/integration/suite/reconciliation-policy-create-list.go
  tests/integration/suite/wallets-create.go
Labels: components/payments

#1475 feat(payments): add list accounts query in params also
  components/payments/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/paymentslistaccountsrequest.md
  releases/sdks/go/pkg/models/operations/paymentslistaccounts.go
Labels: components/payments

#1465 feat(fctl): enable, disable, list modules
  components/fctl/cmd/cloud/organizations/history.go
  components/fctl/cmd/cloud/organizations/users/link.go
  components/fctl/cmd/cloud/regions/show.go
  components/fctl/cmd/stack/delete.go
  components/fctl/cmd/stack/history.go
  components/fctl/cmd/stack/list.go
  components/fctl/cmd/stack/modules/disable.go
  components/fctl/cmd/stack/modules/enable.go
  components/fctl/cmd/stack/modules/flags.go
  components/fctl/cmd/stack/modules/list.go
  components/fctl/cmd/stack/modules/root.go
  components/fctl/cmd/stack/root.go
  components/fctl/cmd/stack/store/store.go
  components/fctl/cmd/stack/update.go
  components/fctl/cmd/stack/upgrade.go
  components/fctl/go.mod
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/AnyRegion.md
  components/fctl/membershipclient/docs/Capability.md
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/ListModulesResponse.md
  components/fctl/membershipclient/docs/Module.md
  components/fctl/membershipclient/docs/PrivateRegion.md
  components/fctl/membershipclient/docs/PublicRegion.md
  components/fctl/membershipclient/docs/Region.md
  components/fctl/membershipclient/docs/RegionCapability.md
  components/fctl/membershipclient/docs/RegionCapabilityKeys.md
  components/fctl/membershipclient/docs/ServerInfo.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_any_region.go
  components/fctl/membershipclient/model_capability.go
  components/fctl/membershipclient/model_list_modules_response.go
  components/fctl/membershipclient/model_module.go
  components/fctl/membershipclient/model_private_region.go
  components/fctl/membershipclient/model_public_region.go
  components/fctl/membershipclient/model_region.go
  components/fctl/membershipclient/model_region_capability.go
  components/fctl/membershipclient/model_region_capability_keys.go
  components/fctl/membershipclient/model_server_info.go
  components/fctl/pkg/clients.go
  components/fctl/pkg/utils.go
  components/fctl/pkg/versions.go
Labels: components/fctl

#1477 fix: use restMapping singularizer
  ee/agent/internal/membership_listener.go
  ee/agent/internal/membership_listener_test.go
Labels: components/fctl

#1478 fix: invitations enums
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
Labels: components/fctl

#1479 fix: auto deploy in staging env
  .github/workflows/main.yml
  Earthfile
Labels: components/operator, ee/agent

#1486 fix: panic when broker is not completely ready
  components/operator/internal/resources/brokers/reconcile.go
  components/operator/internal/resources/payments/deployments.go
  components/operator/tools/kubectl-stacks/disable.go
  components/operator/tools/kubectl-stacks/enable.go
  components/operator/tools/kubectl-stacks/go.mod
  components/operator/tools/kubectl-stacks/main.go
Labels: build-images

#1485 chore: use operator version to discover utils version
  Earthfile
  components/operator/cmd/main.go
  components/operator/helm/operator/templates/deployment.yaml
  components/operator/internal/core/platform.go
  components/operator/internal/resources/databases/init.go
  components/operator/tools/utils/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1488 fix: releases
  .github/actions/find-directory/index.js
  .github/workflows/main.yml
Labels: build-images

#1495 feat(fctl): use membership/_info to expose console_url
  components/fctl/cmd/stack/create.go
  components/fctl/cmd/stack/list.go
  components/fctl/cmd/ui/ui.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/ServerInfo.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_server_info.go
Labels: components/fctl

#1496 chore: bump eartfile to 0.8 version
  Earthfile
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/operator/Earthfile
  components/operator/tools/utils/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  helm/regions/Earthfile
  libs/core/Earthfile
  libs/events/Earthfile
  libs/go-libs/Earthfile
  releases/Earthfile
  tests/benchmarks/Earthfile
  tests/integration/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1504 feat(agent): discover ee modules
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/RegionCapability.md
  components/fctl/membershipclient/model_region_capability.go
  components/operator/api/formance.com/v1beta1/orchestration_types.go
  components/operator/api/formance.com/v1beta1/reconciliation_types.go
  components/operator/api/formance.com/v1beta1/search_types.go
  components/operator/api/formance.com/v1beta1/wallets_types.go
  components/operator/api/formance.com/v1beta1/webhooks_types.go
  components/operator/config/crd/bases/formance.com_orchestrations.yaml
  components/operator/config/crd/bases/formance.com_reconciliations.yaml
  components/operator/config/crd/bases/formance.com_searches.yaml
  components/operator/config/crd/bases/formance.com_wallets.yaml
  components/operator/config/crd/bases/formance.com_webhooks.yaml
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_orchestrations.formance.com.yaml
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_reconciliations.formance.com.yaml
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_searches.formance.com.yaml
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_wallets.formance.com.yaml
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_webhooks.formance.com.yaml
  ee/agent/internal/membership_client.go
  ee/agent/internal/membership_listener_test.go
  ee/agent/internal/module.go
Labels: components/fctl

#1512 feat(agent): make resync period configurable
  ee/agent/cmd/root.go
  ee/agent/internal/informer_modules.go
  ee/agent/internal/k8s_client.go
  ee/agent/internal/membership_listener.go
  ee/agent/internal/membership_listener_test.go
  ee/agent/internal/module.go
  ee/agent/tests/informer_stacks_test.go
  ee/agent/tests/informers_modules_test.go
  ee/agent/tests/membership_listener_test.go
Labels: build-images, ee/agent

#1513 fix: concurrent access + outdated statuses
  ee/agent/internal/informer_stacks.go
  ee/agent/internal/membership_client.go
  ee/agent/internal/membership_listener.go
  ee/agent/internal/module.go
  ee/agent/tests/informer_stacks_test.go
  ee/agent/tests/membership_listener_test.go
Labels: build-images

#1514 chore: remove old sdk doc
  components/ledger/CONDUCT.md
  components/ledger/CONTRIBUTING.md
  components/ledger/SDK.md
Labels: components/ledger

#1511 fix: Update version format in .goreleaser.yml files to include 'v' pr…
  components/fctl/.goreleaser.yml
  components/ledger/.goreleaser.ledger.yml
  components/ledger/.goreleaser.yml
  components/operator/.goreleaser.yml
  components/operator/tools/utils/.goreleaser.yml
  components/payments/.goreleaser.yml
  ee/agent/.goreleaser.yml
  ee/auth/.goreleaser.yml
  ee/gateway/.goreleaser.yml
  ee/orchestration/.goreleaser.yml
  ee/reconciliation/.goreleaser.yml
  ee/search/.goreleaser.yml
  ee/stargate/.goreleaser.yml
  ee/wallets/.goreleaser.yml
  ee/webhooks/.goreleaser.yml
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1505 chore: Add posibility to use --auto-skip with earthly
  .editorconfig
  .github/workflows/main.yml
  .github/workflows/releases.yml
  Earthfile
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/operator/Earthfile
  components/operator/tools/utils/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  helm/regions/Earthfile
  libs/Earthfile
  libs/core/Earthfile
  libs/events/Earthfile
  libs/go-libs/Earthfile
  releases/Earthfile
  tests/benchmarks/Earthfile
  tests/integration/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, libs, ee/reconciliation

#1522 fix: metadata is not required AND missing actions
  components/fctl/cmd/stack/create.go
  components/fctl/cmd/stack/internal/print.go
  components/fctl/cmd/stack/update.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/Action.md
  components/fctl/membershipclient/docs/CreateStackRequest.md
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/Stack.md
  components/fctl/membershipclient/docs/StackData.md
  components/fctl/membershipclient/docs/UpdateStackRequest.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_action.go
  components/fctl/membershipclient/model_create_stack_request.go
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_data.go
  components/fctl/membershipclient/model_update_stack_request.go
  components/fctl/pkg/approval.go
Labels: components/fctl

#1521 fix: throttle stream
  ee/agent/internal/membership_client.go
  releases/sdks/go/go.sum
Labels: build-images

#1459 feat: remove in memory stacks
  components/fctl/cmd/stack/restore.go
  ee/agent/Earthfile
  ee/agent/go.mod
  ee/agent/go.sum
  ee/agent/internal/informer_modules.go
  ee/agent/internal/informer_modules_test.go
  ee/agent/internal/informer_stacks.go
  ee/agent/internal/informer_stacks_test.go
  ee/agent/internal/k8s_client.go
  ee/agent/internal/k8s_client_test.go
  ee/agent/internal/membership_client_generated.go
  ee/agent/internal/membership_listener.go
  ee/agent/internal/membership_listener_test.go
  ee/agent/internal/module.go
  ee/agent/internal/utils.go
  ee/agent/tests/informer_stacks_test.go
  ee/agent/tests/membership_listener_test.go
Labels: ee/agent

#1523 fix(sdk): missing is sync
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/Stack.md
  components/fctl/membershipclient/docs/StackAllOf.md
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_all_of.go
Labels: components/fctl

#1524 refactor(auth): use chi instead of mux
  components/fctl/membershipclient/go.sum
  ee/auth/cmd/serve.go
  ee/auth/go.mod
  ee/auth/go.sum
  ee/auth/pkg/api/authorization/middleware.go
  ee/auth/pkg/api/clients.go
  ee/auth/pkg/api/clients_test.go
  ee/auth/pkg/api/module.go
  ee/auth/pkg/api/users.go
  ee/auth/pkg/api/users_test.go
  ee/auth/pkg/api/util.go
  ee/auth/pkg/oidc/module.go
  ee/auth/pkg/oidc/oidc_test.go
  ee/auth/pkg/oidc/router.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: ee/auth

#1527 fix(operator): tidy tools
  components/fctl/go.sum
  components/operator/Earthfile
  components/operator/internal/resources/stacks/init.go
  components/operator/tools/kubectl-stacks/Earthfile
  components/operator/tools/kubectl-stacks/go.mod
  components/operator/tools/kubectl-stacks/go.sum
  components/operator/tools/utils/go.mod
  components/operator/tools/utils/go.sum
Labels: components/fctl, components/operator

#1532 feat(operator): allow configure ingress annotations using a setting
  components/operator/README.md
  components/operator/internal/resources/gateways/ingress.go
  components/operator/internal/tests/gateway_controller_test.go
Labels: components/operator

#1529 feat(orchestration): add stage to update ledger account
  .editorconfig
  components/fctl/cmd/orchestration/instances/describe.go
  ee/orchestration/examples/update-account-metadata.yaml
  ee/orchestration/internal/workflow/activities/activity_ledger_add_account_metadata.go
  ee/orchestration/internal/workflow/stages/all/all.go
  ee/orchestration/internal/workflow/stages/update/run.go
  ee/orchestration/internal/workflow/stages/update/run_test.go
  ee/orchestration/internal/workflow/stages/update/update.go
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/auth.go
  releases/sdks/go/docs/pkg/models/shared/activityaddaccountmetadata.md
  releases/sdks/go/docs/pkg/models/shared/stage.md
  releases/sdks/go/docs/pkg/models/shared/update.md
  releases/sdks/go/docs/pkg/models/shared/updateaccount.md
  releases/sdks/go/docs/pkg/models/shared/v2activityaddaccountmetadata.md
  releases/sdks/go/docs/pkg/models/shared/v2stage.md
  releases/sdks/go/docs/pkg/models/shared/v2update.md
  releases/sdks/go/docs/pkg/models/shared/v2updateaccount.md
  releases/sdks/go/docs/pkg/models/shared/v2workflowinstancehistorystageinput.md
  releases/sdks/go/docs/pkg/models/shared/workflowinstancehistorystageinput.md
  releases/sdks/go/formance.go
  releases/sdks/go/internal/hooks/hooks.go
  releases/sdks/go/internal/hooks/registration.go
  releases/sdks/go/ledger.go
  releases/sdks/go/orchestration.go
  releases/sdks/go/payments.go
  releases/sdks/go/pkg/models/shared/activityaddaccountmetadata.go
  releases/sdks/go/pkg/models/shared/stage.go
  releases/sdks/go/pkg/models/shared/update.go
  releases/sdks/go/pkg/models/shared/updateaccount.go
  releases/sdks/go/pkg/models/shared/v2activityaddaccountmetadata.go
  releases/sdks/go/pkg/models/shared/v2stage.go
  releases/sdks/go/pkg/models/shared/v2update.go
  releases/sdks/go/pkg/models/shared/v2updateaccount.go
  releases/sdks/go/pkg/models/shared/v2workflowinstancehistorystageinput.go
  releases/sdks/go/pkg/models/shared/workflowinstancehistorystageinput.go
  releases/sdks/go/reconciliation.go
  releases/sdks/go/search.go
  releases/sdks/go/wallets.go
  releases/sdks/go/webhooks.go
Labels: ee/orchestration

#1525 feat(operator): Add Payments Connector Statefull & Replicas use for ledger
  .github/workflows/main.yml
  .github/workflows/releases.yml
  components/operator/README.md
  components/operator/api/formance.com/v1beta1/ledger_types.go
  components/operator/config/crd/bases/formance.com_ledgers.yaml
  components/operator/docs/crd.md
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_ledgers.formance.com.yaml
  components/operator/internal/resources/ledgers/deployments.go
  components/operator/internal/resources/payments/deployments.go
Labels: components/operator

#1538 fix: regions is packaged witout operator-crds sub chart
  components/operator/Earthfile
  ee/agent/Earthfile
  helm/Earthfile
  helm/demo/Earthfile
  helm/regions/Earthfile
Labels: components/operator, ee/agent

#1541 feat(operator): configure json logging on services
  components/ledger/cmd/root.go
  components/operator/README.md
  components/operator/api/formance.com/v1beta1/settings_types.go
  components/operator/config/crd/bases/formance.com_settings.yaml
  components/operator/docs/crd.md
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_settings.formance.com.yaml
  components/operator/internal/resources/applications/application.go
Labels: components/operator

#1543 feat(operator): enable json log by default
  components/operator/Earthfile
  components/operator/cmd/main.go
  components/operator/helm/operator/templates/deployment.yaml
  components/operator/helm/operator/values.yaml
Labels: components/operator

#1544 feat(operator): import doc from dedicated repository and add crd generation
  components/operator/Earthfile
  components/operator/docs/01-Requirements.md
  components/operator/docs/02-Installation.md
  components/operator/docs/03-Demo deployment.md
  components/operator/docs/04-Modules/01-Stack.md
  components/operator/docs/04-Modules/02-Gateway.md
  components/operator/docs/04-Modules/03-Ledger.md
  components/operator/docs/04-Modules/04-Payments.md
  components/operator/docs/04-Modules/05-Auth.md
  components/operator/docs/04-Modules/06-Orchestration.md
  components/operator/docs/04-Modules/07-Search.md
  components/operator/docs/04-Modules/08-Reconciliation.md
  components/operator/docs/04-Modules/09-Wallets.md
  components/operator/docs/04-Modules/10-Webhooks.md
  components/operator/docs/05-Infrastructure services/01-PostgreSQL.md
  components/operator/docs/05-Infrastructure services/02-Message broker.md
  components/operator/docs/05-Infrastructure services/03-Elasticsearch.md
  components/operator/docs/05-Infrastructure services/04-Temporal.md
  components/operator/docs/06-Observability/01-Configure OpenTelemetry.md
  components/operator/docs/07-Upgrade/01-Upgrade from the operator.md
  components/operator/docs/07-Upgrade/02-Database update.md
  components/operator/docs/08-Troubleshooting.md
  components/operator/docs/09-Configuration reference/01-Settings.md
  components/operator/docs/09-Configuration reference/02-Custom Resource Definitions.md
Labels: components/operator
