Repository formancehq/stack, pull requests merged in 2024-08, with the labels that each got.

#1630 fix(wallets): fix errors when creating balance
  ee/wallets/pkg/error.go
  ee/wallets/pkg/ledger_interface.go
  ee/wallets/pkg/manager.go
Labels: build-images

#1631 feat(wallets): Add idempotency key in wallets
  components/fctl/cmd/wallets/create.go
  components/fctl/cmd/wallets/credit.go
  components/fctl/cmd/wallets/debit.go
  components/fctl/cmd/wallets/holds/confirm.go
  components/fctl/cmd/wallets/holds/void.go
  components/fctl/cmd/wallets/update.go
  components/fctl/membershipclient/go.sum
  ee/wallets/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/createbalancerequest.md
  releases/sdks/go/docs/pkg/models/operations/createwalletrequest.md
  releases/sdks/go/docs/sdks/wallets/README.md
  releases/sdks/go/pkg/models/operations/createbalance.go
  releases/sdks/go/pkg/models/operations/createwallet.go
  releases/sdks/go/wallets.go
  tests/integration/suite/wallets-create.go
  tests/integration/suite/wallets-credit.go
  tests/integration/suite/wallets-debit.go
Labels: ee/wallets

#1633 fix(ledger): fix crash with same idempotency key in same batch
  components/ledger/internal/storage/ledgerstore/logs.go
  components/ledger/internal/storage/ledgerstore/logs_test.go
  components/ledger/internal/storage/ledgerstore/main_test.go
Labels: build-images

#1635 feat(ledger): detach context when creating transaction
  components/ledger/internal/api/v2/controllers_transactions.go
  components/ledger/internal/storage/ledgerstore/logs.go
  components/ledger/internal/storage/ledgerstore/logs_test.go
  components/ledger/internal/storage/ledgerstore/main_test.go
Labels: build-images

#1638 fix(ledger): use a unique index on idempotency key and ledger
  components/ledger/internal/storage/ledgerstore/bucket.go
  components/ledger/internal/storage/ledgerstore/migrations/8-ik-ledger-unique-index.sql
  tests/integration/suite/ledger-create-transaction.go
Labels: build-images

#1642 fix(membership): add enums on module
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/go.sum
  components/operator/tools/kubectl-stacks/list.go
Labels: components/fctl

#1646 fix(ledger/backport): pr #1644"
  components/fctl/go.sum
  components/ledger/internal/storage/ledgerstore/bucket.go
  components/ledger/internal/storage/ledgerstore/migrations/9-fix-incorrect-volumes-aggregation.sql
  components/ledger/internal/storage/ledgerstore/transactions_test.go
  components/operator/docs/02-Installation.md
  components/operator/helm/crds/Chart.yaml
  components/operator/helm/operator/Chart.lock
  components/operator/helm/operator/Chart.yaml
  components/operator/helm/operator/values.yaml
  docker-compose.yml
  ee/agent/helm/Chart.yaml
  ee/agent/helm/values.yaml
  helm/regions/Chart.lock
  helm/regions/Chart.yaml
  helm/regions/values.yaml
Labels: components/fctl

#1647 fix(earthly): bump core tag to fix deploy issue
  Earthfile
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/operator/Earthfile
  components/operator/tools/kubectl-stacks/Earthfile
  components/operator/tools/utils/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  helm/demo/Earthfile
  helm/libs/Earthfile
  helm/regions/Earthfile
  libs/Earthfile
  libs/core/Earthfile
  libs/events/Earthfile
  libs/go-libs/Earthfile
  releases/Earthfile
  tests/benchmarks/Earthfile
  tests/integration/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, libs, ee/reconciliation

#1648 fix(stateful app): need recreate strategy
  components/fctl/TODO.md
  components/fctl/cmd/cloud/organizations/root.go
  components/fctl/cmd/profiles/root.go
  components/fctl/cmd/stack/create.go
  components/operator/internal/resources/applications/application.go
Labels: components/fctl

#1649 fix(operator): image translate
  components/operator/Earthfile
  components/operator/go.mod
  components/operator/go.sum
  components/operator/internal/resources/registries/image.go
  components/operator/internal/resources/registries/registries.go
  components/operator/internal/resources/registries/registries_generated.go
  components/operator/internal/resources/registries/registries_test.go
Labels: components/operator

#1650 fix(fctl): not compiling
  components/fctl/cmd/stack/create.go
Labels: build-images

#1654 fix(operator): operator-utils has not the same digest as operator
  components/operator/helm/operator/templates/deployment.yaml
  components/operator/helm/operator/values.yaml
Labels: components/fctl, components/operator, ee/wallets

#1667 fix: detach context on bulk
  components/ledger/internal/api/v2/controllers_bulk.go
Labels: components/ledger
