Repository formancehq/stack, pull requests merged in 2024-09, with the labels that each got.

#1665 feat: avoid tracking unbounded balances
  components/ledger/internal/engine/command/commander.go
  components/ledger/internal/machine/script/compiler/compiler.go
  components/ledger/internal/machine/script/compiler/compiler_test.go
  components/ledger/internal/machine/script/compiler/destination.go
  components/ledger/internal/machine/script/compiler/source.go
  components/ledger/internal/machine/vm/machine.go
  components/ledger/internal/machine/vm/machine_test.go
  components/ledger/internal/machine/vm/program/program.go
Labels: build-images

#1687 feat: Remove Auth from Gateway
  components/operator/api/formance.com/v1beta1/gateway_types.go
  components/operator/config/crd/bases/formance.com_gateways.yaml
  components/operator/docs/09-Configuration reference/02-Custom Resource Definitions.md
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_gateways.formance.com.yaml
  components/operator/internal/resources/gateways/Caddyfile.gotpl
  components/operator/internal/resources/gateways/caddyfile.go
  components/operator/internal/resources/gateways/configuration.go
  components/operator/internal/resources/gateways/init.go
  components/operator/internal/tests/gateway_controller_test.go
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-ledger-and-auth.yaml
  ee/gateway/go.mod
  ee/gateway/go.sum
  ee/gateway/pkg/plugins/auth.go
Labels: ee/gateway

#1696 chore: upgrade deps
  components/ledger/go.mod
  components/ledger/go.sum
  go.mod
  go.sum
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  tests/benchmarks/extension/go.mod
  tests/benchmarks/extension/go.sum
Labels: components/operator, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1679 feat(ledger): refine benchmarks
  components/ledger/Earthfile
  components/ledger/benchmarks/ledger_test.go
  components/ledger/cmd/serve.go
  components/ledger/internal/api/v1/middlewares_metrics.go
  components/ledger/internal/api/v2/middlewares_metrics.go
  components/ledger/internal/storage/driver/module.go
  components/ledger/test/integration/environment_test.go
  components/ledger/test/integration/scenario_test.go
  components/ledger/test/integration/suite_test.go
  components/ledger/test/performance/performance_test.go
  libs/go-libs/testing/utils/testing_main.go
  libs/go-libs/time/time.go
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, libs, ee/reconciliation

#1703 fix(payments): fix payments-ci for payments-v3 branch
  components/operator/internal/tests/payments_controller_test.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/connectors/plugins/configs.go
  components/payments/internal/connectors/plugins/public/wise/payments.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/suite/payments-connectors-dummy-pay.go
  tests/integration/suite/payments-connectors-generic.go
  tests/integration/suite/payments-connectors-reset.go
  tests/integration/suite/payments-connectors-stripe.go
  tests/integration/suite/reconciliation-policy-create-list.go
Labels: components/payments

#1702 fix(payments): fix wise connectors (webhooks + polling)
  components/payments/internal/api/v3/router.go
  components/payments/internal/connectors/engine/activities/storage_webhooks_store.go
  components/payments/internal/connectors/engine/engine.go
  components/payments/internal/connectors/engine/module.go
  components/payments/internal/connectors/engine/plugins/impl.go
  components/payments/internal/connectors/engine/webhooks/webhooks.go
  components/payments/internal/connectors/engine/workflow/create_webhooks.go
  components/payments/internal/connectors/engine/workflow/fetch_others.go
  components/payments/internal/connectors/engine/workflow/handle_webhooks.go
  components/payments/internal/connectors/engine/workflow/install_connector.go
  components/payments/internal/connectors/engine/workflow/instances.go
  components/payments/internal/connectors/engine/workflow/plugin_workflow.go
  components/payments/internal/connectors/engine/workflow/workflow.go
  components/payments/internal/connectors/grpc/proto/services/plugin.pb.go
  components/payments/internal/connectors/grpc/proto/services/plugin.proto
  components/payments/internal/connectors/plugins/grpc.go
  components/payments/internal/connectors/plugins/public/mangopay/webhooks.go
  components/payments/internal/connectors/plugins/public/wise/client/webhooks.go
  components/payments/internal/connectors/plugins/public/wise/payments.go
  components/payments/internal/connectors/plugins/public/wise/plugin.go
  components/payments/internal/connectors/plugins/public/wise/webhooks.go
  components/payments/internal/connectors/plugins/public/wise/workflow.go
  components/payments/internal/models/plugin.go
  components/payments/internal/storage/webhooks.go
  tests/benchmarks/Earthfile
Labels: components/payments

#1688 feat(payments): v3 http wrapper
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/connectors/httpwrapper/client.go
  components/payments/internal/connectors/httpwrapper/client_test.go
  components/payments/internal/connectors/httpwrapper/config.go
  components/payments/internal/connectors/plugins/public/bankingcircle/client/accounts.go
  components/payments/internal/connectors/plugins/public/bankingcircle/client/auth.go
  components/payments/internal/connectors/plugins/public/bankingcircle/client/client.go
  components/payments/internal/connectors/plugins/public/bankingcircle/client/payments.go
  components/payments/internal/connectors/plugins/public/bankingcircle/client/transfer_payouts.go
  components/payments/internal/connectors/plugins/public/currencycloud/client/accounts.go
  components/payments/internal/connectors/plugins/public/currencycloud/client/auth.go
  components/payments/internal/connectors/plugins/public/currencycloud/client/balances.go
  components/payments/internal/connectors/plugins/public/currencycloud/client/beneficiaries.go
  components/payments/internal/connectors/plugins/public/currencycloud/client/client.go
  components/payments/internal/connectors/plugins/public/currencycloud/client/contacts.go
  components/payments/internal/connectors/plugins/public/currencycloud/client/transactions.go
  components/payments/internal/connectors/plugins/public/currencycloud/plugin.go
  components/payments/internal/connectors/plugins/public/mangopay/client/bank_accounts.go
  components/payments/internal/connectors/plugins/public/mangopay/client/client.go
  components/payments/internal/connectors/plugins/public/mangopay/client/error.go
  components/payments/internal/connectors/plugins/public/mangopay/client/payin.go
  components/payments/internal/connectors/plugins/public/mangopay/client/payout.go
  components/payments/internal/connectors/plugins/public/mangopay/client/refund.go
  components/payments/internal/connectors/plugins/public/mangopay/client/transactions.go
  components/payments/internal/connectors/plugins/public/mangopay/client/transfer.go
  components/payments/internal/connectors/plugins/public/mangopay/client/users.go
  components/payments/internal/connectors/plugins/public/mangopay/client/wallets.go
  components/payments/internal/connectors/plugins/public/mangopay/client/webhooks.go
  components/payments/internal/connectors/plugins/public/mangopay/plugin.go
  components/payments/internal/connectors/plugins/public/modulr/client/accounts.go
  components/payments/internal/connectors/plugins/public/modulr/client/beneficiaries.go
  components/payments/internal/connectors/plugins/public/modulr/client/client.go
  components/payments/internal/connectors/plugins/public/modulr/client/error.go
  components/payments/internal/connectors/plugins/public/modulr/client/payout.go
  components/payments/internal/connectors/plugins/public/modulr/client/transactions.go
  components/payments/internal/connectors/plugins/public/modulr/client/transfer.go
  components/payments/internal/connectors/plugins/public/moneycorp/client/accounts.go
  components/payments/internal/connectors/plugins/public/moneycorp/client/auth.go
  components/payments/internal/connectors/plugins/public/moneycorp/client/balances.go
  components/payments/internal/connectors/plugins/public/moneycorp/client/client.go
  components/payments/internal/connectors/plugins/public/moneycorp/client/recipients.go
  components/payments/internal/connectors/plugins/public/moneycorp/client/transactions.go
  components/payments/internal/connectors/plugins/public/moneycorp/plugin.go
  components/payments/internal/connectors/plugins/public/wise/client/balances.go
  components/payments/internal/connectors/plugins/public/wise/client/client.go
  components/payments/internal/connectors/plugins/public/wise/client/error.go
  components/payments/internal/connectors/plugins/public/wise/client/payouts.go
  components/payments/internal/connectors/plugins/public/wise/client/profiles.go
  components/payments/internal/connectors/plugins/public/wise/client/quotes.go
  components/payments/internal/connectors/plugins/public/wise/client/recipient_accounts.go
  components/payments/internal/connectors/plugins/public/wise/client/transfers.go
  components/payments/internal/connectors/plugins/public/wise/client/webhooks.go
  components/payments/internal/connectors/plugins/public/wise/plugin.go
Labels: components/payments

#1707 feat(payments): introduce back again events
  .gitignore
  components/payments/cmd/root.go
  components/payments/cmd/server.go
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/api/services/bank_accounts_forward_to_connector.go
  components/payments/internal/api/services/connectors_reset.go
  components/payments/internal/api/services/pools_add_account.go
  components/payments/internal/api/services/pools_create.go
  components/payments/internal/api/services/pools_delete.go
  components/payments/internal/api/services/pools_remove_account.go
  components/payments/internal/connectors/engine/activities/activity.go
  components/payments/internal/connectors/engine/activities/events_send_account.go
  components/payments/internal/connectors/engine/activities/events_send_balance.go
  components/payments/internal/connectors/engine/activities/events_send_bank_account.go
  components/payments/internal/connectors/engine/activities/events_send_connector_reset.go
  components/payments/internal/connectors/engine/activities/events_send_payment.go
  components/payments/internal/connectors/engine/activities/events_send_pool_creation.go
  components/payments/internal/connectors/engine/activities/events_send_pool_deletion.go
  components/payments/internal/connectors/engine/engine.go
  components/payments/internal/connectors/engine/module.go
  components/payments/internal/connectors/engine/workers.go
  components/payments/internal/connectors/engine/workflow/create_bank_account.go
  components/payments/internal/connectors/engine/workflow/fetch_accounts.go
  components/payments/internal/connectors/engine/workflow/fetch_balances.go
  components/payments/internal/connectors/engine/workflow/fetch_external_accounts.go
  components/payments/internal/connectors/engine/workflow/fetch_others.go
  components/payments/internal/connectors/engine/workflow/fetch_payments.go
  components/payments/internal/connectors/engine/workflow/instances.go
  components/payments/internal/connectors/engine/workflow/send_events.go
  components/payments/internal/connectors/engine/workflow/workflow.go
  components/payments/internal/connectors/plugins/public/mangopay/webhooks.go
  components/payments/internal/events/account.go
  components/payments/internal/events/balance.go
  components/payments/internal/events/bank_account.go
  components/payments/internal/events/connector.go
  components/payments/internal/events/events.go
  components/payments/internal/events/payment.go
  components/payments/internal/events/pool.go
  components/payments/internal/models/accounts.go
  components/payments/internal/models/balances.go
  components/payments/internal/models/bank_accounts.go
  components/payments/internal/models/connectors.go
  components/payments/internal/models/payment_adjustments.go
  components/payments/internal/models/pools.go
  libs/go-libs/publish/messages.go
Labels: components/payments

#1712 chore: upgrade dependencies
  components/fctl/go.mod
  components/fctl/go.sum
  components/ledger/Earthfile
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/internal/storage/ledgerstore/bucket.go
  components/ledger/internal/storage/ledgerstore/logs.go
  components/ledger/internal/storage/ledgerstore/transactions.go
  components/ledger/internal/storage/ledgerstore/transactions_test.go
  components/ledger/internal/storage/ledgerstore/utils.go
  components/ledger/internal/storage/ledgerstore/volumes.go
  components/operator/go.mod
  components/operator/go.sum
  components/operator/tools/kubectl-stacks/go.mod
  components/operator/tools/kubectl-stacks/go.sum
  components/payments/go.mod
  components/payments/go.sum
  ee/agent/go.mod
  ee/agent/go.sum
  ee/auth/go.mod
  ee/auth/go.sum
  ee/auth/pkg/oidc/grant_type_bearer.go
  ee/auth/pkg/oidc/keyset.go
  ee/auth/pkg/oidc/module.go
  ee/auth/pkg/oidc/provider.go
  ee/auth/pkg/oidc/storage.go
  ee/gateway/go.mod
  ee/gateway/go.sum
  ee/orchestration/go.mod
  ee/orchestration/go.sum
  ee/orchestration/internal/api/v1/handler_list_instances_test.go
  ee/orchestration/internal/workflow/manager.go
  ee/reconciliation/go.mod
  ee/reconciliation/go.sum
  ee/search/go.mod
  ee/search/go.sum
  ee/stargate/go.mod
  ee/stargate/go.sum
  ee/wallets/go.mod
  ee/wallets/go.sum
  ee/webhooks/go.mod
  ee/webhooks/go.sum
  go.mod
  go.sum
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/suite/ledger-list-transactions.go
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1717 feat: update API configuration and security schemes
  ee/gateway/openapi.yaml
  releases/base.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/README.md
  releases/sdks/go/USAGE.md
  releases/sdks/go/docs/pkg/models/shared/security.md
  releases/sdks/go/docs/sdks/formance/README.md
  releases/sdks/go/docs/sdks/formanceorchestrationv1/README.md
  releases/sdks/go/docs/sdks/formancepaymentsv1/README.md
  releases/sdks/go/docs/sdks/formancereconciliationv1/README.md
  releases/sdks/go/docs/sdks/formancesearchv1/README.md
  releases/sdks/go/docs/sdks/formancev1/README.md
  releases/sdks/go/docs/sdks/formancev2/README.md
  releases/sdks/go/docs/sdks/formancewalletsv1/README.md
  releases/sdks/go/docs/sdks/formancewebhooksv1/README.md
  releases/sdks/go/docs/sdks/v1/README.md
  releases/sdks/go/docs/sdks/v2/README.md
  releases/sdks/go/formance.go
  releases/sdks/go/internal/hooks/clientcredentials.go
  releases/sdks/go/pkg/models/shared/security.go
Labels: ee/gateway

#1714 feat(payments): add storage tests and fix payments upsert
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/connectors/engine/activities/storage_balances_delete.go
  components/payments/internal/storage/accounts.go
  components/payments/internal/storage/accounts_test.go
  components/payments/internal/storage/balances.go
  components/payments/internal/storage/balances_test.go
  components/payments/internal/storage/bank_accounts.go
  components/payments/internal/storage/bank_accounts_test.go
  components/payments/internal/storage/connectors.go
  components/payments/internal/storage/connectors_test.go
  components/payments/internal/storage/main_test.go
  components/payments/internal/storage/migrations/0-init-schema.sql
  components/payments/internal/storage/payments.go
  components/payments/internal/storage/payments_test.go
  components/payments/internal/storage/pools.go
  components/payments/internal/storage/pools_test.go
  components/payments/internal/storage/schedules.go
  components/payments/internal/storage/schedules_test.go
  components/payments/internal/storage/states_test.go
  components/payments/internal/storage/storage.go
  components/payments/internal/storage/tasks_test.go
  components/payments/internal/storage/utils_test.go
  components/payments/internal/storage/webhooks.go
  components/payments/internal/storage/webhooks_configs.go
  components/payments/internal/storage/webhooks_configs_test.go
  components/payments/internal/storage/webhooks_test.go
  components/payments/internal/storage/workflow_instances.go
  components/payments/internal/storage/workflow_instances_test.go
Labels: components/payments, components/ledger

#1711 feat(payments): introduce generic connector
  components/payments/go.mod
  components/payments/internal/connectors/plugins/public/generic/accounts.go
  components/payments/internal/connectors/plugins/public/generic/balances.go
  components/payments/internal/connectors/plugins/public/generic/capabilities.go
  components/payments/internal/connectors/plugins/public/generic/client/accounts.go
  components/payments/internal/connectors/plugins/public/generic/client/balances.go
  components/payments/internal/connectors/plugins/public/generic/client/beneficiaries.go
  components/payments/internal/connectors/plugins/public/generic/client/client.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/.gitignore
  components/payments/internal/connectors/plugins/public/generic/client/generated/.openapi-generator-ignore
  components/payments/internal/connectors/plugins/public/generic/client/generated/.openapi-generator/FILES
  components/payments/internal/connectors/plugins/public/generic/client/generated/.openapi-generator/VERSION
  components/payments/internal/connectors/plugins/public/generic/client/generated/.travis.yml
  components/payments/internal/connectors/plugins/public/generic/client/generated/README.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/api/openapi.yaml
  components/payments/internal/connectors/plugins/public/generic/client/generated/api_default.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/client.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/configuration.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/Account.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/Balance.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/Balances.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/Beneficiary.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/DefaultApi.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/Error.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/Transaction.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/TransactionStatus.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/docs/TransactionType.md
  components/payments/internal/connectors/plugins/public/generic/client/generated/git_push.sh
  components/payments/internal/connectors/plugins/public/generic/client/generated/go.mod
  components/payments/internal/connectors/plugins/public/generic/client/generated/go.sum
  components/payments/internal/connectors/plugins/public/generic/client/generated/model_account.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/model_balance.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/model_balances.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/model_beneficiary.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/model_error.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/model_transaction.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/model_transaction_status.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/model_transaction_type.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/response.go
  components/payments/internal/connectors/plugins/public/generic/client/generated/utils.go
  components/payments/internal/connectors/plugins/public/generic/client/generic-openapi.yaml
  components/payments/internal/connectors/plugins/public/generic/client/transactions.go
  components/payments/internal/connectors/plugins/public/generic/cmd/main.go
  components/payments/internal/connectors/plugins/public/generic/config.go
  components/payments/internal/connectors/plugins/public/generic/config.json
  components/payments/internal/connectors/plugins/public/generic/currencies.go
  components/payments/internal/connectors/plugins/public/generic/external_accounts.go
  components/payments/internal/connectors/plugins/public/generic/payments.go
  components/payments/internal/connectors/plugins/public/generic/plugin.go
  components/payments/internal/connectors/plugins/public/generic/workflow.go
Labels: components/payments

#1725 feat(payments): use time lib for storage package
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/storage/accounts.go
  components/payments/internal/storage/balances.go
  components/payments/internal/storage/bank_accounts.go
  components/payments/internal/storage/bank_accounts_test.go
  components/payments/internal/storage/connectors.go
  components/payments/internal/storage/payments.go
  components/payments/internal/storage/payments_test.go
  components/payments/internal/storage/pools.go
  components/payments/internal/storage/pools_test.go
  components/payments/internal/storage/schedules.go
  components/payments/internal/storage/schedules_test.go
  components/payments/internal/storage/workflow_instances.go
  components/payments/internal/storage/workflow_instances_test.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments

#1727 fix(payments): fix docker compose and banking circle connector
  components/payments/.gitignore
  components/payments/Earthfile
  components/payments/docker-compose.yml
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/connectors/plugins/public/bankingcircle/client/auth.go
  components/payments/local_env/postgres/init.sql
  components/payments/local_env/postgres/temporal-sql.yaml
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments

#1724 feat: (payments) add stripe v3 connector
  components/payments/Earthfile
  components/payments/go.mod
  components/payments/go.sum
  components/payments/internal/api/backend/backend_generated.go
  components/payments/internal/connectors/plugins/public/stripe/accounts.go
  components/payments/internal/connectors/plugins/public/stripe/accounts_test.go
  components/payments/internal/connectors/plugins/public/stripe/balances.go
  components/payments/internal/connectors/plugins/public/stripe/balances_test.go
  components/payments/internal/connectors/plugins/public/stripe/capabilities.go
  components/payments/internal/connectors/plugins/public/stripe/client/accounts.go
  components/payments/internal/connectors/plugins/public/stripe/client/balances.go
  components/payments/internal/connectors/plugins/public/stripe/client/client.go
  components/payments/internal/connectors/plugins/public/stripe/client/client_generated.go
  components/payments/internal/connectors/plugins/public/stripe/client/error.go
  components/payments/internal/connectors/plugins/public/stripe/client/external_accounts.go
  components/payments/internal/connectors/plugins/public/stripe/client/payments.go
  components/payments/internal/connectors/plugins/public/stripe/client/timeline.go
  components/payments/internal/connectors/plugins/public/stripe/cmd/main.go
  components/payments/internal/connectors/plugins/public/stripe/config.go
  components/payments/internal/connectors/plugins/public/stripe/config.json
  components/payments/internal/connectors/plugins/public/stripe/currencies.go
  components/payments/internal/connectors/plugins/public/stripe/external_accounts.go
  components/payments/internal/connectors/plugins/public/stripe/external_accounts_test.go
  components/payments/internal/connectors/plugins/public/stripe/payments.go
  components/payments/internal/connectors/plugins/public/stripe/payments_test.go
  components/payments/internal/connectors/plugins/public/stripe/plugin.go
  components/payments/internal/connectors/plugins/public/stripe/plugin_test.go
  components/payments/internal/connectors/plugins/public/stripe/workflow.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments
