Repository formancehq/stack, pull requests merged in 2024-03, with the labels that each got.

#1304 feat(fctl): stack force delete
  components/fctl/cmd/stack/delete.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/go.sum
  components/fctl/pkg/clients.go
Labels: components/fctl

#1305 feat(agent): add additional label on existing stack order
  ee/agent/internal/generated/server.pb.go
  ee/agent/internal/generated/server_grpc.pb.go
  ee/agent/internal/membership_listener.go
  ee/agent/server.proto
  ee/agent/tests/membership_listener_test.go
Labels: ee/agent

#1302 feat: enable audit
  components/fctl/cmd/stack/internal/print.go
  components/fctl/cmd/stack/list.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/Stack.md
  components/fctl/membershipclient/docs/StackAllOf.md
  components/fctl/membershipclient/model_stack.go
  components/fctl/membershipclient/model_stack_all_of.go
  ee/agent/internal/generated/server.pb.go
  ee/agent/internal/membership_listener.go
  ee/agent/server.proto
Labels: components/fctl, ee/agent

#1296 feat: Opensearch with AWS IAM
  components/operator/internal/resources/benthos/controller.go
  components/operator/internal/resources/searches/controller.go
  ee/search/benthos/resources/output_elasticsearch.yaml
  ee/search/cmd/init_mapping.go
  ee/search/cmd/root.go
  ee/search/cmd/serve.go
  ee/search/cmd/update_mapping.go
  ee/search/go.mod
  ee/search/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: ee/search

#1316 feat(payments): add accounts filters using query builder
  components/payments/cmd/api/internal/api/utils.go
  components/payments/cmd/api/internal/storage/accounts.go
  components/payments/cmd/api/internal/storage/accounts_test.go
  components/payments/cmd/api/internal/storage/error.go
  components/payments/cmd/api/internal/storage/utils.go
  components/payments/openapi.yaml
  libs/go-libs/auth/cli.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/paymentslistaccountsrequest.md
  releases/sdks/go/docs/sdks/payments/README.md
  releases/sdks/go/formance.go
  releases/sdks/go/gen.yaml
  releases/sdks/go/payments.go
  releases/sdks/go/pkg/models/operations/paymentslistaccounts.go
Labels: components/payments

#1314 feat: eng-775-remove-stargate-server-from-stack
  ee/stargate/.earthly/ingress/.helmignore
  ee/stargate/.earthly/ingress/Chart.yaml
  ee/stargate/.earthly/ingress/templates/ingress.yml
  ee/stargate/.earthly/ingress/values.yaml
  ee/stargate/.earthly/stargate-values.yaml
  ee/stargate/Earthfile
  ee/stargate/cmd/client.go
  ee/stargate/cmd/root.go
  ee/stargate/cmd/server.go
  ee/stargate/go.mod
  ee/stargate/go.sum
  ee/stargate/helm/Chart.yaml
  ee/stargate/helm/templates/aws.yaml
  ee/stargate/helm/templates/deployment.yaml
  ee/stargate/helm/templates/service.yaml
  ee/stargate/helm/values.yaml
  ee/stargate/internal/client/client.go
  ee/stargate/internal/client/module.go
  ee/stargate/internal/client/routes/routes.go
  ee/stargate/internal/grpcmetrics/metrics.go
  ee/stargate/internal/middlewares/log_middleware.go
  ee/stargate/internal/server/grpc/api.go
  ee/stargate/internal/server/grpc/api_test.go
  ee/stargate/internal/server/grpc/interceptors/auth_interceptors.go
  ee/stargate/internal/server/grpc/main_test.go
  ee/stargate/internal/server/grpc/metrics/metrics.go
  ee/stargate/internal/server/grpc/module.go
  ee/stargate/internal/server/http/controllers/controller.go
  ee/stargate/internal/server/http/controllers/errors.go
  ee/stargate/internal/server/http/controllers/info_controller.go
  ee/stargate/internal/server/http/controllers/main_test.go
  ee/stargate/internal/server/http/controllers/stargate_controller.go
  ee/stargate/internal/server/http/controllers/stargate_controller_test.go
  ee/stargate/internal/server/http/module.go
  ee/stargate/internal/server/http/opentelemetry/metrics.go
  ee/stargate/internal/server/http/routes/routes.go
  ee/stargate/main.go
  ee/stargate/stargate.proto
Labels: ee/agent, ee/stargate

#1318 fix(payments): no states for accounts and balances for modulr
  components/payments/cmd/connectors/internal/connectors/modulr/client/accounts.go
  components/payments/cmd/connectors/internal/connectors/modulr/task_fetch_accounts.go
Labels: build-images

#1319 fix(payments): fix missing provider in account responses
  components/payments/cmd/api/internal/api/accounts.go
  components/payments/cmd/api/internal/api/accounts_test.go
  components/payments/cmd/api/internal/storage/accounts.go
  components/payments/internal/models/account.go
  components/payments/openapi.yaml
  releases/sdks/go/docs/pkg/models/shared/paymentsaccount.md
  releases/sdks/go/formance.go
  releases/sdks/go/pkg/models/shared/paymentsaccount.go
Labels: components/payments

#1320 fix(client-server): package is breaking change
  components/operator/docs/crd.md
  ee/stargate/internal/generated/stargate.pb.go
  ee/stargate/internal/generated/stargate_grpc.pb.go
  ee/stargate/stargate.proto
  libs/go-libs/auth/cli.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/gen.yaml
Labels: ee/stargate

#1322 fix: logger formanting, add http middleware
  components/fctl/go.mod
  components/fctl/go.sum
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/libs/go.mod
  components/ledger/libs/grpc/middlewares.go
  components/ledger/libs/httpclient/debug.go
  components/ledger/libs/httpserver/middlewares.go
  components/ledger/libs/logging/context.go
  components/ledger/libs/logging/flags.go
  components/ledger/libs/logging/logrus.go
  components/ledger/libs/service/app.go
  components/ledger/libs/service/logging.go
  components/operator/go.mod
  components/operator/go.sum
  components/payments/go.mod
  components/payments/go.sum
  ee/agent/go.mod
  ee/agent/go.sum
  ee/auth/go.mod
  ee/auth/go.sum
  ee/gateway/go.mod
  ee/gateway/go.sum
  ee/orchestration/go.mod
  ee/orchestration/go.sum
  ee/reconciliation/go.mod
  ee/reconciliation/go.sum
  ee/search/go.mod
  ee/search/go.sum
  ee/stargate/go.mod
  ee/stargate/go.sum
  ee/wallets/go.mod
  ee/wallets/go.sum
  ee/webhooks/go.mod
  ee/webhooks/go.sum
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/httpclient/debug.go
  libs/go-libs/httpserver/middlewares.go
  libs/go-libs/logging/context.go
  libs/go-libs/logging/flags.go
  libs/go-libs/logging/logrus.go
  libs/go-libs/service/app.go
  libs/go-libs/service/logging.go
  releases/sdks/go/.speakeasy/gen.lock
  tests/integration/go.mod
  tests/integration/go.sum
  tools/operator-utils/go.mod
  tools/operator-utils/go.sum
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1326 feat(openapi): Configure the OpenAPI schema to fit the client credentials OAI spec
  releases/base.yaml
Labels: components/payments, ee/auth, ee/orchestration, ee/search, ee/wallets, ee/webhooks, ee/reconciliation

#1334 feat(ledger & fctl): Drop Analytics
  .envrc
  .github/workflows/main.yml
  .github/workflows/releases.yml
  Earthfile
  components/fctl/.goreleaser.yml
  components/fctl/go.mod
  components/fctl/go.sum
  components/fctl/pkg/command.go
  components/ledger/.github/workflows/release.yml
  components/ledger/.goreleaser.ledger.yml
  components/ledger/.goreleaser.yml
  components/ledger/cmd/container.go
  components/ledger/cmd/internal/analytics.go
  components/ledger/cmd/internal/analytics_test.go
  components/ledger/cmd/internal/utils.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/internal/analytics/analytics.go
  components/ledger/internal/analytics/analytics_test.go
  components/ledger/internal/analytics/backend.go
  components/ledger/internal/analytics/backend_test.go
  components/ledger/internal/analytics/module.go
  components/ledger/libs/analytics/cli.go
  components/ledger/libs/analytics/cli_test.go
  components/ledger/libs/analytics/module.go
  components/ledger/libs/analytics/module_test.go
  components/ledger/libs/analytics/segment.go
  components/ledger/libs/analytics/segment_test.go
  components/ledger/libs/go.mod
  components/ledger/libs/go.sum
  libs/go-libs/analytics/cli.go
  libs/go-libs/analytics/cli_test.go
  libs/go-libs/analytics/module.go
  libs/go-libs/analytics/module_test.go
  libs/go-libs/analytics/segment.go
  libs/go-libs/analytics/segment_test.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/fctl, components/ledger, ee/gateway, ee/reconciliation

#1340 fix(agent stargate): ldflag does not contain module path
  ee/agent/.goreleaser.yml
  ee/stargate/.goreleaser.yml
Labels: ee/agent, ee/stargate

#1338 feat(wallet): use set_account_metadata on holds to make operation atomic
  ee/wallets/pkg/api/handler_wallets_debit_test.go
  ee/wallets/pkg/manager.go
  ee/wallets/pkg/numscript/debit-wallet.num
  ee/wallets/pkg/scripts.go
Labels: components/ledger, ee/gateway, ee/reconciliation

#1349 chore(operator): outdated documentation
  components/operator/README.md
Labels: components/operator

#1352 fix(agent, operator): running tests
  components/operator/Earthfile
  ee/agent/Earthfile
Labels: components/operator, ee/agent

#1357 feat(agent): allow passin additional annotations
  ee/agent/agent.proto
  ee/agent/internal/generated/agent.pb.go
  ee/agent/internal/membership_listener.go
  ee/agent/tests/membership_listener_test.go
Labels: ee/agent

#1359 feat: Add gemfury build for fctl
  components/fctl/.goreleaser.yml
Labels: components/fctl

#1360 feat(ledger): add first usage on accounts
  components/ledger/internal/account.go
  components/ledger/internal/machine/script/compiler/compiler.go
  components/ledger/internal/storage/ledgerstore/accounts.go
  components/ledger/internal/storage/ledgerstore/accounts_test.go
  components/ledger/internal/storage/ledgerstore/balances.go
  components/ledger/internal/storage/ledgerstore/bucket.go
  components/ledger/internal/storage/ledgerstore/migrations/4-add-account-first-usage-column.sql
  components/ledger/internal/storage/ledgerstore/transactions_test.go
  components/ledger/internal/storage/systemstore/migrations.go
  tests/integration/suite/ledger-list-count-accounts.go
Labels: components/ledger

#1362 feat(openapi): Add operationId for well-known endpoint
  ee/auth/openapi.yaml
Labels: ee/auth

#1364 feat(payments): wise move to v2 api and state for recipient accounts
  components/fctl/cmd/ledger/create.go
  components/payments/cmd/connectors/internal/connectors/wise/client/profiles.go
  components/payments/cmd/connectors/internal/connectors/wise/client/recipient_accounts.go
  components/payments/cmd/connectors/internal/connectors/wise/config.go
  components/payments/cmd/connectors/internal/connectors/wise/task_fetch_recipient_accounts.go
  components/payments/cmd/connectors/internal/connectors/wise/task_fetch_transfers.go
  components/payments/go.mod
  components/payments/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments

#1355 feat(operator): allow image rewrite
  components/operator/README.md
  components/operator/internal/resources/benthos/controller.go
  components/operator/internal/resources/brokertopics/controller.go
  components/operator/internal/resources/brokertopics/jobs.go
  components/operator/internal/resources/registries/image.go
  components/operator/internal/resources/registries/registries.go
  components/operator/internal/resources/settings/helpers.go
  components/operator/internal/resources/settings/helpers_test.go
  components/operator/internal/tests/database_controller_test.go
  components/operator/internal/tests/gatewayhttpapi_controller_test.go
  components/operator/internal/tests/registries_test.go
Labels: components/operator, components/ledger
