Repository formancehq/stack, pull requests merged in 2024-04, with the labels that each got.

#1367 feat(payments): add generic connector
  components/payments/Earthfile
  components/payments/cmd/connectors/internal/api/connectorconfigs.go
  components/payments/cmd/connectors/internal/api/module.go
  components/payments/cmd/connectors/internal/connectors/generic/client/accounts.go
  components/payments/cmd/connectors/internal/connectors/generic/client/balances.go
  components/payments/cmd/connectors/internal/connectors/generic/client/beneficiaries.go
  components/payments/cmd/connectors/internal/connectors/generic/client/client.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/.gitignore
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/.openapi-generator-ignore
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/.openapi-generator/FILES
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/.openapi-generator/VERSION
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/.travis.yml
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/README.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/api/openapi.yaml
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/api_default.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/client.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/configuration.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/Account.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/Balance.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/Balances.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/Beneficiary.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/DefaultApi.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/Error.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/Transaction.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/TransactionStatus.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/docs/TransactionType.md
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/git_push.sh
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/go.mod
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/go.sum
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/model_account.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/model_balance.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/model_balances.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/model_beneficiary.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/model_error.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/model_transaction.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/model_transaction_status.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/model_transaction_type.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/response.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generated/utils.go
  components/payments/cmd/connectors/internal/connectors/generic/client/generic-openapi.yaml
  components/payments/cmd/connectors/internal/connectors/generic/client/transactions.go
  components/payments/cmd/connectors/internal/connectors/generic/config.go
  components/payments/cmd/connectors/internal/connectors/generic/connector.go
  components/payments/cmd/connectors/internal/connectors/generic/currencies.go
  components/payments/cmd/connectors/internal/connectors/generic/errors.go
  components/payments/cmd/connectors/internal/connectors/generic/loader.go
  components/payments/cmd/connectors/internal/connectors/generic/task_fetch_accounts.go
  components/payments/cmd/connectors/internal/connectors/generic/task_fetch_balances.go
  components/payments/cmd/connectors/internal/connectors/generic/task_fetch_beneficiaries.go
  components/payments/cmd/connectors/internal/connectors/generic/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/generic/task_main.go
  components/payments/cmd/connectors/internal/connectors/generic/task_resolve.go
  components/payments/go.mod
  components/payments/internal/models/connector.go
  components/payments/internal/storage/migrations_v1.x.go
  tests/integration/go.mod
Labels: components/payments

#1371 chore(all): deploy on staging with argocd
  .github/workflows/main.yml
  .gitignore
  Earthfile
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/operator/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/regions/templates/versions.yaml
  helm/regions/templates/versions/default.yaml
  helm/regions/templates/versions/v1.0.yaml
  helm/regions/templates/versions/v2.0.yaml
  helm/regions/values.yaml
  tools/operator-utils/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1378 feat(fctl): add endpoint openapi
  components/fctl/Earthfile
Labels: components/fctl

#1369 feat(operator): keep one consumer by module
  components/operator/Earthfile
  components/operator/Makefile
  components/operator/internal/core/context.go
  components/operator/internal/core/controllers.go
  components/operator/internal/core/reconciler.go
  components/operator/internal/core/shell.go
  components/operator/internal/core/stacks.go
  components/operator/internal/core/utils.go
  components/operator/internal/core/version.go
  components/operator/internal/core/watch.go
  components/operator/internal/resources/benthosstreams/create.go
  components/operator/internal/resources/brokerconsumers/controller.go
  components/operator/internal/resources/brokerconsumers/create.go
  components/operator/internal/resources/brokertopicconsumers/controller.go
  components/operator/internal/resources/databases/create.go
  components/operator/internal/resources/deployments/deployments.go
  components/operator/internal/resources/jobs/job.go
  components/operator/internal/resources/ledgers/controller.go
  components/operator/internal/resources/legacy/stacks/controller.go
  components/operator/internal/resources/payments/controller.go
  components/operator/internal/resources/resourcereferences/controller.go
  components/operator/internal/resources/resourcereferences/create.go
  components/operator/internal/resources/searches/benthos/audit/gateway_audit.yaml
  components/operator/internal/resources/searches/clean_legacy_consumers.go
  components/operator/internal/resources/searches/controller.go
  components/operator/internal/resources/stacks/controller.go
  components/operator/internal/tests/database_controller_test.go
  components/operator/internal/tests/gatewayhttpapi_controller_test.go
  components/operator/internal/tests/internal/bootstrap.go
  components/operator/internal/tests/internal/matcher_be_not_found.go
  components/operator/internal/tests/stack_controller_test.go
  ee/search/benthos.Dockerfile
  ee/search/benthos/streams/ledger/ledger.yaml
  ee/search/benthos/streams/ledger/v1.0.0/ledger_ingestion_v1.yaml
  ee/search/benthos/streams/payments/payments.yaml
  ee/search/benthos/streams/payments/v0.0.0/payments_deletion.yaml
  ee/search/docker-compose.yml
  tests/integration/internal/modules/search.go
Labels: components/operator, ee/search

#1387 feat(fctl): add generic connector install
  components/fctl/cmd/payments/connectors/install/generic.go
  components/fctl/cmd/payments/connectors/install/root.go
  components/fctl/cmd/payments/connectors/internal/connectors.go
  components/payments/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/connector.md
  releases/sdks/go/docs/pkg/models/shared/connectorconfig.md
  releases/sdks/go/docs/pkg/models/shared/genericconfig.md
  releases/sdks/go/docs/sdks/payments/README.md
  releases/sdks/go/formance.go
  releases/sdks/go/gen.yaml
  releases/sdks/go/pkg/models/shared/connector.go
  releases/sdks/go/pkg/models/shared/connectorconfig.go
  releases/sdks/go/pkg/models/shared/genericconfig.go
Labels: components/payments

#1398 feat(ledger): Add /volumes endpoint with OOT and PIT filters
  components/ledger/internal/api/backend/backend.go
  components/ledger/internal/api/backend/backend_generated.go
  components/ledger/internal/api/v2/controllers_volumes.go
  components/ledger/internal/api/v2/controllers_volumes_test.go
  components/ledger/internal/api/v2/routes.go
  components/ledger/internal/api/v2/utils.go
  components/ledger/internal/engine/ledger.go
  components/ledger/internal/storage/ledgerstore/utils.go
  components/ledger/internal/storage/ledgerstore/volumes.go
  components/ledger/internal/storage/ledgerstore/volumes_test.go
  components/ledger/internal/volumes.go
  components/ledger/libs/bun/bunpaginate/pagination_offset.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v2.yaml
  libs/go-libs/bun/bunpaginate/pagination_offset.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/README.md
  releases/sdks/go/docs/pkg/models/operations/v2getvolumeswithbalancesrequest.md
  releases/sdks/go/docs/pkg/models/operations/v2getvolumeswithbalancesresponse.md
  releases/sdks/go/docs/pkg/models/shared/v2volumeswithbalance.md
  releases/sdks/go/docs/pkg/models/shared/v2volumeswithbalancecursorresponse.md
  releases/sdks/go/docs/pkg/models/shared/v2volumeswithbalancecursorresponsecursor.md
  releases/sdks/go/docs/sdks/ledger/README.md
  releases/sdks/go/ledger.go
  releases/sdks/go/pkg/models/operations/v2getvolumeswithbalances.go
  releases/sdks/go/pkg/models/shared/v2volumeswithbalance.go
  releases/sdks/go/pkg/models/shared/v2volumeswithbalancecursorresponse.go
Labels: components/ledger

#1394 fix(operator): flaky tests
  components/operator/internal/core/context.go
  components/operator/internal/core/controllers.go
  components/operator/internal/core/reconciler.go
  components/operator/internal/core/utils.go
  components/operator/internal/resources/brokerconsumers/controller.go
  components/operator/internal/resources/brokertopics/brokertopics.go
  components/operator/internal/resources/databases/create.go
  components/operator/internal/resources/gateways/caddyfile.go
  components/operator/internal/resources/gateways/controller.go
  components/operator/internal/resources/ledgers/controller.go
  components/operator/internal/resources/stacks/controller.go
  components/operator/internal/tests/brokertopic_controller_test.go
  components/operator/internal/tests/database_controller_test.go
  components/operator/internal/tests/ledger_controller_test.go
  components/operator/internal/tests/stack_controller_test.go
Labels: components/operator

#1395 fix(openapi): invalid query param
  components/ledger/openapi.yaml
  components/ledger/openapi/v1.yaml
  components/ledger/openapi/v2.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/pkg/models/operations/getbalancesaggregated.go
  releases/sdks/go/pkg/models/operations/v2getbalancesaggregated.go
Labels: components/operator, components/ledger

#1397 feat(operator): remove BrokerTopicConsumer object
  components/operator/api/formance.com/v1beta1/brokertopicconsumer_types.go
  components/operator/api/formance.com/v1beta1/zz_generated.deepcopy.go
  components/operator/config/crd/bases/formance.com_brokertopicconsumers.yaml
  components/operator/config/crd/kustomization.yaml
  components/operator/config/rbac/brokertopicconsumer_editor_role.yaml
  components/operator/config/rbac/brokertopicconsumer_viewer_role.yaml
  components/operator/config/rbac/role.yaml
  components/operator/docs/crd.md
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_brokertopicconsumers.formance.com.yaml
  components/operator/helm/templates/gen/rbac.authorization.k8s.io_v1_clusterrole_manager-role.yaml
  components/operator/internal/resources/all.go
  components/operator/internal/resources/brokerconsumers/controller.go
  components/operator/internal/resources/brokertopicconsumers/controller.go
  components/operator/internal/resources/searches/clean_legacy_consumers.go
  components/operator/internal/resources/stacks/controller.go
  components/operator/internal/tests/brokerconsumer_controller_test.go
Labels: components/operator

#1403 feat: decrease batch size when writing logs
  components/ledger/cmd/container.go
  components/ledger/cmd/serve.go
  components/ledger/internal/engine/command/commander.go
  components/ledger/internal/engine/command/commander_test.go
  components/ledger/internal/engine/ledger.go
  components/ledger/internal/engine/module.go
  components/ledger/internal/engine/resolver.go
Labels: build-images

#1408 feat(ledger): Add /volumes endpoint with OOT and PIT filters
  components/fctl/cmd/ledger/volumes/list.go
  components/ledger/internal/api/v2/controllers_volumes.go
  components/ledger/internal/api/v2/controllers_volumes_test.go
  components/ledger/internal/api/v2/utils.go
  components/ledger/internal/storage/ledgerstore/utils.go
  components/ledger/internal/storage/ledgerstore/volumes_test.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v2.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/pkg/models/operations/v2getvolumeswithbalances.go
Labels: components/ledger

#1409 feat(ledger): Add /volumes endpoint with OOT and PIT filters > PR(2)
  components/fctl/cmd/ledger/volumes/list.go
  components/ledger/internal/api/v2/controllers_volumes_test.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v2.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/v2volumeswithbalance.md
  releases/sdks/go/pkg/models/shared/v2volumeswithbalance.go
  tests/integration/suite/ledger-volumes-list.go
Labels: components/ledger

#1407 feat(ledger): Add /volumes endpoint with OOT and PIT filters
  components/fctl/cmd/ledger/root.go
  components/fctl/cmd/ledger/volumes/list.go
  components/fctl/cmd/ledger/volumes/root.go
  components/fctl/pkg/printer/cursor.go
  components/ledger/internal/api/backend/backend.go
  components/ledger/internal/api/backend/backend_generated.go
  components/ledger/internal/api/v2/controllers_volumes.go
  components/ledger/internal/api/v2/controllers_volumes_test.go
  components/ledger/internal/api/v2/routes.go
  components/ledger/internal/api/v2/utils.go
  components/ledger/internal/engine/ledger.go
  components/ledger/internal/storage/ledgerstore/utils.go
  components/ledger/internal/storage/ledgerstore/volumes.go
  components/ledger/internal/storage/ledgerstore/volumes_test.go
  components/ledger/internal/volumes.go
  components/ledger/libs/bun/bunpaginate/pagination_offset.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v2.yaml
  libs/go-libs/bun/bunpaginate/pagination_offset.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/README.md
  releases/sdks/go/docs/pkg/models/operations/v2getvolumeswithbalancesrequest.md
  releases/sdks/go/docs/pkg/models/operations/v2getvolumeswithbalancesresponse.md
  releases/sdks/go/docs/pkg/models/shared/v2volumeswithbalance.md
  releases/sdks/go/docs/pkg/models/shared/v2volumeswithbalancecursorresponse.md
  releases/sdks/go/docs/pkg/models/shared/v2volumeswithbalancecursorresponsecursor.md
  releases/sdks/go/docs/sdks/ledger/README.md
  releases/sdks/go/ledger.go
  releases/sdks/go/pkg/models/operations/v2getvolumeswithbalances.go
  releases/sdks/go/pkg/models/shared/v2volumeswithbalance.go
  releases/sdks/go/pkg/models/shared/v2volumeswithbalancecursorresponse.go
  tests/integration/go.mod
  tests/integration/go.sum
  tests/integration/suite/ledger-list-transactions.go
  tests/integration/suite/ledger-volumes-list.go
Labels: components/ledger, build-images

#1417 feat(ledger): Add groupBy (lvl segment) to /volumes endpoint
  components/fctl/cmd/ledger/volumes/list.go
  components/ledger/internal/api/v2/controllers_volumes.go
  components/ledger/internal/api/v2/controllers_volumes_test.go
  components/ledger/internal/api/v2/utils.go
  components/ledger/internal/storage/ledgerstore/utils.go
  components/ledger/internal/storage/ledgerstore/volumes.go
  components/ledger/internal/storage/ledgerstore/volumes_test.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v2.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/v2getvolumeswithbalancesrequest.md
  releases/sdks/go/pkg/models/operations/v2getvolumeswithbalances.go
  tests/integration/suite/ledger-volumes-list.go
Labels: components/ledger

#1421 feat(operator): tune payments postgres connections
  components/ledger/libs/bun/bunconnect/connect.go
  libs/go-libs/bun/bunconnect/connect.go
Labels: build-images

#1425 feat(payments): query payments by reference or metadata
  components/ledger/libs/query/expression.go
  components/payments/cmd/api/internal/storage/payments.go
  components/payments/openapi.yaml
  libs/go-libs/query/expression.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/listpaymentsrequest.md
  releases/sdks/go/pkg/models/operations/listpayments.go
Labels: components/payments

#1432 fix(operator): settings key were transform twice
  components/operator/internal/resources/benthos/controller.go
  components/operator/internal/resources/brokertopics/controller.go
  components/operator/internal/resources/ledgers/deployments.go
  components/operator/internal/resources/orchestrations/deployments.go
  components/operator/internal/resources/payments/deployments.go
  components/operator/internal/resources/registries/image.go
  components/operator/internal/resources/registries/registries.go
  components/operator/internal/resources/searches/clean_legacy_consumers.go
  components/operator/internal/resources/searches/controller.go
  components/operator/internal/resources/settings/aws_role.go
  components/operator/internal/resources/settings/broker.go
  components/operator/internal/resources/settings/helpers.go
  components/operator/internal/resources/settings/helpers_test.go
  components/operator/internal/resources/settings/opentelemetry.go
  components/operator/internal/resources/settings/settings.go
  components/operator/internal/resources/webhooks/deployment.go
  components/operator/internal/tests/registries_test.go
  components/operator/internal/tests/settings_controller_test.go
Labels: components/operator, components/payments, components/ledger, ee/gateway

#1438 feat(payments): add api account creation
  components/fctl/cmd/payments/accounts/create.go
  components/fctl/cmd/payments/accounts/list.go
  components/fctl/cmd/payments/accounts/root.go
  components/fctl/cmd/payments/accounts/show.go
  components/fctl/cmd/payments/payments/create.go
  components/fctl/cmd/payments/payments/root.go
  components/payments/cmd/api/internal/api/accounts.go
  components/payments/cmd/api/internal/api/accounts_test.go
  components/payments/cmd/api/internal/api/backend/backend.go
  components/payments/cmd/api/internal/api/backend/backend_generated.go
  components/payments/cmd/api/internal/api/router.go
  components/payments/cmd/api/internal/api/service/accounts.go
  components/payments/cmd/api/internal/api/service/accounts_test.go
  components/payments/cmd/api/internal/api/service/service.go
  components/payments/cmd/api/internal/api/service/service_test.go
  components/payments/cmd/api/internal/storage/accounts.go
  components/payments/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/README.md
  releases/sdks/go/docs/pkg/models/operations/createaccountresponse.md
  releases/sdks/go/docs/pkg/models/shared/accountrequest.md
  releases/sdks/go/docs/pkg/models/shared/accounttype.md
  releases/sdks/go/docs/pkg/models/shared/paymentsaccount.md
  releases/sdks/go/docs/sdks/payments/README.md
  releases/sdks/go/payments.go
  releases/sdks/go/pkg/models/operations/createaccount.go
  releases/sdks/go/pkg/models/shared/accountrequest.go
  releases/sdks/go/pkg/models/shared/accounttype.go
  releases/sdks/go/pkg/models/shared/paymentsaccount.go
Labels: components/payments

#1445 fix(ledger): libs remove components/ledger/libs relicas
  components/ledger/Earthfile
  components/ledger/libs/errorsutils/errors.go
  components/ledger/libs/licence/cli.go
  components/ledger/libs/licence/jwt.go
  components/ledger/libs/licence/licence.go
Labels: components/ledger

#1415 feat(agent): send detailed stack & module statuses to membership
  ee/agent/Earthfile
  ee/agent/agent.proto
  ee/agent/go.mod
  ee/agent/internal/generated/agent.pb.go
  ee/agent/internal/informer_modules.go
  ee/agent/internal/informer_modules_test.go
  ee/agent/internal/informer_stacks.go
  ee/agent/internal/module.go
  ee/agent/tests/informer_stacks_test.go
  ee/agent/tests/informers_modules_test.go
Labels: ee/agent

#1453 feat(ledger): ENG-986 - Ability to filter-on-a-metadata-existence
  components/ledger/Earthfile
  components/ledger/internal/api/v2/controllers_accounts_test.go
  components/ledger/internal/api/v2/controllers_balances_test.go
  components/ledger/internal/api/v2/controllers_transactions_test.go
  components/ledger/internal/api/v2/controllers_volumes_test.go
  components/ledger/internal/storage/ledgerstore/accounts.go
  components/ledger/internal/storage/ledgerstore/accounts_test.go
  components/ledger/internal/storage/ledgerstore/balances.go
  components/ledger/internal/storage/ledgerstore/balances_test.go
  components/ledger/internal/storage/ledgerstore/transactions.go
  components/ledger/internal/storage/ledgerstore/transactions_test.go
  components/ledger/internal/storage/ledgerstore/volumes.go
  components/ledger/internal/storage/ledgerstore/volumes_test.go
  components/operator/internal/resources/brokers/reconcile.go
  components/operator/tools/kubectl-stacks/list.go
  ee/agent/internal/membership_listener.go
  libs/go-libs/query/expression.go
Labels: components/ledger

#1458 feat(orchestration): eng 878 featflows ability to name triggers in workflows
  components/fctl/cmd/orchestration/triggers/create.go
  components/fctl/cmd/orchestration/triggers/list.go
  components/fctl/cmd/orchestration/triggers/show.go
  ee/orchestration/internal/api/v1/handler_list_triggers.go
  ee/orchestration/internal/api/v2/handler_list_triggers.go
  ee/orchestration/internal/storage/migrations.go
  ee/orchestration/internal/triggers/manager.go
  ee/orchestration/internal/triggers/trigger.go
  ee/orchestration/openapi.yaml
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/listtriggersrequest.md
  releases/sdks/go/docs/pkg/models/operations/v2listtriggersrequest.md
  releases/sdks/go/docs/pkg/models/shared/trigger.md
  releases/sdks/go/docs/pkg/models/shared/triggerdata.md
  releases/sdks/go/docs/pkg/models/shared/v2trigger.md
  releases/sdks/go/docs/pkg/models/shared/v2triggerdata.md
  releases/sdks/go/docs/sdks/orchestration/README.md
  releases/sdks/go/orchestration.go
  releases/sdks/go/pkg/models/operations/listtriggers.go
  releases/sdks/go/pkg/models/operations/v2listtriggers.go
  releases/sdks/go/pkg/models/shared/trigger.go
  releases/sdks/go/pkg/models/shared/triggerdata.go
  releases/sdks/go/pkg/models/shared/v2trigger.go
  releases/sdks/go/pkg/models/shared/v2triggerdata.go
Labels: ee/orchestration

#1440 fix(ledger): bad status code on revert transactions
  components/ledger/openapi.yaml
  components/ledger/openapi/v1.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/ledger.go
Labels: components/ledger
