Repository formancehq/stack, pull requests merged in 2024-06, with the labels that each got.

#1535 feat(agent): add otel grpc stats handler client side
  .editorconfig
  .gitignore
  ee/agent/.earthly/values.yaml
  ee/agent/Earthfile
  ee/agent/cmd/root.go
  ee/agent/go.mod
  ee/agent/go.sum
  ee/agent/helm/values.yaml
  ee/agent/internal/membership_client.go
  ee/agent/internal/membership_listener.go
  ee/agent/internal/module.go
  helm/Earthfile
  helm/libs/Earthfile
  helm/libs/core/Chart.yaml
  helm/libs/core/templates/_helpers.tpl
  helm/libs/core/templates/_monitoring.tpl
  libs/go-libs/otlp/otlptraces/traces.go
Labels: components/operator, ee/agent

#1553 fix(payments): wrong related payment ids
  components/payments/cmd/connectors/internal/connectors/atlar/client/transactions.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_payments.go
  components/payments/docker-compose.yml
Labels: components/payments

#1549 fix(payments): wrong related payment ids
  components/payments/cmd/connectors/internal/connectors/atlar/client/transactions.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_payments.go
  components/payments/docker-compose.yml
Labels: components/payments, build-images

#1565 feat: add some traces
  components/ledger/internal/api/v2/bulk.go
  components/ledger/internal/api/v2/routes.go
  components/ledger/internal/engine/command/commander.go
  components/ledger/internal/engine/command/context.go
  components/ledger/internal/log.go
  components/ledger/internal/storage/ledgerstore/logs.go
  components/ledger/internal/storage/ledgerstore/store.go
Labels: build-images

#1566 fix(ledger): missing trace
  components/ledger/internal/engine/command/commander.go
Labels: build-images

#1564 feat(wallets): add expand=balances query param on GET /wallets
  ee/orchestration/internal/workflow/activities/activity_wallet_get.go
  ee/orchestration/internal/workflow/stages/send/run_test.go
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  ee/wallets/openapi.yaml
  ee/wallets/pkg/api/handler_balances_list_test.go
  ee/wallets/pkg/api/handler_holds_list_test.go
  ee/wallets/pkg/api/handler_wallets_debit_test.go
  ee/wallets/pkg/api/handler_wallets_get_test.go
  ee/wallets/pkg/api/handler_wallets_list.go
  ee/wallets/pkg/api/handler_wallets_list_test.go
  ee/wallets/pkg/api/handler_wallets_summary_test.go
  ee/wallets/pkg/balance.go
  ee/wallets/pkg/hold.go
  ee/wallets/pkg/ledger_interface.go
  ee/wallets/pkg/manager.go
  ee/wallets/pkg/wallet.go
  releases/Earthfile
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/listwalletsrequest.md
  releases/sdks/go/docs/pkg/models/shared/activitycreditwallet.md
  releases/sdks/go/docs/pkg/models/shared/activitygetwalletoutput.md
  releases/sdks/go/docs/pkg/models/shared/getwalletresponse.md
  releases/sdks/go/docs/pkg/models/shared/getwalletsummaryresponse.md
  releases/sdks/go/docs/pkg/models/shared/getwalletsummaryresponsedata.md
  releases/sdks/go/docs/pkg/models/shared/orchestrationcreditwalletrequest.md
  releases/sdks/go/docs/pkg/models/shared/v2activitygetwalletoutput.md
  releases/sdks/go/docs/pkg/models/shared/v2wallet.md
  releases/sdks/go/docs/pkg/models/shared/v2walletwithbalances.md
  releases/sdks/go/docs/pkg/models/shared/wallet.md
  releases/sdks/go/docs/pkg/models/shared/walletbalances.md
  releases/sdks/go/docs/pkg/models/shared/walletwithbalances.md
  releases/sdks/go/docs/sdks/wallets/README.md
  releases/sdks/go/pkg/models/operations/listwallets.go
  releases/sdks/go/pkg/models/shared/activitycreditwallet.go
  releases/sdks/go/pkg/models/shared/activitygetwalletoutput.go
  releases/sdks/go/pkg/models/shared/getwalletresponse.go
  releases/sdks/go/pkg/models/shared/getwalletsummaryresponse.go
  releases/sdks/go/pkg/models/shared/orchestrationcreditwalletrequest.go
  releases/sdks/go/pkg/models/shared/v2activitygetwalletoutput.go
  releases/sdks/go/pkg/models/shared/v2wallet.go
  releases/sdks/go/pkg/models/shared/v2walletwithbalances.go
  releases/sdks/go/pkg/models/shared/wallet.go
  releases/sdks/go/pkg/models/shared/walletwithbalances.go
  tests/benchmarks/scripts/benchs/ledger-v2.js
  tests/integration/suite/wallets-create.go
Labels: ee/wallets

#1570 feat(operator): add capability to configure module database connection pool
  components/operator/README.md
  components/operator/docs/09-Configuration reference/01-Settings.md
  components/operator/internal/resources/applications/application.go
  components/operator/internal/resources/databases/env.go
  components/operator/internal/resources/resourcereferences/create.go
  components/operator/internal/resources/settings/helpers.go
  components/operator/internal/tests/ledger_controller_test.go
Labels: components/operator

#1572 chore: Revert "feat(wallets): add expand=balances query param on GET /wallets"
  ee/orchestration/internal/workflow/activities/activity_wallet_get.go
  ee/orchestration/internal/workflow/stages/send/run_test.go
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  ee/wallets/openapi.yaml
  ee/wallets/pkg/api/handler_balances_list_test.go
  ee/wallets/pkg/api/handler_holds_list_test.go
  ee/wallets/pkg/api/handler_wallets_debit_test.go
  ee/wallets/pkg/api/handler_wallets_get_test.go
  ee/wallets/pkg/api/handler_wallets_list.go
  ee/wallets/pkg/api/handler_wallets_list_test.go
  ee/wallets/pkg/api/handler_wallets_summary_test.go
  ee/wallets/pkg/balance.go
  ee/wallets/pkg/hold.go
  ee/wallets/pkg/ledger_interface.go
  ee/wallets/pkg/manager.go
  ee/wallets/pkg/wallet.go
  releases/Earthfile
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/listwalletsrequest.md
  releases/sdks/go/docs/pkg/models/shared/activitycreditwallet.md
  releases/sdks/go/docs/pkg/models/shared/activitygetwalletoutput.md
  releases/sdks/go/docs/pkg/models/shared/getwalletresponse.md
  releases/sdks/go/docs/pkg/models/shared/getwalletsummaryresponse.md
  releases/sdks/go/docs/pkg/models/shared/getwalletsummaryresponsedata.md
  releases/sdks/go/docs/pkg/models/shared/orchestrationcreditwalletrequest.md
  releases/sdks/go/docs/pkg/models/shared/v2activitygetwalletoutput.md
  releases/sdks/go/docs/pkg/models/shared/v2wallet.md
  releases/sdks/go/docs/pkg/models/shared/v2walletwithbalances.md
  releases/sdks/go/docs/pkg/models/shared/wallet.md
  releases/sdks/go/docs/pkg/models/shared/walletwithbalances.md
  releases/sdks/go/docs/pkg/models/shared/walletwithbalancesbalances.md
  releases/sdks/go/docs/sdks/wallets/README.md
  releases/sdks/go/pkg/models/operations/listwallets.go
  releases/sdks/go/pkg/models/shared/activitycreditwallet.go
  releases/sdks/go/pkg/models/shared/activitygetwalletoutput.go
  releases/sdks/go/pkg/models/shared/creditwalletrequest.go
  releases/sdks/go/pkg/models/shared/getwalletresponse.go
  releases/sdks/go/pkg/models/shared/getwalletsummaryresponse.go
  releases/sdks/go/pkg/models/shared/orchestrationcreditwalletrequest.go
  releases/sdks/go/pkg/models/shared/v2activitygetwalletoutput.go
  releases/sdks/go/pkg/models/shared/v2walletwithbalances.go
  releases/sdks/go/pkg/models/shared/wallet.go
  releases/sdks/go/pkg/models/shared/walletwithbalances.go
  tests/benchmarks/scripts/benchs/ledger-v2.js
  tests/integration/suite/wallets-create.go
Labels: ee/wallets

#1582 fix(orchestration): duplicated usage of iks
  ee/orchestration/internal/workflow/activities/activity.go
  ee/orchestration/internal/workflow/activities/activity_ledger_add_account_metadata.go
  ee/orchestration/internal/workflow/activities/activity_ledger_create_transaction.go
Labels: build-images
