Repository formancehq/stack, pull requests merged in 2024-07, with the labels that each got.

#1591 feat(wallets): add ik support
  components/ledger/internal/api/v2/query.go
  ee/wallets/openapi.yaml
  ee/wallets/pkg/api/handler_balances_create_test.go
  ee/wallets/pkg/api/handler_holds_confirm.go
  ee/wallets/pkg/api/handler_holds_confirm_test.go
  ee/wallets/pkg/api/handler_holds_void.go
  ee/wallets/pkg/api/handler_holds_void_test.go
  ee/wallets/pkg/api/handler_wallets_create_test.go
  ee/wallets/pkg/api/handler_wallets_credit.go
  ee/wallets/pkg/api/handler_wallets_credit_test.go
  ee/wallets/pkg/api/handler_wallets_debit.go
  ee/wallets/pkg/api/handler_wallets_debit_test.go
  ee/wallets/pkg/api/handler_wallets_patch.go
  ee/wallets/pkg/api/handler_wallets_patch_test.go
  ee/wallets/pkg/api/utils_test.go
  ee/wallets/pkg/ledger_interface.go
  ee/wallets/pkg/manager.go
  libs/go-libs/api/idempotency.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/confirmholdrequest.md
  releases/sdks/go/docs/pkg/models/operations/creditwalletrequest.md
  releases/sdks/go/docs/pkg/models/operations/debitwalletrequest.md
  releases/sdks/go/docs/pkg/models/operations/updatewalletrequest.md
  releases/sdks/go/docs/pkg/models/operations/voidholdrequest.md
  releases/sdks/go/pkg/models/operations/confirmhold.go
  releases/sdks/go/pkg/models/operations/creditwallet.go
  releases/sdks/go/pkg/models/operations/debitwallet.go
  releases/sdks/go/pkg/models/operations/updatewallet.go
  releases/sdks/go/pkg/models/operations/voidhold.go
  releases/sdks/go/wallets.go
  tests/integration/suite/wallets-credit.go
Labels: components/fctl, components/ledger, ee/wallets

#1586 feat(ledger): import/export
  components/fctl/cmd/ledger/export.go
  components/fctl/cmd/ledger/import.go
  components/fctl/cmd/ledger/root.go
  components/fctl/go.sum
  components/ledger/internal/api/backend/backend.go
  components/ledger/internal/api/backend/backend_generated.go
  components/ledger/internal/api/v2/controller_export_logs.go
  components/ledger/internal/api/v2/controller_import_logs.go
  components/ledger/internal/api/v2/controllers_get_ledger.go
  components/ledger/internal/api/v2/controllers_get_logs.go
  components/ledger/internal/api/v2/controllers_info.go
  components/ledger/internal/api/v2/routes.go
  components/ledger/internal/engine/chain/chain.go
  components/ledger/internal/engine/chain/store.go
  components/ledger/internal/engine/command/commander.go
  components/ledger/internal/engine/command/commander_test.go
  components/ledger/internal/engine/command/context.go
  components/ledger/internal/engine/export.go
  components/ledger/internal/engine/import.go
  components/ledger/internal/engine/ledger.go
  components/ledger/internal/engine/module.go
  components/ledger/internal/engine/resolver.go
  components/ledger/internal/log.go
  components/ledger/internal/storage/driver/driver.go
  components/ledger/internal/storage/ledgerstore/logs.go
  components/ledger/internal/storage/systemstore/ledgers.go
  components/ledger/internal/storage/systemstore/migrations.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v2.yaml
  ee/analytics/profile.yaml
  libs/go-libs/service/otlp_middleware.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/README.md
  releases/sdks/go/docs/pkg/models/operations/v2exportlogsrequest.md
  releases/sdks/go/docs/pkg/models/operations/v2exportlogsresponse.md
  releases/sdks/go/docs/pkg/models/operations/v2importlogsrequest.md
  releases/sdks/go/docs/pkg/models/operations/v2importlogsresponse.md
  releases/sdks/go/docs/pkg/models/shared/v2errorsenum.md
  releases/sdks/go/docs/sdks/ledger/README.md
  releases/sdks/go/internal/hooks/ledger.go
  releases/sdks/go/internal/hooks/registration.go
  releases/sdks/go/ledger.go
  releases/sdks/go/pkg/models/operations/v2exportlogs.go
  releases/sdks/go/pkg/models/operations/v2importlogs.go
  releases/sdks/go/pkg/models/shared/v2errorsenum.go
  tests/integration/suite/ledger-import-export.go
Labels: components/fctl, components/ledger, build-images

#1593 fix(ledger): datarace on dry run mode
  components/ledger/internal/engine/chain/chain.go
Labels: components/fctl, components/ledger

#1609 feat(payments): only send one events when updating tf
  components/payments/cmd/connectors/internal/connectors/atlar/task_payments.go
  components/payments/cmd/connectors/internal/connectors/dummypay/connector_test.go
  components/payments/cmd/connectors/internal/ingestion/ingester.go
  components/payments/cmd/connectors/internal/ingestion/transfer_initiation.go
Labels: build-images

#1612 feat(operator): add Analytics module placeholder
  components/fctl/cmd/ledger/import.go
  components/operator/BREAKING_CHANGES
  components/operator/PROJECT
  components/operator/TODO
  components/operator/api/formance.com/v1beta1/analytics_types.go
  components/operator/api/formance.com/v1beta1/zz_generated.deepcopy.go
  components/operator/config/crd/bases/formance.com_analytics.yaml
  components/operator/config/crd/kustomization.yaml
  components/operator/config/rbac/formance.com_analytics_editor_role.yaml
  components/operator/config/rbac/formance.com_analytics_viewer_role.yaml
  components/operator/config/rbac/role.yaml
  components/operator/config/samples/formance.com_v1beta1_analytics.yaml
  components/operator/config/samples/kustomization.yaml
  components/operator/docs/09-Configuration reference/02-Custom Resource Definitions.md
  components/operator/helm/crds/templates/crds/apiextensions.k8s.io_v1_customresourcedefinition_analytics.formance.com.yaml
  components/operator/helm/operator/templates/gen/rbac.authorization.k8s.io_v1_clusterrole_formance-manager-role.yaml
  components/operator/internal/resources/all.go
  components/operator/internal/resources/analytics/init.go
  components/operator/internal/resources/ledgers/deployments.go
  components/operator/internal/resources/ledgers/init.go
Labels: components/operator

#1613 feat(orchestration): add limits on parallel activities
  components/operator/docs/09-Configuration reference/01-Settings.md
  components/operator/internal/resources/orchestrations/deployments.go
  components/operator/tools/kubectl-stacks/settings.go
  ee/orchestration/cmd/root.go
  ee/orchestration/cmd/serve.go
  ee/orchestration/cmd/worker.go
  ee/orchestration/internal/api/v1/main_test.go
  ee/orchestration/internal/api/v2/main_test.go
  ee/orchestration/internal/temporalworker/module.go
  ee/orchestration/internal/triggers/workflow_trigger_test.go
  ee/orchestration/internal/workflow/manager_test.go
  ee/orchestration/internal/workflow/stages/internal/context.go
Labels: build-images

#1626 fix(sdk): field are not required
  components/fctl/cmd/cloud/organizations/invitations/send.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/InvitationClaim.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_invitation_claim.go
Labels: components/fctl
