Repository formancehq/stack, pull requests merged in 2024-01, with the labels that each got.

#1085 feat: send invitations with orgClaim, stackClaims
  components/fctl/cmd/cloud/organizations/invitations/list.go
  components/fctl/cmd/cloud/organizations/invitations/send.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/Invitation.md
  components/fctl/membershipclient/docs/InvitationClaim.md
  components/fctl/membershipclient/docs/StackClaim.md
  components/fctl/membershipclient/docs/StackClaimsInner.md
  components/fctl/membershipclient/model_invitation.go
  components/fctl/membershipclient/model_invitation_claim.go
  components/fctl/membershipclient/model_stack_claim.go
  components/fctl/membershipclient/model_stack_claims_inner.go
  components/fctl/membershipclient/model_stack_user_access.go
  components/fctl/membershipclient/model_stack_user_access_all_of.go
  components/fctl/membershipclient/model_user.go
  components/fctl/membershipclient/model_user_all_of.go
  components/fctl/pkg/command.go
Labels: components/fctl

#1086 feat: update, create, list with optional domain
  components/fctl/cmd/cloud/organizations/create.go
  components/fctl/cmd/cloud/organizations/internal/print.go
  components/fctl/cmd/cloud/organizations/list.go
  components/fctl/cmd/cloud/organizations/update.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/ListOrganizationExpandedResponseDataInner.md
  components/fctl/membershipclient/docs/Organization.md
  components/fctl/membershipclient/docs/OrganizationData.md
  components/fctl/membershipclient/model_list_organization_expanded_response_data_inner.go
  components/fctl/membershipclient/model_organization.go
  components/fctl/membershipclient/model_organization_data.go
Labels: components/fctl

#1108 feat(payments): introduce adjustments for transfer initiation
  components/fctl/cmd/payments/transferinitiation/list.go
  components/fctl/cmd/payments/transferinitiation/show.go
  components/payments/cmd/api/internal/api/transfer_initiation.go
  components/payments/cmd/api/internal/api/transfer_initiation_test.go
  components/payments/cmd/api/internal/storage/transfer_initiation.go
  components/payments/cmd/connectors/internal/api/service/service.go
  components/payments/cmd/connectors/internal/api/service/service_test.go
  components/payments/cmd/connectors/internal/api/service/transfer_initiation.go
  components/payments/cmd/connectors/internal/api/service/transfer_initiation_test.go
  components/payments/cmd/connectors/internal/api/transfer_initiation.go
  components/payments/cmd/connectors/internal/api/transfer_initiation_test.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_payments.go
  components/payments/cmd/connectors/internal/connectors/bankingcircle/task_payments.go
  components/payments/cmd/connectors/internal/connectors/currencycloud/task_payments.go
  components/payments/cmd/connectors/internal/connectors/dummypay/connector_test.go
  components/payments/cmd/connectors/internal/connectors/mangopay/task_payments.go
  components/payments/cmd/connectors/internal/connectors/modulr/task_payments.go
  components/payments/cmd/connectors/internal/connectors/moneycorp/task_payments.go
  components/payments/cmd/connectors/internal/connectors/stripe/task_payments.go
  components/payments/cmd/connectors/internal/connectors/wise/task_payments.go
  components/payments/cmd/connectors/internal/ingestion/ingester.go
  components/payments/cmd/connectors/internal/ingestion/ingester_test.go
  components/payments/cmd/connectors/internal/ingestion/transfer_initiation.go
  components/payments/cmd/connectors/internal/storage/transfer_initiation.go
  components/payments/cmd/connectors/internal/storage/transfer_initiation_test.go
  components/payments/internal/messages/transfer_initiations.go
  components/payments/internal/models/transfer_initiation.go
  components/payments/internal/storage/migrations_v1.x.go
  components/payments/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/transferinitiation.md
  releases/sdks/go/docs/pkg/models/shared/transferinitiationadjusments.md
  releases/sdks/go/docs/pkg/models/shared/transferinitiationstatus.md
  releases/sdks/go/pkg/models/shared/transferinitiation.go
  releases/sdks/go/pkg/models/shared/transferinitiationadjusments.go
  releases/sdks/go/pkg/models/shared/transferinitiationstatus.go
Labels: components/payments

#1101 feat: Add new Docker Image (scratch)
  .github/workflows/main.yml
  .goreleaser.default.yaml
  Earthfile
  components/fctl/scratch.Dockerfile
  components/ledger/scratch.Dockerfile
  components/operator/scratch.Dockerfile
  components/payments/scratch.Dockerfile
  ee/agent/scratch.Dockerfile
  ee/auth/scratch.Dockerfile
  ee/gateway/scratch.Dockerfile
  ee/orchestration/scratch.Dockerfile
  ee/reconciliation/scratch.Dockerfile
  ee/search/scratch.Dockerfile
  ee/stargate/scratch.Dockerfile
  ee/wallets/scratch.Dockerfile
  ee/webhooks/scratch.Dockerfile
Labels: components/fctl, components/operator, components/payments, components/ledger, build-images, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1112 fix(wallets): docker compose
  ee/wallets/docker-compose.yml
Labels: ee/wallets

#1130 fix(payments): Upgrade Atlar client to v1.2.1
  components/payments/go.mod
  components/payments/go.sum
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments

#1123 feat(webhooks): ENG-459 give optional names to webhook configs
  components/operator/internal/controllers/stack/testdata/monopod-disabled-one-service/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-latest/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-ledgerv1/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-payments-after-v1.0.0-alpha.6/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-payments-before-v1.0.0-alpha.6/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/monopod-search-before-v0.7.0/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-debug/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-disabled-one-service/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-no-monitoring/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-check-scopes/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-custom-registry/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-gateway-fallback/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest-with-secrets/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-latest/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-ledger-v2.0.0-beta.7/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-orchestration-v0.2.0/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-service-annotation/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log-unvalid-tag/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-audit-log/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-with-new-versions-per-module-gateway/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-without-audit-log/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/controllers/stack/testdata/multipod-without-new-versions-per-module-gateway/results/jobs-batch-v1/webhooks--db-migration.yaml
  components/operator/internal/modules/webhooks/handler.go
  ee/webhooks/cmd/flag/flags.go
  ee/webhooks/cmd/migrate.go
  ee/webhooks/cmd/root.go
  ee/webhooks/cmd/serve.go
  ee/webhooks/cmd/worker.go
  ee/webhooks/go.mod
  ee/webhooks/go.sum
  ee/webhooks/openapi.yaml
  ee/webhooks/pkg/attempt.go
  ee/webhooks/pkg/config.go
  ee/webhooks/pkg/storage/migrations.go
  ee/webhooks/pkg/storage/postgres/postgres.go
  ee/webhooks/pkg/storage/postgres/postgres_test.go
  tests/integration/internal/modules/webhooks.go
Labels: ee/webhooks

#1133 feat(auth): replace gorm by bun
  components/fctl/membershipclient/go.sum
  components/operator/.earthly/configuration/templates/configuration.yaml
  components/payments/go.sum
  ee/auth/cmd/serve.go
  ee/auth/go.mod
  ee/auth/go.sum
  ee/auth/pkg/api/authorization/accesstoken_test.go
  ee/auth/pkg/api/clients.go
  ee/auth/pkg/api/clients_test.go
  ee/auth/pkg/api/users.go
  ee/auth/pkg/api/users_test.go
  ee/auth/pkg/api/util.go
  ee/auth/pkg/array.go
  ee/auth/pkg/client.go
  ee/auth/pkg/metadata.go
  ee/auth/pkg/oidc/authorize_callback.go
  ee/auth/pkg/oidc/oidc_test.go
  ee/auth/pkg/oidc/storage.go
  ee/auth/pkg/refresh.go
  ee/auth/pkg/request.go
  ee/auth/pkg/storage/sqlstorage/database.go
  ee/auth/pkg/storage/sqlstorage/module.go
  ee/auth/pkg/storage/sqlstorage/storage.go
  ee/auth/pkg/token.go
  ee/auth/pkg/user.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/configuser.md
  releases/sdks/go/docs/sdks/webhooks/README.md
  releases/sdks/go/formance.go
  releases/sdks/go/gen.yaml
  releases/sdks/go/pkg/models/shared/configuser.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/payments, ee/auth

#1145 fix: remove command restriction on delete list show
  components/fctl/cmd/cloud/organizations/users/root.go
  components/fctl/cmd/cloud/organizations/users/update.go
  components/fctl/cmd/payments/transferinitiation/reverse.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/docs/Role.md
  components/fctl/membershipclient/go.sum
  components/fctl/membershipclient/model_role.go
Labels: components/fctl

#1146 fix: for future breaking change, and user properties addition
  components/fctl/cmd/cloud/organizations/create.go
  components/fctl/cmd/cloud/organizations/users/link.go
  components/fctl/cmd/cloud/organizations/users/root.go
  components/fctl/cmd/cloud/organizations/users/unlink.go
  components/fctl/cmd/stack/role/delete.go
  components/fctl/cmd/stack/role/upsert.go
  components/fctl/cmd/stack/root.go
  components/fctl/cmd/stack/users/link.go
  components/fctl/cmd/stack/users/list.go
  components/fctl/cmd/stack/users/root.go
  components/fctl/cmd/stack/users/unlink.go
  components/fctl/membership-swagger.yaml
  components/fctl/membershipclient/.openapi-generator/FILES
  components/fctl/membershipclient/README.md
  components/fctl/membershipclient/api/openapi.yaml
  components/fctl/membershipclient/api_default.go
  components/fctl/membershipclient/docs/DefaultApi.md
  components/fctl/membershipclient/docs/ReadStackUserAccess.md
  components/fctl/membershipclient/docs/UpdateOrganizationUserRequest.md
  components/fctl/membershipclient/docs/UpdateStackUserRequest.md
  components/fctl/membershipclient/model_read_stack_user_access.go
  components/fctl/membershipclient/model_update_organization_user_request.go
  components/fctl/membershipclient/model_update_stack_user_request.go
Labels: components/fctl

#1151 feat(payments): small improvments + worker pool
  components/payments/cmd/connectors/internal/api/connectormodule.go
  components/payments/cmd/connectors/internal/connectors/adyen/task_standard_webhooks.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/bankingcircle/task_fetch_payments.go
  components/payments/cmd/connectors/internal/connectors/currencycloud/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/dummypay/connector_test.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_ingest.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_init_directory.go
  components/payments/cmd/connectors/internal/connectors/mangopay/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/modulr/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/moneycorp/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/stripe/task_fetch_payments_for_connected_account.go
  components/payments/cmd/connectors/internal/connectors/wise/task_fetch_transfers.go
  components/payments/cmd/connectors/internal/ingestion/ingester.go
  components/payments/cmd/connectors/internal/ingestion/payments.go
  components/payments/cmd/connectors/internal/ingestion/payments_test.go
  components/payments/cmd/connectors/internal/ingestion/task.go
  components/payments/cmd/connectors/internal/task/scheduler.go
  components/payments/cmd/connectors/internal/task/scheduler_test.go
  components/payments/go.mod
  components/payments/go.sum
Labels: components/payments

#1156 feat(payments): improve adjustment system for stripe
  components/fctl/cmd/payments/payments/show.go
  components/payments/cmd/api/internal/api/payments.go
  components/payments/cmd/api/internal/storage/metadata.go
  components/payments/cmd/api/internal/storage/payments.go
  components/payments/cmd/connectors/internal/connectors/atlar/metadata.go
  components/payments/cmd/connectors/internal/connectors/atlar/task_fetch_transactions.go
  components/payments/cmd/connectors/internal/connectors/dummypay/task_ingest.go
  components/payments/cmd/connectors/internal/connectors/stripe/timeline_transactions.go
  components/payments/cmd/connectors/internal/connectors/stripe/translate.go
  components/payments/cmd/connectors/internal/ingestion/ingester.go
  components/payments/cmd/connectors/internal/ingestion/ingester_test.go
  components/payments/cmd/connectors/internal/ingestion/payments.go
  components/payments/cmd/connectors/internal/storage/metadata.go
  components/payments/cmd/connectors/internal/storage/payments.go
  components/payments/internal/models/adjustment.go
  components/payments/internal/models/metadata.go
  components/payments/internal/models/payment.go
  components/payments/internal/storage/migrations_v1.x.go
  components/payments/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/paymentadjustment.md
  releases/sdks/go/docs/pkg/models/shared/paymentstatus.md
  releases/sdks/go/docs/sdks/payments/README.md
  releases/sdks/go/pkg/models/shared/paymentadjustment.go
  releases/sdks/go/pkg/models/shared/paymentstatus.go
Labels: components/payments

#1159 feat(payments): add mangopay bank accounts creation
  components/fctl/cmd/payments/bankaccounts/list.go
  components/fctl/cmd/payments/bankaccounts/show.go
  components/payments/cmd/api/internal/api/bank_accounts.go
  components/payments/cmd/api/internal/api/bank_accounts_test.go
  components/payments/cmd/connectors/internal/api/bank_account.go
  components/payments/cmd/connectors/internal/api/bank_account_test.go
  components/payments/cmd/connectors/internal/connectors/mangopay/client/bank_accounts.go
  components/payments/cmd/connectors/internal/connectors/mangopay/client/metadata.go
  components/payments/cmd/connectors/internal/connectors/mangopay/connector.go
  components/payments/cmd/connectors/internal/connectors/mangopay/task_create_external_bank_account.go
  components/payments/cmd/connectors/internal/connectors/mangopay/task_resolve.go
  components/payments/cmd/connectors/internal/storage/bank_accounts.go
  components/payments/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/bankaccount.md
  releases/sdks/go/pkg/models/shared/bankaccount.go
Labels: components/payments
