Repository formancehq/stack, pull requests merged in 2024-02, with the labels that each got.

#1166 feat: add capability to use effective date on balances aggregation endpoint
  components/ledger/internal/api/v1/controllers_balances.go
  components/ledger/internal/api/v1/controllers_balances_test.go
  components/ledger/internal/api/v1/utils.go
  components/ledger/internal/api/v2/controllers_balances.go
  components/ledger/internal/api/v2/controllers_balances_test.go
  components/ledger/internal/api/v2/utils.go
  components/ledger/internal/storage/ledgerstore/balances.go
  components/ledger/internal/storage/ledgerstore/balances_test.go
  components/ledger/internal/storage/ledgerstore/bucket.go
  components/ledger/internal/storage/ledgerstore/migrations/3-fix-trigger-inserting-backdated-transactions.sql
  components/ledger/internal/storage/ledgerstore/store_benchmarks_test.go
  components/ledger/internal/time.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v1.yaml
  components/ledger/openapi/v2.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/operations/getbalancesaggregatedrequest.md
  releases/sdks/go/docs/pkg/models/operations/v2getbalancesaggregatedrequest.md
  releases/sdks/go/pkg/models/operations/getbalancesaggregated.go
  releases/sdks/go/pkg/models/operations/v2getbalancesaggregated.go
  tests/integration/suite/ledger-aggregated-balances.go
Labels: components/ledger

#1179 fix: add missing goreleaser file
  components/operator/.goreleaser.yml
  components/operator/Earthfile
  components/operator/Makefile
  components/operator/build.Dockerfile
  components/operator/main.go
Labels: components/operator

#1182 fix: auth upgrade
  ee/auth/pkg/storage/sqlstorage/database.go
Labels: build-images

#1183 feat(operator): set read only filesystem on all pods
  .github/workflows/main.yml
  components/operator/config/crd/base/auth.components.formance.com_clients.yaml
  components/operator/config/crd/base/auth.components.formance.com_scopes.yaml
  components/operator/config/crd/base/components.formance.com_auths.yaml
  components/operator/config/crd/base/components.formance.com_controls.yaml
  components/operator/config/crd/base/components.formance.com_counterparties.yaml
  components/operator/config/crd/base/components.formance.com_ledgers.yaml
  components/operator/config/crd/base/components.formance.com_orchestrations.yaml
  components/operator/config/crd/base/components.formance.com_payments.yaml
  components/operator/config/crd/base/components.formance.com_searches.yaml
  components/operator/config/crd/base/components.formance.com_searchingesters.yaml
  components/operator/config/crd/base/components.formance.com_wallets.yaml
  components/operator/config/crd/base/components.formance.com_webhooks.yaml
  components/operator/config/crd/base/formance.com_authclients.yaml
  components/operator/config/crd/base/formance.com_auths.yaml
  components/operator/config/crd/base/formance.com_benthos.yaml
  components/operator/config/crd/base/formance.com_benthosstreams.yaml
  components/operator/config/crd/base/formance.com_brokertopicconsumers.yaml
  components/operator/config/crd/base/formance.com_brokertopics.yaml
  components/operator/config/crd/base/formance.com_databases.yaml
  components/operator/config/crd/base/formance.com_gatewayhttpapis.yaml
  components/operator/config/crd/base/formance.com_gateways.yaml
  components/operator/config/crd/base/formance.com_ledgers.yaml
  components/operator/config/crd/base/formance.com_orchestrations.yaml
  components/operator/config/crd/base/formance.com_payments.yaml
  components/operator/config/crd/base/formance.com_reconciliations.yaml
  components/operator/config/crd/base/formance.com_searches.yaml
  components/operator/config/crd/base/formance.com_secretreferences.yaml
  components/operator/config/crd/base/formance.com_settings.yaml
  components/operator/config/crd/base/formance.com_stacks.yaml
  components/operator/config/crd/base/formance.com_stargates.yaml
  components/operator/config/crd/base/formance.com_versions.yaml
  components/operator/config/crd/base/formance.com_wallets.yaml
  components/operator/config/crd/base/formance.com_webhooks.yaml
  components/operator/config/crd/base/stack.formance.com_configurations.yaml
  components/operator/config/crd/base/stack.formance.com_licenses.yaml
  components/operator/config/crd/base/stack.formance.com_migrations.yaml
  components/operator/config/crd/base/stack.formance.com_stacks.yaml
  components/operator/config/crd/base/stack.formance.com_versions.yaml
  components/operator/internal/resources/deployments/deployments.go
  components/operator/internal/resources/ledgers/deployments.go
Labels: components/operator

#1184 fix(operator): missing rbac on pods
  .github/workflows/main.yml
  components/operator/Makefile
  components/operator/config/crd/base/auth.components.formance.com_clients.yaml
  components/operator/config/crd/base/auth.components.formance.com_scopes.yaml
  components/operator/config/crd/base/components.formance.com_auths.yaml
  components/operator/config/crd/base/components.formance.com_controls.yaml
  components/operator/config/crd/base/components.formance.com_counterparties.yaml
  components/operator/config/crd/base/components.formance.com_ledgers.yaml
  components/operator/config/crd/base/components.formance.com_orchestrations.yaml
  components/operator/config/crd/base/components.formance.com_payments.yaml
  components/operator/config/crd/base/components.formance.com_searches.yaml
  components/operator/config/crd/base/components.formance.com_searchingesters.yaml
  components/operator/config/crd/base/components.formance.com_wallets.yaml
  components/operator/config/crd/base/components.formance.com_webhooks.yaml
  components/operator/config/crd/base/formance.com_authclients.yaml
  components/operator/config/crd/base/formance.com_auths.yaml
  components/operator/config/crd/base/formance.com_benthos.yaml
  components/operator/config/crd/base/formance.com_benthosstreams.yaml
  components/operator/config/crd/base/formance.com_brokertopicconsumers.yaml
  components/operator/config/crd/base/formance.com_brokertopics.yaml
  components/operator/config/crd/base/formance.com_databases.yaml
  components/operator/config/crd/base/formance.com_gatewayhttpapis.yaml
  components/operator/config/crd/base/formance.com_gateways.yaml
  components/operator/config/crd/base/formance.com_ledgers.yaml
  components/operator/config/crd/base/formance.com_orchestrations.yaml
  components/operator/config/crd/base/formance.com_payments.yaml
  components/operator/config/crd/base/formance.com_reconciliations.yaml
  components/operator/config/crd/base/formance.com_searches.yaml
  components/operator/config/crd/base/formance.com_secretreferences.yaml
  components/operator/config/crd/base/formance.com_settings.yaml
  components/operator/config/crd/base/formance.com_stacks.yaml
  components/operator/config/crd/base/formance.com_stargates.yaml
  components/operator/config/crd/base/formance.com_versions.yaml
  components/operator/config/crd/base/formance.com_wallets.yaml
  components/operator/config/crd/base/formance.com_webhooks.yaml
  components/operator/config/crd/base/stack.formance.com_configurations.yaml
  components/operator/config/crd/base/stack.formance.com_licenses.yaml
  components/operator/config/crd/base/stack.formance.com_migrations.yaml
  components/operator/config/crd/base/stack.formance.com_stacks.yaml
  components/operator/config/crd/base/stack.formance.com_versions.yaml
  components/operator/config/rbac/role.yaml
  components/operator/internal/resources/deployments/deployments.go
  components/operator/internal/resources/ledgers/deployments.go
  components/operator/internal/resources/payments/deployments.go
Labels: components/operator

#1161 feat: agent with operator v2
  .github/workflows/main.yml
  ee/agent/Earthfile
  ee/agent/cmd/root.go
  ee/agent/go.mod
  ee/agent/go.sum
  ee/agent/helm/templates/clusterrole.yaml
  ee/agent/internal/authenticator.go
  ee/agent/internal/generated/server.pb.go
  ee/agent/internal/generated/server_grpc.pb.go
  ee/agent/internal/grpc/client.go
  ee/agent/internal/grpc/connect.go
  ee/agent/internal/grpc/module.go
  ee/agent/internal/grpc/module_test.go
  ee/agent/internal/informer_stacks.go
  ee/agent/internal/informer_versions.go
  ee/agent/internal/k8s/k8s.go
  ee/agent/internal/k8s/module.go
  ee/agent/internal/membership_client.go
  ee/agent/internal/membership_listener.go
  ee/agent/internal/module.go
  ee/agent/main.go
  ee/agent/tests/informers_stacks_test.go
  ee/agent/tests/internal/matcher_be_owned_by.go
  ee/agent/tests/internal/matcher_target_stack.go
  ee/agent/tests/main_test.go
  ee/agent/tests/membership_listener_test.go
Labels: components/fctl, components/operator, components/payments, components/ledger, build-images, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1198 fix: Earthfile
  components/operator/Earthfile
Labels: components/operator

#1199 fix: earthfiles
  components/ledger/Earthfile
  components/payments/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
Labels: components/payments, components/ledger, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1195 feat(libs): update payments events
  components/payments/internal/messages/accounts.go
  components/payments/internal/messages/transfer_initiations.go
  ee/search/benthos/streams/payments/v0.0.0/payments_ingestion.yaml
  libs/events/services/payments/v1.0.0/CONNECTOR_RESET.yaml
  libs/events/services/payments/v1.0.0/DELETED_POOL.yaml
  libs/events/services/payments/v1.0.0/DELETED_TRANSFER_INITIATION.yaml
  libs/events/services/payments/v1.0.0/SAVED_ACCOUNT.yaml
  libs/events/services/payments/v1.0.0/SAVED_BALANCE.yaml
  libs/events/services/payments/v1.0.0/SAVED_BANK_ACCOUNT.yaml
  libs/events/services/payments/v1.0.0/SAVED_PAYMENT.yaml
  libs/events/services/payments/v1.0.0/SAVED_POOL.yaml
  libs/events/services/payments/v1.0.0/SAVED_TRANSFER_INITIATION.yaml
  releases/sdks/go/.speakeasy/gen.lock
Labels: ee/agent

#1203 feat(*): homogenerous migrations commands
  components/ledger/libs/bun/bunmigrate/command.go
  components/operator/docs/crd.md
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_gatewayhttpapis.formance.com.yaml
  components/payments/cmd/migrate.go
  components/payments/cmd/root.go
  ee/auth/cmd/root.go
  ee/auth/go.mod
  ee/auth/go.sum
  ee/orchestration/cmd/root.go
  ee/orchestration/go.mod
  ee/orchestration/go.sum
  ee/reconciliation/cmd/migrate.go
  ee/reconciliation/cmd/root.go
  ee/reconciliation/go.mod
  ee/reconciliation/go.sum
  ee/webhooks/cmd/migrate.go
  ee/webhooks/go.mod
  ee/webhooks/go.sum
  libs/go-libs/bun/bunmigrate/command.go
  releases/sdks/go/.speakeasy/gen.lock
Labels: ee/auth, ee/orchestration, ee/webhooks, ee/reconciliation

#1205 fix(agent): stack status
  ee/agent/internal/informer_stacks.go
Labels: ee/agent

#1207 feat(payments): add endpoint to update bank accounts metadata
  components/fctl/cmd/payments/bankaccounts/root.go
  components/fctl/cmd/payments/bankaccounts/update_metadata.go
  components/fctl/cmd/payments/payments/set_metadata.go
  components/operator/internal/resources/payments/Caddyfile.gotpl
  components/payments/cmd/connectors/internal/api/backend/backend.go
  components/payments/cmd/connectors/internal/api/backend/backend_generated.go
  components/payments/cmd/connectors/internal/api/bank_account.go
  components/payments/cmd/connectors/internal/api/bank_account_test.go
  components/payments/cmd/connectors/internal/api/router.go
  components/payments/cmd/connectors/internal/api/service/bank_account.go
  components/payments/cmd/connectors/internal/api/service/bank_account_test.go
  components/payments/cmd/connectors/internal/api/service/service.go
  components/payments/cmd/connectors/internal/api/service/service_test.go
  components/payments/cmd/connectors/internal/storage/bank_accounts.go
  components/payments/cmd/connectors/internal/storage/bank_accounts_test.go
  components/payments/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/README.md
  releases/sdks/go/docs/pkg/models/operations/updatebankaccountmetadatarequest.md
  releases/sdks/go/docs/pkg/models/operations/updatebankaccountmetadataresponse.md
  releases/sdks/go/docs/pkg/models/shared/updatebankaccountmetadatarequest.md
  releases/sdks/go/docs/sdks/payments/README.md
  releases/sdks/go/payments.go
  releases/sdks/go/pkg/models/operations/updatebankaccountmetadata.go
  releases/sdks/go/pkg/models/shared/updatebankaccountmetadatarequest.go
Labels: components/payments

#1204 feat: add jobs to upgrade databases on all services
  components/operator/api/formance.com/v1beta1/ledger_types.go
  components/operator/api/formance.com/v1beta1/shared.go
  components/operator/config/crd/bases/formance.com_auths.yaml
  components/operator/config/crd/bases/formance.com_gateways.yaml
  components/operator/config/crd/bases/formance.com_ledgers.yaml
  components/operator/config/crd/bases/formance.com_orchestrations.yaml
  components/operator/config/crd/bases/formance.com_payments.yaml
  components/operator/config/crd/bases/formance.com_reconciliations.yaml
  components/operator/config/crd/bases/formance.com_searches.yaml
  components/operator/config/crd/bases/formance.com_stargates.yaml
  components/operator/config/crd/bases/formance.com_wallets.yaml
  components/operator/config/crd/bases/formance.com_webhooks.yaml
  components/operator/internal/core/module.go
  components/operator/internal/core/version.go
  components/operator/internal/resources/auths/controller.go
  components/operator/internal/resources/auths/deployment.go
  components/operator/internal/resources/benthosstreams/create.go
  components/operator/internal/resources/databases/create.go
  components/operator/internal/resources/databases/migrate.go
  components/operator/internal/resources/databases/watch.go
  components/operator/internal/resources/gatewayhttpapis/create.go
  components/operator/internal/resources/gateways/Caddyfile.gotpl
  components/operator/internal/resources/gateways/deployment.go
  components/operator/internal/resources/jobs/job.go
  components/operator/internal/resources/ledgers/controller.go
  components/operator/internal/resources/ledgers/deployments.go
  components/operator/internal/resources/orchestrations/controller.go
  components/operator/internal/resources/orchestrations/deployments.go
  components/operator/internal/resources/payments/controller.go
  components/operator/internal/resources/payments/deployments.go
  components/operator/internal/resources/reconciliations/controller.go
  components/operator/internal/resources/reconciliations/deployments.go
  components/operator/internal/resources/searches/controller.go
  components/operator/internal/resources/stargates/deployment.go
  components/operator/internal/resources/wallets/deployment.go
  components/operator/internal/resources/webhooks/controller.go
  components/operator/internal/resources/webhooks/deployment.go
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-audit.yaml
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-ledger-and-another-service.yaml
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-ledger-and-auth.yaml
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-ledger-only.yaml
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-opentelemetry.yaml
Labels: ee/auth, ee/orchestration, ee/webhooks, ee/reconciliation

#1212 fix(agent): enabling/disabling stacks
  ee/agent/Earthfile
  ee/agent/internal/membership_listener.go
  ee/agent/tests/membership_listener_test.go
Labels: ee/agent

#1213 feat(ledger): add migrate command
  components/ledger/cmd/buckets.go
  components/ledger/cmd/root.go
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/openapi.yaml
  components/operator/internal/resources/ledgers/controller.go
  components/operator/internal/resources/ledgers/deployments.go
  releases/Earthfile
Labels: components/ledger

#1216 feat(payments): rename bank accounts adjustments
  components/fctl/cmd/payments/bankaccounts/show.go
  components/payments/cmd/api/internal/api/bank_accounts.go
  components/payments/cmd/api/internal/api/bank_accounts_test.go
  components/payments/cmd/api/internal/storage/bank_accounts.go
  components/payments/cmd/connectors/internal/api/bank_account.go
  components/payments/cmd/connectors/internal/api/bank_account_test.go
  components/payments/cmd/connectors/internal/api/service/bank_account.go
  components/payments/cmd/connectors/internal/api/service/bank_account_test.go
  components/payments/cmd/connectors/internal/api/service/service.go
  components/payments/cmd/connectors/internal/api/service/service_test.go
  components/payments/cmd/connectors/internal/ingestion/bank_account.go
  components/payments/cmd/connectors/internal/ingestion/ingester.go
  components/payments/cmd/connectors/internal/ingestion/ingester_test.go
  components/payments/cmd/connectors/internal/storage/bank_accounts.go
  components/payments/cmd/connectors/internal/storage/bank_accounts_test.go
  components/payments/internal/messages/bank_account.go
  components/payments/internal/models/bank_account.go
  components/payments/internal/storage/migrations_v1.x.go
  components/payments/openapi.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/bankaccount.md
  releases/sdks/go/docs/pkg/models/shared/bankaccountrelatedaccounts.md
  releases/sdks/go/pkg/models/shared/bankaccount.go
  releases/sdks/go/pkg/models/shared/bankaccountrelatedaccounts.go
Labels: components/payments

#1220 feat(ledger): add LEDGER_NOT_FOUND error code
  components/ledger/internal/api/backend/resolver.go
  components/ledger/libs/api/utils.go
  components/ledger/openapi.yaml
  components/ledger/openapi/v2.yaml
  libs/go-libs/api/utils.go
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/v2errorsenum.md
  releases/sdks/go/formance.go
  releases/sdks/go/gen.yaml
  releases/sdks/go/pkg/models/shared/v2errorsenum.go
  tests/integration/suite/ledger-list-transactions.go
Labels: components/ledger

#1235 feat: status can now be handle by membership on create, restore, upgrade
  components/fctl/cmd/stack/controller.go
  components/fctl/cmd/stack/create.go
  components/fctl/cmd/stack/restore.go
  components/fctl/cmd/stack/upgrade.go
Labels: components/fctl

#1250 feat: replace secret references by resources references
  components/operator/.goreleaser.yml
  components/operator/Earthfile
  components/operator/Makefile
  components/operator/PROJECT
  components/operator/api/formance.com/v1beta1/resourcereference_types.go
  components/operator/api/formance.com/v1beta1/zz_generated.deepcopy.go
  components/operator/cmd/main.go
  components/operator/config/crd/bases/formance.com_resourcereferences.yaml
  components/operator/config/crd/kustomization.yaml
  components/operator/config/rbac/formance.com_resourcereference_editor_role.yaml
  components/operator/config/rbac/formance.com_resourcereference_viewer_role.yaml
  components/operator/config/rbac/role.yaml
  components/operator/config/samples/formance.com_v1beta1_resourcereference.yaml
  components/operator/config/samples/kustomization.yaml
  components/operator/docs/crd.md
  components/operator/go.mod
  components/operator/helm/templates/gen/apiextensions.k8s.io_v1_customresourcedefinition_resourcereferences.formance.com.yaml
  components/operator/helm/templates/gen/rbac.authorization.k8s.io_v1_clusterrole_manager-role.yaml
  components/operator/internal/core/utils.go
  components/operator/internal/resources/all.go
  components/operator/internal/resources/benthos/controller.go
  components/operator/internal/resources/databases/controller.go
  components/operator/internal/resources/orchestrations/controller.go
  components/operator/internal/resources/orchestrations/deployments.go
  components/operator/internal/resources/resourcereferences/controller.go
  components/operator/internal/resources/resourcereferences/create.go
  components/operator/internal/resources/searches/controller.go
  components/operator/internal/resources/secretreferences/controller.go
  components/operator/internal/resources/secretreferences/create.go
  components/operator/internal/resources/stacks/controller.go
  components/operator/internal/tests/database_controller_test.go
  components/operator/internal/tests/resourcereferences_controller_test.go
Labels: components/operator

#1252 fix: missing tools directory scanning
  .github/actions/find-directory/index.js
  .github/workflows/main.yml
  tools/operator-utils/scratch.Dockerfile
Labels: build-images

#1256 feat(operator): document actual settings
  components/operator/.earthly/configuration/templates/settings.yaml
  components/operator/README.md
Labels: components/operator

#1260 fix: earthly core
  Earthfile
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/ledger/libs/Earthfile
  components/operator/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  libs/go-libs/Earthfile
  releases/Earthfile
  tests/benchmarks/Earthfile
  tests/integration/Earthfile
  tools/operator-utils/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1262 feat(operator): Add metrics for gateway
  components/operator/Earthfile
  components/operator/internal/resources/gateways/Caddyfile.gotpl
  components/operator/internal/resources/gateways/deployment.go
  components/operator/internal/resources/settings/caddy.go
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-audit.yaml
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-ledger-and-another-service.yaml
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-ledger-and-auth.yaml
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-ledger-only.yaml
  components/operator/internal/tests/testdata/resources/gateway-controller/configmap-with-opentelemetry.yaml
Labels: components/operator

#1268 fix(go-libs): typo
  components/ledger/go.mod
  components/ledger/libs/bun/bunconnect/connect.go
  components/payments/cmd/connectors/internal/storage/module.go
  components/payments/go.mod
  libs/go-libs/bun/bunconnect/connect.go
Labels: components/payments, components/ledger

#1272 fix(orchestration): integer with trailing zero formatted as scientist notation
  ee/orchestration/internal/triggers/expression.go
  ee/orchestration/internal/triggers/trigger_test.go
  tests/integration/suite/orchestration-triggers.go
Labels: ee/orchestration

#1277 fix: helm strict validation
  Earthfile
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/ledger/libs/Earthfile
  components/operator/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  helm/regions/Earthfile
  libs/go-libs/Earthfile
  releases/Earthfile
  tests/benchmarks/Earthfile
  tests/integration/Earthfile
  tools/operator-utils/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1285 fix(orchestration): stop trigger workflows when variables evaluation fails
  components/fctl/cmd/orchestration/triggers/occurrences/list.go
  components/ledger/internal/posting.go
  components/ledger/libs/publish/cli.go
  components/ledger/libs/publish/nats.go
  ee/orchestration/internal/storage/migrations.go
  ee/orchestration/internal/triggers/activity.go
  ee/orchestration/internal/triggers/trigger.go
  ee/orchestration/internal/triggers/workflow_trigger.go
  ee/orchestration/openapi.yaml
  ee/orchestration/openapi/v1.yaml
  ee/orchestration/openapi/v2.yaml
  releases/sdks/go/.speakeasy/gen.lock
  releases/sdks/go/docs/pkg/models/shared/triggeroccurrence.md
  releases/sdks/go/docs/pkg/models/shared/v2triggeroccurrence.md
  releases/sdks/go/pkg/models/shared/triggeroccurrence.go
  releases/sdks/go/pkg/models/shared/v2triggeroccurrence.go
  tests/integration/suite/orchestration-triggers.go
Labels: ee/orchestration

#1286 feat(orchestration): add some events
  components/ledger/libs/publish/module.go
  ee/orchestration/internal/triggers/activity.go
  ee/orchestration/internal/triggers/module.go
  ee/orchestration/internal/triggers/workflow_trigger.go
  ee/orchestration/internal/triggers/workflow_trigger_test.go
  ee/orchestration/internal/workflow/activities.go
  ee/orchestration/internal/workflow/activities_test.go
  ee/orchestration/internal/workflow/input.go
  ee/orchestration/internal/workflow/manager_test.go
  ee/orchestration/internal/workflow/module.go
  ee/orchestration/pkg/events/events.go
  libs/events/services/orchestration/v2.0.0/FAILED_TRIGGER.yaml
  libs/events/services/orchestration/v2.0.0/FAILED_WORKFLOW.yaml
  libs/events/services/orchestration/v2.0.0/SUCCEEDED_TRIGGER.yaml
  libs/events/services/orchestration/v2.0.0/SUCCEEDED_WORKFLOW.yaml
  libs/go-libs/publish/module.go
  tests/integration/internal/events.go
  tests/integration/internal/helpers.go
  tests/integration/internal/modules/ledger.go
  tests/integration/internal/modules/orchestration.go
  tests/integration/suite/orchestration-triggers.go
  tests/integration/suite/orchestration-workflows-execute-with-error.go
  tests/integration/suite/orchestration-workflows-execute.go
Labels: ee/orchestration

#1290 feat: use main for earthly core
  Earthfile
  components/Earthfile
  components/fctl/Earthfile
  components/ledger/Earthfile
  components/ledger/libs/Earthfile
  components/operator/Earthfile
  components/payments/Earthfile
  ee/Earthfile
  ee/agent/Earthfile
  ee/auth/Earthfile
  ee/gateway/Earthfile
  ee/orchestration/Earthfile
  ee/reconciliation/Earthfile
  ee/search/Earthfile
  ee/stargate/Earthfile
  ee/wallets/Earthfile
  ee/webhooks/Earthfile
  helm/Earthfile
  helm/regions/Earthfile
  libs/go-libs/Earthfile
  releases/Earthfile
  tests/benchmarks/Earthfile
  tests/integration/Earthfile
  tools/operator-utils/Earthfile
Labels: components/fctl, components/operator, components/payments, components/ledger, ee/agent, ee/auth, ee/gateway, ee/orchestration, ee/search, ee/stargate, ee/wallets, ee/webhooks, ee/reconciliation

#1265 feat(kafka): add iam authentication
  components/ledger/go.mod
  components/ledger/go.sum
  components/ledger/libs/aws/iam/load.go
  components/ledger/libs/go.mod
  components/ledger/libs/go.sum
  components/ledger/libs/publish/cli.go
  components/ledger/libs/publish/iam.go
  components/ledger/libs/publish/kafka.go
  components/operator/README.md
  components/operator/internal/resources/auths/controller.go
  components/operator/internal/resources/auths/deployment.go
  components/operator/internal/resources/benthos/controller.go
  components/operator/internal/resources/databases/controller.go
  components/operator/internal/resources/databases/env.go
  components/operator/internal/resources/databases/migrate.go
  components/operator/internal/resources/ledgers/deployments.go
  components/operator/internal/resources/orchestrations/controller.go
  components/operator/internal/resources/orchestrations/deployments.go
  components/operator/internal/resources/payments/controller.go
  components/operator/internal/resources/payments/deployments.go
  components/operator/internal/resources/reconciliations/controller.go
  components/operator/internal/resources/reconciliations/deployments.go
  components/operator/internal/resources/settings/aws_role.go
  components/operator/internal/resources/webhooks/controller.go
  components/operator/internal/resources/webhooks/deployment.go
  components/payments/cmd/connectors/root.go
  components/payments/go.mod
  components/payments/go.sum
  ee/gateway/go.mod
  ee/gateway/go.sum
  ee/orchestration/go.mod
  ee/orchestration/go.sum
  ee/search/benthos/config.yml
  ee/search/benthos/templates/event_bus.yaml
  ee/stargate/go.mod
  ee/stargate/go.sum
  ee/webhooks/go.mod
  ee/webhooks/go.sum
  libs/go-libs/aws/iam/load.go
  libs/go-libs/go.mod
  libs/go-libs/go.sum
  libs/go-libs/publish/cli.go
  libs/go-libs/publish/iam.go
  libs/go-libs/publish/kafka.go
  tests/integration/go.mod
  tests/integration/go.sum
Labels: components/operator, components/payments, components/ledger, ee/gateway, ee/orchestration, ee/stargate, ee/webhooks
